Fabrica/planta.json
[{"id":"cb8b530f.df034","type":"tab","label":"Fabrica","disabled":false,"info":""},{"id":"75cf50cc.a79b7","type":"ui_text","z":"cb8b530f.df034","group":"cccf4b9e.9e4e88","order":1,"width":6,"height":1,"name":"","label":"<i class=\"fa fa-thermometer-empty\" aria-hidden=\"true\"> Temperatura</i>","format":"<font color= {{msg.color}} > {{msg.payload}}ยบ </font>","layout":"row-center","x":1020,"y":40,"wires":[]},{"id":"701819bf.2c3e98","type":"ui_text","z":"cb8b530f.df034","group":"cccf4b9e.9e4e88","order":2,"width":6,"height":1,"name":"","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"> Humedad</i>","format":"<font color= {{msg.color}} > {{msg.payload}}% </font>","layout":"row-center","x":990,"y":100,"wires":[]},{"id":"e62477c8.005408","type":"ui_text","z":"cb8b530f.df034","group":"c87197b5.415aa8","order":7,"width":6,"height":1,"name":"","label":"<i class=\"fa fa-tint\" aria-hidden=\"true\"> Cantidad de Leche</i>","format":"<font color= {{msg.color}} > {{msg.leche}}L </font>","layout":"row-spread","x":1970,"y":300,"wires":[]},{"id":"17cb2b04.d65185","type":"ui_text","z":"cb8b530f.df034","group":"c87197b5.415aa8","order":9,"width":6,"height":1,"name":"","label":"<i class=\"fa fa-thermometer-full\" aria-hidden=\"true\"> Temperatura Cuba</i>","format":"<font color= {{msg.color}} > {{msg.temp}}ยบ </font>","layout":"row-spread","x":2010,"y":340,"wires":[]},{"id":"2ce15747.4c2958","type":"ui_text","z":"cb8b530f.df034","group":"cccf4b9e.9e4e88","order":3,"width":6,"height":1,"name":"","label":"<i class=\"fa fa-thermometer-empty\" aria-hidden=\"true\"> Temperatura Oficina</i>","format":"<font color= {{msg.color}} > {{msg.payload}}ยบ </font>","layout":"row-center","x":1040,"y":160,"wires":[]},{"id":"42df7fed.0eb89","type":"ui_text","z":"cb8b530f.df034","group":"cccf4b9e.9e4e88","order":4,"width":6,"height":1,"name":"","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"> Humedad Oficina</i>","format":"<font color= {{msg.color}} > {{msg.payload}}% </font>","layout":"row-center","x":1010,"y":220,"wires":[]},{"id":"40b9431.a07cbbc","type":"ui_dropdown","z":"cb8b530f.df034","name":"","label":"","tooltip":"","place":"Select option","group":"c87197b5.415aa8","order":4,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Cuba1","value":"Cuba1","type":"str"},{"label":"Cuba2","value":"Cuba2","type":"str"},{"label":"Cuba3","value":"Cuba3","type":"str"},{"label":"Cuba4","value":"Cuba4","type":"str"},{"label":"Cuba5","value":"Cuba5","type":"str"}],"payload":"","topic":"","x":1240,"y":420,"wires":[["62c7868b.799a88"]]},{"id":"f0ac887.a856d78","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"t1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":820,"wires":[[]]},{"id":"28a36ce0.bdf7e4","type":"function","z":"cb8b530f.df034","name":"","func":"switch(flow.get(\"drop\"))\n  { case  \"Cuba1\":\n        msg.temp = flow.get(\"t1\")\n        msg.leche = flow.get(\"l1\")\n    break\n    \n    case  \"Cuba2\":\n        msg.temp = flow.get(\"t2\")\n        msg.leche = flow.get(\"l2\")\n    break\n    \n    case  \"Cuba3\":\n        msg.temp = flow.get(\"t3\")\n        msg.leche = flow.get(\"l3\")\n    break\n    \n    case  \"Cuba4\":\n        msg.temp = flow.get(\"t4\")\n        msg.leche = flow.get(\"l4\")\n    break\n    \n    case  \"Cuba5\":\n        msg.temp = flow.get(\"t5\")\n        msg.leche = flow.get(\"l5\")\n    break\n    \n    case  \"Cuba6\":\n        msg.temp = flow.get(\"t6\")\n        msg.leche = flow.get(\"l6\")\n    break\n    \n    case  \"Cuba7\":\n        msg.temp = flow.get(\"t7\")\n        msg.leche = flow.get(\"l7\")\n    break\n    \n    case  \"Cuba8\":\n        msg.temp = flow.get(\"t8\")\n        msg.leche = flow.get(\"l8\")\n    break\n    \n    case  \"Cuba9\":\n        msg.temp = flow.get(\"t9\")\n        msg.leche = flow.get(\"l9\")\n    break\n    \n    case  \"Cuba10\":\n        msg.temp = flow.get(\"t10\")\n        msg.leche = flow.get(\"l10\")\n    break\n    \n    default:\n        msg.temp = 1\n        msg.leche = 1\n       \n    break\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":360,"wires":[["571a572e.1f0058","51b2b1bf.de296"]]},{"id":"62c7868b.799a88","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"drop","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":420,"wires":[[]]},{"id":"3009dcf5.aa1d34","type":"inject","z":"cb8b530f.df034","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1270,"y":360,"wires":[["28a36ce0.bdf7e4"]]},{"id":"571a572e.1f0058","type":"function","z":"cb8b530f.df034","name":"","func":"msg.color=\"green\" \nif (msg.leche>15)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":360,"wires":[["e62477c8.005408"]]},{"id":"51b2b1bf.de296","type":"function","z":"cb8b530f.df034","name":"","func":"msg.color=\"green\" \nif (msg.temp>15)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":420,"wires":[["17cb2b04.d65185"]]},{"id":"175e6424.d5a57c","type":"function","z":"cb8b530f.df034","name":"","func":"msg.color=\"green\" \nif (msg.payload>15)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":40,"wires":[["75cf50cc.a79b7"]]},{"id":"62edee48.9f435","type":"function","z":"cb8b530f.df034","name":"","func":"msg.color=\"green\" \nif (msg.payload>15)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":100,"wires":[["701819bf.2c3e98"]]},{"id":"3e957e97.0f06f2","type":"function","z":"cb8b530f.df034","name":"","func":"msg.color=\"green\" \nif (msg.payload>15)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":160,"wires":[["2ce15747.4c2958"]]},{"id":"38a0fcca.77e344","type":"function","z":"cb8b530f.df034","name":"","func":"msg.color=\"green\" \nif (msg.payload>15)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":220,"wires":[["42df7fed.0eb89"]]},{"id":"1f64010.858c3ff","type":"function","z":"cb8b530f.df034","name":"","func":"array=[]\nvar obj={\n    \"Cuba\":\"\",\n    \"Estado\":\"\"\n}\nfor(let i=1; i<=10; i++)\n    { \n        leche=flow.get(\"l\"+i)\n        if (leche>15)\n        {\n            obj={\n                     \"Cuba\":i,\n                      \"Estado\":\"NOK\"\n                }\n            array.push(obj)\n        }\n        \n    }\nmsg.payload=array\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":760,"wires":[["d93f4f9c.2e491","1c3c304b.b8e41"]]},{"id":"1c3c304b.b8e41","type":"debug","z":"cb8b530f.df034","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":820,"wires":[]},{"id":"17270016.c3d66","type":"ui_text","z":"cb8b530f.df034","group":"cccf4b9e.9e4e88","order":5,"width":6,"height":1,"name":"","label":"<i class=\"fa fa-bolt\" aria-hidden=\"true\"> Potencia Consumida</i>","format":"<font color= {{msg.color}} > {{msg.payload}}Kw </font>","layout":"row-center","x":1090,"y":280,"wires":[]},{"id":"1d49289f.c75607","type":"function","z":"cb8b530f.df034","name":"","func":"msg.color=\"green\" \nif (msg.payload>1500)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["17270016.c3d66"]]},{"id":"d93f4f9c.2e491","type":"ui_table","z":"cb8b530f.df034","group":"c87197b5.415aa8","name":"","order":6,"width":7,"height":5,"columns":[],"outputs":0,"cts":false,"x":1130,"y":760,"wires":[]},{"id":"31cfb0f6.80964","type":"mqtt in","z":"cb8b530f.df034","name":"","topic":"cuba1","qos":"2","datatype":"auto","broker":"1121bde2.88c5f2","x":50,"y":820,"wires":[["d183fc49.edbaf"]]},{"id":"d183fc49.edbaf","type":"json","z":"cb8b530f.df034","name":"","property":"payload","action":"","pretty":false,"x":230,"y":820,"wires":[["7f24453f.51cedc"]]},{"id":"7f24453f.51cedc","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DHT11.t","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":820,"wires":[["f0ac887.a856d78","fc6de8fb.8aeeb8"]]},{"id":"fc6de8fb.8aeeb8","type":"ui_chart","z":"cb8b530f.df034","name":"","group":"c87197b5.415aa8","order":1,"width":7,"height":5,"label":"Temperatura cubas","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":760,"wires":[["1f64010.858c3ff"]]},{"id":"5429b098.c2ec4","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"t2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":880,"wires":[[]]},{"id":"91444423.454548","type":"mqtt in","z":"cb8b530f.df034","name":"","topic":"cuba2","qos":"2","datatype":"auto","broker":"1121bde2.88c5f2","x":50,"y":880,"wires":[["80edda8b.7fab68"]]},{"id":"80edda8b.7fab68","type":"json","z":"cb8b530f.df034","name":"","property":"payload","action":"","pretty":false,"x":230,"y":880,"wires":[["5f0b229.ac582dc"]]},{"id":"5f0b229.ac582dc","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DHT11.t","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":880,"wires":[["5429b098.c2ec4","fc6de8fb.8aeeb8"]]},{"id":"51a11faa.26c9e","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"t3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":940,"wires":[[]]},{"id":"241a5ae1.73a056","type":"mqtt in","z":"cb8b530f.df034","name":"","topic":"cuba3","qos":"2","datatype":"auto","broker":"1121bde2.88c5f2","x":50,"y":940,"wires":[["d3a2bb4c.5fe6e8"]]},{"id":"d3a2bb4c.5fe6e8","type":"json","z":"cb8b530f.df034","name":"","property":"payload","action":"","pretty":false,"x":230,"y":940,"wires":[["270505a2.543aba"]]},{"id":"270505a2.543aba","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DHT11.t","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":940,"wires":[["51a11faa.26c9e","fc6de8fb.8aeeb8"]]},{"id":"827fd2ee.2dace","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"t4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1000,"wires":[[]]},{"id":"9e3bc276.e4538","type":"mqtt in","z":"cb8b530f.df034","name":"","topic":"cuba4","qos":"2","datatype":"auto","broker":"1121bde2.88c5f2","x":50,"y":1000,"wires":[["5cb19082.8e6aa"]]},{"id":"5cb19082.8e6aa","type":"json","z":"cb8b530f.df034","name":"","property":"payload","action":"","pretty":false,"x":230,"y":1000,"wires":[["6fd8615b.34cd9"]]},{"id":"6fd8615b.34cd9","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DHT11.t","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1000,"wires":[["827fd2ee.2dace","fc6de8fb.8aeeb8"]]},{"id":"e50665ac.fa1548","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"t5","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1060,"wires":[[]]},{"id":"90f53a34.c601e8","type":"mqtt in","z":"cb8b530f.df034","name":"","topic":"cuba5","qos":"2","datatype":"auto","broker":"1121bde2.88c5f2","x":50,"y":1060,"wires":[["f29a650e.df6628"]]},{"id":"f29a650e.df6628","type":"json","z":"cb8b530f.df034","name":"","property":"payload","action":"","pretty":false,"x":230,"y":1060,"wires":[["f72a152a.93cc18"]]},{"id":"f72a152a.93cc18","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DHT11.t","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1060,"wires":[["e50665ac.fa1548","fc6de8fb.8aeeb8"]]},{"id":"a9d1d402.3b86b8","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"l1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":440,"wires":[[]]},{"id":"8770f8a3.23f298","type":"mqtt in","z":"cb8b530f.df034","name":"","topic":"cuba1","qos":"2","datatype":"auto","broker":"1121bde2.88c5f2","x":50,"y":440,"wires":[["cdc50dc6.faa71"]]},{"id":"cdc50dc6.faa71","type":"json","z":"cb8b530f.df034","name":"","property":"payload","action":"","pretty":false,"x":230,"y":440,"wires":[["c3cfb513.30fa78"]]},{"id":"c3cfb513.30fa78","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Ultras.cm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":440,"wires":[["a9d1d402.3b86b8","da267e5c.586c2"]]},{"id":"181e622d.119d2e","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"l2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":500,"wires":[[]]},{"id":"f8bb3a46.dc45e8","type":"mqtt in","z":"cb8b530f.df034","name":"","topic":"cuba2","qos":"2","datatype":"auto","broker":"1121bde2.88c5f2","x":50,"y":500,"wires":[["22905385.4866ac"]]},{"id":"22905385.4866ac","type":"json","z":"cb8b530f.df034","name":"","property":"payload","action":"","pretty":false,"x":230,"y":500,"wires":[["f4efc25d.949d4"]]},{"id":"f4efc25d.949d4","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Ultras.cm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":500,"wires":[["181e622d.119d2e","da267e5c.586c2"]]},{"id":"7a97095a.574ff8","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"l3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":560,"wires":[[]]},{"id":"17ddc65a.f71dfa","type":"mqtt in","z":"cb8b530f.df034","name":"","topic":"cuba3","qos":"2","datatype":"auto","broker":"1121bde2.88c5f2","x":50,"y":560,"wires":[["b45e741b.da2118"]]},{"id":"b45e741b.da2118","type":"json","z":"cb8b530f.df034","name":"","property":"payload","action":"","pretty":false,"x":230,"y":560,"wires":[["8c4d0460.1182d8"]]},{"id":"8c4d0460.1182d8","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Ultras.cm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":560,"wires":[["7a97095a.574ff8","da267e5c.586c2"]]},{"id":"80f3cf72.40526","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"l4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":620,"wires":[[]]},{"id":"53da414.0194dc","type":"mqtt in","z":"cb8b530f.df034","name":"","topic":"cuba4","qos":"2","datatype":"auto","broker":"1121bde2.88c5f2","x":50,"y":620,"wires":[["bb8c767c.c93378"]]},{"id":"bb8c767c.c93378","type":"json","z":"cb8b530f.df034","name":"","property":"payload","action":"","pretty":false,"x":230,"y":620,"wires":[["3c59f306.94a23c"]]},{"id":"3c59f306.94a23c","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Ultras.cm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":620,"wires":[["80f3cf72.40526","da267e5c.586c2"]]},{"id":"9fc1be30.892f9","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"l5","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":680,"wires":[[]]},{"id":"b7275a29.c76688","type":"mqtt in","z":"cb8b530f.df034","name":"","topic":"cuba5","qos":"2","datatype":"auto","broker":"1121bde2.88c5f2","x":50,"y":680,"wires":[["788b74a1.627e4c"]]},{"id":"788b74a1.627e4c","type":"json","z":"cb8b530f.df034","name":"","property":"payload","action":"","pretty":false,"x":230,"y":680,"wires":[["192d35ad.e9cc9a"]]},{"id":"192d35ad.e9cc9a","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Ultras.cm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":680,"wires":[["9fc1be30.892f9","da267e5c.586c2"]]},{"id":"da267e5c.586c2","type":"ui_chart","z":"cb8b530f.df034","name":"","group":"c87197b5.415aa8","order":2,"width":7,"height":5,"label":"Leche en cubas","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":380,"wires":[[]]},{"id":"64dc2cf9.6c83a4","type":"mqtt in","z":"cb8b530f.df034","name":"","topic":"TemNav","qos":"2","datatype":"auto","broker":"1121bde2.88c5f2","x":60,"y":40,"wires":[["20e049d9.4ce2d6"]]},{"id":"20e049d9.4ce2d6","type":"json","z":"cb8b530f.df034","name":"","property":"payload","action":"","pretty":false,"x":240,"y":40,"wires":[["a825cdd8.8af"]]},{"id":"a825cdd8.8af","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DHT11.t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":40,"wires":[["175e6424.d5a57c"]]},{"id":"da2840a6.00d99","type":"mqtt in","z":"cb8b530f.df034","name":"","topic":"HumNav","qos":"2","datatype":"auto","broker":"1121bde2.88c5f2","x":60,"y":100,"wires":[["e8742535.0aaec8"]]},{"id":"e8742535.0aaec8","type":"json","z":"cb8b530f.df034","name":"","property":"payload","action":"","pretty":false,"x":240,"y":100,"wires":[["48e808f6.2000d8"]]},{"id":"48e808f6.2000d8","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DHT11.h","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":100,"wires":[["62edee48.9f435"]]},{"id":"d671feee.0494e","type":"mqtt in","z":"cb8b530f.df034","name":"","topic":"TempOfc","qos":"2","datatype":"auto","broker":"1121bde2.88c5f2","x":60,"y":160,"wires":[["7eca69c1.28d6d8"]]},{"id":"7eca69c1.28d6d8","type":"json","z":"cb8b530f.df034","name":"","property":"payload","action":"","pretty":false,"x":240,"y":160,"wires":[["8e5f464e.3aaaf8"]]},{"id":"8e5f464e.3aaaf8","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DHT11.t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":160,"wires":[["3e957e97.0f06f2"]]},{"id":"2de893bb.cda01c","type":"mqtt in","z":"cb8b530f.df034","name":"","topic":"HumOfc","qos":"2","datatype":"auto","broker":"1121bde2.88c5f2","x":60,"y":220,"wires":[["c4ac1ece.7289b"]]},{"id":"c4ac1ece.7289b","type":"json","z":"cb8b530f.df034","name":"","property":"payload","action":"","pretty":false,"x":240,"y":220,"wires":[["5e895d70.3cbfb4"]]},{"id":"5e895d70.3cbfb4","type":"change","z":"cb8b530f.df034","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DHT11.h","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[["38a0fcca.77e344"]]},{"id":"cccf4b9e.9e4e88","type":"ui_group","z":"","name":"Control nave","tab":"1f7d4e38.67a392","order":2,"disp":true,"width":6,"collapse":false},{"id":"c87197b5.415aa8","type":"ui_group","z":"","name":"Control cubas","tab":"1f7d4e38.67a392","order":1,"disp":true,"width":14,"collapse":false},{"id":"1121bde2.88c5f2","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.252","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1f7d4e38.67a392","type":"ui_tab","z":"","name":"FabricaLast","icon":"dashboard","disabled":false,"hidden":false}]