Granjas.json
[{"id":"7eaa1a1c.69f2b4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2c244ab4.7bb676","type":"inject","z":"7eaa1a1c.69f2b4","name":"read","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":110,"y":80,"wires":[["cab4ad17.48971"]]},{"id":"cab4ad17.48971","type":"file in","z":"7eaa1a1c.69f2b4","name":"farms","filename":"/Users/santiagoruiz/Desktop/granjas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":230,"y":80,"wires":[["1ef8399f.e11de6"]]},{"id":"1ef8399f.e11de6","type":"xml","z":"7eaa1a1c.69f2b4","name":"","property":"payload","attr":"","chr":"","x":350,"y":80,"wires":[["5b4e3d1e.aa3924"]]},{"id":"5b4e3d1e.aa3924","type":"function","z":"7eaa1a1c.69f2b4","name":"save farms to flow variables","func":"function kml_to_poligon_center(kml, position) {\n    // Transforms string coordinates to well structured poligon and center coordinates\n    var farm = kml.Document[0].Placemark[position];\n    \n    var center_point = {\n        \"lat\": parseFloat(farm.LookAt[0].latitude[0]),\n        \"lon\": parseFloat(farm.LookAt[0].longitude[0])\n    }\n    \n    var area_points = farm.Polygon[0].outerBoundaryIs[0].LinearRing[0].coordinates[0]\n    area_points = area_points.substring(7);\n    \n    var area = area_points.split(\" \");\n    area.pop()\n    \n    area.forEach(function(part, index) {\n      this[index] = area[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, area);\n    \n    // Change lat lon position\n    area.forEach(function(part, index) { \n        var lat = area[index][0]    \n        var lon = area[index][1]\n        area[index][0] = lon,    \n        area[index][1] = lat\n    }, area);\n    \n    return {\n        \"area\": area, \n        \"center_point\": center_point,\n        \"cows\": [],\n        \"route\": []\n    };\n}\n\n// Prepare final message\nvar farms = {\n    \"mas_gener\": kml_to_poligon_center(msg.payload.kml, 0),\n    \"mas_almar\": kml_to_poligon_center(msg.payload.kml, 1),\n    \"can_siset\": kml_to_poligon_center(msg.payload.kml, 2),\n    \"mas_colom\": kml_to_poligon_center(msg.payload.kml, 3),\n    \"mas_badosa\": kml_to_poligon_center(msg.payload.kml, 4)\n}\n\nflow.set(\"farms\", farms);\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":80,"wires":[[]]},{"id":"7979ba7a.25bea4","type":"function","z":"7eaa1a1c.69f2b4","name":"prepare mas_gener to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 16\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Almar\",\n    \"area\": msg.payload.area,\n    \"color\": \"blue\",\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"x":680,"y":200,"wires":[["d1190139.16dea"]]},{"id":"3413662d.15cd2a","type":"worldmap in","z":"7eaa1a1c.69f2b4","name":"","path":"/map/farm1","events":"all","x":80,"y":200,"wires":[["55a2d761.fbe2a8"]]},{"id":"d1190139.16dea","type":"ui_worldmap","z":"7eaa1a1c.69f2b4","group":"7584d47b.24e7bc","order":5,"width":8,"height":7,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm1","x":890,"y":220,"wires":[]},{"id":"55a2d761.fbe2a8","type":"switch","z":"7eaa1a1c.69f2b4","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":200,"wires":[["7db083fb.83ebec"]]},{"id":"5040f3aa.a68e7c","type":"ui_button","z":"7eaa1a1c.69f2b4","name":"","group":"7584d47b.24e7bc","order":3,"width":8,"height":1,"passthru":true,"label":"Cargar","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","x":130,"y":260,"wires":[["7db083fb.83ebec","7a1c3e46.ce1ae"]]},{"id":"230bd64e.b0d4ea","type":"function","z":"7eaa1a1c.69f2b4","name":"update cows","func":"farms = flow.get(\"farms\");\ng = flow.get(\"vargranja\")\nfarm = farms[g];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["d1190139.16dea"]]},{"id":"f257e302.47a6b","type":"inject","z":"7eaa1a1c.69f2b4","name":"","topic":"mas_gener","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":120,"y":440,"wires":[["537e6728.9386b8"]]},{"id":"306599c3.432296","type":"inject","z":"7eaa1a1c.69f2b4","name":"","topic":"can_siset","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":120,"y":480,"wires":[["537e6728.9386b8"]]},{"id":"b55c66ef.279e08","type":"inject","z":"7eaa1a1c.69f2b4","name":"","topic":"mas_almar","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":120,"y":520,"wires":[["537e6728.9386b8"]]},{"id":"13c3ef2e.e0e171","type":"inject","z":"7eaa1a1c.69f2b4","name":"","topic":"mas_badosa","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":130,"y":560,"wires":[["537e6728.9386b8"]]},{"id":"d34e6aeb.d01258","type":"inject","z":"7eaa1a1c.69f2b4","name":"","topic":"mas_colom","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":120,"y":600,"wires":[["537e6728.9386b8"]]},{"id":"537e6728.9386b8","type":"function","z":"7eaa1a1c.69f2b4","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"x":400,"y":520,"wires":[]},{"id":"7db083fb.83ebec","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"f=flow.get(\"farms\")\ng=flow.get(\"vargranja\")\nmsg.payload=f[g]\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["7979ba7a.25bea4","230bd64e.b0d4ea"]]},{"id":"97c8650.5b6f498","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vargranja","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":360,"wires":[[]]},{"id":"148ae0c1.79333f","type":"ui_dropdown","z":"7eaa1a1c.69f2b4","name":"","label":"","tooltip":"","place":"Select option","group":"7584d47b.24e7bc","order":1,"width":8,"height":1,"passthru":true,"options":[{"label":"Mas Gener","value":"mas_gener","type":"str"},{"label":"Can Siset","value":"can_siset","type":"str"},{"label":"Mas Almar","value":"mas_almar","type":"str"},{"label":"Mas Badosa","value":"mas_badosa","type":"str"},{"label":"Mas Colom","value":"mas_colom","type":"str"}],"payload":"","topic":"","x":90,"y":360,"wires":[["97c8650.5b6f498"]]},{"id":"6b6402ed.b9712c","type":"inject","z":"7eaa1a1c.69f2b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":300,"wires":[["230bd64e.b0d4ea"]]},{"id":"74db1816.f6b088","type":"comment","z":"7eaa1a1c.69f2b4","name":"Maps configuration","info":"","x":110,"y":20,"wires":[]},{"id":"9917970d.b7ecc8","type":"comment","z":"7eaa1a1c.69f2b4","name":"Farm Data","info":"","x":80,"y":680,"wires":[]},{"id":"2f4aa1e.bcedd5e","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_gener.Temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":780,"wires":[[]]},{"id":"5abc0119.3541a","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_gener.Hum","pt":"flow","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":820,"wires":[[]]},{"id":"e1254572.fa5f38","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_gener.Leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":860,"wires":[[]]},{"id":"b8f3ea07.1cf348","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_gener.Valla","pt":"flow","to":"payload.valla","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":900,"wires":[[]]},{"id":"e1cbe370.58f5a","type":"link in","z":"7eaa1a1c.69f2b4","name":"","links":["7a1c3e46.ce1ae"],"x":55,"y":1780,"wires":[["d953d5c8.858158"]]},{"id":"7a1c3e46.ce1ae","type":"link out","z":"7eaa1a1c.69f2b4","name":"","links":["e1cbe370.58f5a"],"x":280,"y":280,"wires":[]},{"id":"d3599c91.48bf","type":"ui_text","z":"7eaa1a1c.69f2b4","group":"7584d47b.24e7bc","order":2,"width":8,"height":1,"name":"","label":"<i class=\"fa fa-thermometer-half\" aria-hidden=\"true\"> Temperatura: </i>","format":"<font color= {{msg.color}} > {{msg.payload.Temp}}ยบC </font>","layout":"row-spread","x":960,"y":1740,"wires":[],"icon":"font-awesome/fa-thermometer-3"},{"id":"8cb6c24c.59b15","type":"ui_text","z":"7eaa1a1c.69f2b4","group":"7584d47b.24e7bc","order":4,"width":8,"height":1,"name":"","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"> Humedad:</i>","format":"<font color= {{msg.color}} > {{msg.payload.Hum}}% </font>","layout":"row-spread","x":930,"y":1780,"wires":[],"icon":"font-awesome/fa-spinner"},{"id":"1dd11285.5ef5fd","type":"ui_text","z":"7eaa1a1c.69f2b4","group":"7584d47b.24e7bc","order":6,"width":8,"height":1,"name":"","label":"<i class= \"fa fa-tint\" aria-hidden=\"true\"> Cantidad de Leche:</i>","format":"<font color= {{msg.color}} > {{msg.payload.Leche}} L</font>","layout":"row-spread","x":930,"y":1820,"wires":[],"icon":"font-awesome/fa-hourglass-3"},{"id":"20adb364.73a87c","type":"ui_text","z":"7eaa1a1c.69f2b4","group":"7584d47b.24e7bc","order":7,"width":8,"height":1,"name":"","label":"<i class=\"fa fa-object-ungroup\" aria-hidden=\"true\"> Estado de Valla:</i>","format":"<font color= {{msg.color}} > {{msg.payload.Valla}} </font>","layout":"row-spread","x":960,"y":1860,"wires":[],"icon":"font-awesome/fa-object-ungroup","info":"<font color= {{msg.color}} > {{msg.payload.Valla}} </font>"},{"id":"d953d5c8.858158","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"f=flow.get(\"farms\")\ng=flow.get(\"vargranja\")\nmsg.payload=f[g]\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":1780,"wires":[["e892c6f8.102608","2ad55a83.045a06","b99a0af8.025548","40b587a8.b48728"]]},{"id":"6eaf1aa8.5e4c04","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.can_siset.Temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":960,"wires":[[]]},{"id":"3493c8d1.f3f458","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.can_siset.Hum","pt":"flow","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1000,"wires":[[]]},{"id":"135f2693.b454b9","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.can_siset.Leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1040,"wires":[[]]},{"id":"47b3acc1.b6ef14","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.can_siset.Valla","pt":"flow","to":"payload.valla","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1080,"wires":[[]]},{"id":"e7f38e05.56bb5","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_almar.Temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1140,"wires":[[]]},{"id":"b67fdf6f.6bc3f","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_almar.Hum","pt":"flow","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1180,"wires":[[]]},{"id":"f72dd114.5178a","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_almar.Leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1220,"wires":[[]]},{"id":"5107863d.f37b88","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_almar.Valla","pt":"flow","to":"payload.valla","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1260,"wires":[[]]},{"id":"6b5be5fc.66cbcc","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_badosa.Temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1320,"wires":[[]]},{"id":"ffb7b39e.8b02e","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_badosa.Hum","pt":"flow","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1360,"wires":[[]]},{"id":"667defe5.bd69a","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_badosa.Leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1400,"wires":[[]]},{"id":"81c72230.989e4","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_badosa.Valla","pt":"flow","to":"payload.valla","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1440,"wires":[[]]},{"id":"5a609c3.fb63564","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_colom.Temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1500,"wires":[[]]},{"id":"9cde4a8e.415668","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_colom.Hum","pt":"flow","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1540,"wires":[[]]},{"id":"103eed13.7d8693","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_colom.Leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1580,"wires":[[]]},{"id":"83503e1f.de6fa","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_colom.Valla","pt":"flow","to":"payload.valla","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1620,"wires":[[]]},{"id":"e892c6f8.102608","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"msg.color = \"green\"\nif(msg.payload.Temp > 30){\nmsg.color = \"red\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1740,"wires":[["d3599c91.48bf"]]},{"id":"2ad55a83.045a06","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"msg.color = \"green\"\nif(msg.payload.Hum > 60){\nmsg.color = \"red\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1780,"wires":[["8cb6c24c.59b15"]]},{"id":"b99a0af8.025548","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"msg.color = \"green\"\nif(msg.payload.Leche < 5){\nmsg.color = \"red\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1820,"wires":[["1dd11285.5ef5fd"]]},{"id":"40b587a8.b48728","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"if(msg.payload.Valla == 1){\nmsg.payload.Valla = \"NOK\"\nmsg.color = \"red\"\n}else{\n    msg.payload.Valla = \"OK\"\n    msg.color = \"green\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1860,"wires":[["20adb364.73a87c"]]},{"id":"63a01d35.bc39a4","type":"comment","z":"7eaa1a1c.69f2b4","name":"Data display","info":"","x":130,"y":1680,"wires":[]},{"id":"344c3a2f.7f1616","type":"comment","z":"7eaa1a1c.69f2b4","name":"Cow's Data","info":"","x":130,"y":1960,"wires":[]},{"id":"724bd2c5.19372c","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca1.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2180,"wires":[["5e0ee899.645378"]]},{"id":"b63e17a7.1428f8","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca1.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2220,"wires":[[]]},{"id":"76825ac4.2b95f4","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca1.long","pt":"flow","to":"payload.long","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2300,"wires":[[]]},{"id":"c4a3bb0e.470b28","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca2.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2380,"wires":[["d9fd7513.527168"]]},{"id":"c839daba.2f2538","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca2.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2420,"wires":[[]]},{"id":"ca7d8c4e.916e7","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca2.long","pt":"flow","to":"payload.long","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2500,"wires":[[]]},{"id":"2c6c1f41.f13ac","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca3.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2560,"wires":[["58c4a7bf.162f48"]]},{"id":"9a6a5c9f.dbfd1","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca3.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2600,"wires":[[]]},{"id":"9dfe903e.00023","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca3.long","pt":"flow","to":"payload.long","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2680,"wires":[[]]},{"id":"ab5213ab.827a8","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca4.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2740,"wires":[["5856c1b3.86506"]]},{"id":"7d2535f9.6182cc","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca4.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2780,"wires":[[]]},{"id":"23167554.d0ecca","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca4.long","pt":"flow","to":"payload.long","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2860,"wires":[[]]},{"id":"e81d97c5.3fa3d8","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca5.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2920,"wires":[["771700ef.93b67"]]},{"id":"156aadc0.c060d2","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca5.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2960,"wires":[[]]},{"id":"a2639fa0.57605","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca5.long","pt":"flow","to":"payload.long","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3040,"wires":[[]]},{"id":"5e0ee899.645378","type":"function","z":"7eaa1a1c.69f2b4","name":"Alarma","func":"let v=\"vaca\"\nlet n=1\nlet hum = flow.get(\"vaca1.hum\")\nlet temp=flow.get(\"vaca1.temp\")\nlet peso = flow.get(\"vaca1.peso\")\nlet dist =flow.get(\"vaca1.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2180,"wires":[[]]},{"id":"d9fd7513.527168","type":"function","z":"7eaa1a1c.69f2b4","name":"Alarma","func":"let v=\"vaca\"\nlet n=2\nlet hum = flow.get(\"vaca2.hum\")\nlet temp=flow.get(\"vaca2.temp\")\nlet peso = flow.get(\"vaca2.peso\")\nlet dist =flow.get(\"vaca2.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2380,"wires":[[]]},{"id":"58c4a7bf.162f48","type":"function","z":"7eaa1a1c.69f2b4","name":"Alarma","func":"let v=\"vaca\"\nlet n=3\nlet hum = flow.get(\"vaca3.hum\")\nlet temp=flow.get(\"vaca3.temp\")\nlet peso = flow.get(\"vaca3.peso\")\nlet dist =flow.get(\"vaca3.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2560,"wires":[[]]},{"id":"5856c1b3.86506","type":"function","z":"7eaa1a1c.69f2b4","name":"Alarma","func":"let v=\"vaca\"\nlet n=4\nlet hum = flow.get(\"vaca4.hum\")\nlet temp=flow.get(\"vaca4.temp\")\nlet peso = flow.get(\"vaca4.peso\")\nlet dist =flow.get(\"vaca4.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2740,"wires":[[]]},{"id":"771700ef.93b67","type":"function","z":"7eaa1a1c.69f2b4","name":"Alarma","func":"let v=\"vaca\"\nlet n=5\nlet hum = flow.get(\"vaca5.hum\")\nlet temp=flow.get(\"vaca5.temp\")\nlet peso = flow.get(\"vaca5.peso\")\nlet dist =flow.get(\"vaca5.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":2920,"wires":[[]]},{"id":"c5818dc9.8a35d","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"let arr=[]\nl=10\naux={\n    \"temp\":\"\",\n    \"leche\":\"\",\n    \"dist\":\"\",\n    \"estado\":\"\",\n    \"numero\":\"\"\n}\nfor(let i=1;i<=5;i++){\n   v=flow.get(\"vaca\"+i)\n   v.numero=i\n   if(v.estado==\"NOK\"){\n    \n   arr.push(v)\n   }\n}\nla=l-arr.length\nif(la>0){\n    for(let i = 0; i<la; i++){\n    arr.push(aux)\n    }\n}\n\nmsg.payload = arr\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":3100,"wires":[["70c46042.61ea1","aaaa8c5f.c1da3"]]},{"id":"b8883148.d800a","type":"inject","z":"7eaa1a1c.69f2b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":3100,"wires":[["c5818dc9.8a35d"]]},{"id":"a8f93173.1e1c1","type":"ui_gauge","z":"7eaa1a1c.69f2b4","name":"","group":"c1f97f04.7ab42","order":5,"width":6,"height":3,"gtype":"gage","title":"Leche Producida","label":"Litros","format":"{{value}}","min":"1","max":"40","colors":["#b52724","#e6e600","#1aca18"],"seg1":"","seg2":"","x":750,"y":3200,"wires":[]},{"id":"d3e1c68f.622b78","type":"ui_dropdown","z":"7eaa1a1c.69f2b4","name":"","label":"","tooltip":"","place":"Select option","group":"c1f97f04.7ab42","order":1,"width":8,"height":1,"passthru":true,"options":[{"label":"Vaca 1","value":"vaca1","type":"str"},{"label":"Vaca 2","value":"vaca2","type":"str"},{"label":"Vaca 3","value":"vaca3","type":"str"},{"label":"Vaca 4","value":"vaca4","type":"str"},{"label":"Vaca 5","value":"vaca5","type":"str"}],"payload":"","topic":"","x":310,"y":3160,"wires":[["d1c259bb.4c5938","113814a5.d76a4b","b1a57e66.c8dc9","eea08d29.b5ad2"]]},{"id":"9ec36fcc.1887a","type":"ui_gauge","z":"7eaa1a1c.69f2b4","name":"","group":"c1f97f04.7ab42","order":4,"width":6,"height":3,"gtype":"gage","title":"Temperatura","label":"ยบ C","format":"{{value}}","min":"30","max":"40","colors":["#0a56f4","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":3160,"wires":[]},{"id":"d1c259bb.4c5938","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"v=msg.payload\nvaca=flow.get(v)\nmsg.payload=vaca.temp\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3160,"wires":[["9ec36fcc.1887a"]]},{"id":"113814a5.d76a4b","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"v=msg.payload\nvaca=flow.get(v)\nmsg.payload=vaca.leche\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3200,"wires":[["a8f93173.1e1c1"]]},{"id":"b1a57e66.c8dc9","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"v=msg.payload\nvaca=flow.get(v)\nmsg.payload=vaca.dist\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3240,"wires":[["8ece897a.c093c8"]]},{"id":"ebd38197.c41de","type":"ui_text","z":"7eaa1a1c.69f2b4","group":"c1f97f04.7ab42","order":2,"width":8,"height":1,"name":"","label":"Estado","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":720,"y":3280,"wires":[]},{"id":"eea08d29.b5ad2","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"v=msg.payload\nvaca=flow.get(v)\nmsg.color=\"green\"\nif(vaca.estado==\"NOK\"){\n    msg.color=\"red\"\n}\nmsg.payload=vaca.estado\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3280,"wires":[["ebd38197.c41de"]]},{"id":"787e8efa.a282f","type":"ui_text","z":"7eaa1a1c.69f2b4","group":"7584d47b.24e7bc","order":8,"width":8,"height":1,"name":"","label":"Estado de Vacas","format":"","layout":"row-spread","x":150,"y":3380,"wires":[]},{"id":"c2b884db.5c00d8","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"mas_gener","qos":"2","datatype":"auto","broker":"4efba582.46b01c","x":80,"y":780,"wires":[["ec0ecb60.39bc98"]]},{"id":"ec0ecb60.39bc98","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":230,"y":780,"wires":[["2f4aa1e.bcedd5e","5abc0119.3541a","e1254572.fa5f38","b8f3ea07.1cf348"]]},{"id":"349139c.22ea5c6","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"vaca1","qos":"2","datatype":"auto","broker":"4efba582.46b01c","x":110,"y":2180,"wires":[["c3f648e8.23ac78"]]},{"id":"c3f648e8.23ac78","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":290,"y":2180,"wires":[["724bd2c5.19372c","b63e17a7.1428f8","76825ac4.2b95f4","a16d4aca.906e28"]]},{"id":"b65e52ac.15475","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"vaca2","qos":"2","datatype":"auto","broker":"4efba582.46b01c","x":90,"y":2380,"wires":[["7e05fde0.2ba8f4"]]},{"id":"7e05fde0.2ba8f4","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":270,"y":2380,"wires":[["c4a3bb0e.470b28","c839daba.2f2538","ca7d8c4e.916e7","2569d654.c1f95a"]]},{"id":"91d6869b.659548","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"vaca3","qos":"2","datatype":"auto","broker":"4efba582.46b01c","x":90,"y":2560,"wires":[["1278465.b24fdba"]]},{"id":"1278465.b24fdba","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":270,"y":2560,"wires":[["2c6c1f41.f13ac","9a6a5c9f.dbfd1","9dfe903e.00023","195b8d5f.a1cfb3"]]},{"id":"6fd855fe.e2669c","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"vaca4","qos":"2","datatype":"auto","broker":"4efba582.46b01c","x":90,"y":2760,"wires":[["f6f5b730.1dadd8"]]},{"id":"f6f5b730.1dadd8","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":270,"y":2760,"wires":[["ab5213ab.827a8","7d2535f9.6182cc","23167554.d0ecca","f7c90443.84c958"]]},{"id":"2627cf7e.ee9a6","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"vaca5","qos":"2","datatype":"auto","broker":"4efba582.46b01c","x":90,"y":2920,"wires":[["8aa752b5.5fdde"]]},{"id":"8aa752b5.5fdde","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":270,"y":2920,"wires":[["e81d97c5.3fa3d8","156aadc0.c060d2","a2639fa0.57605","78f5e50b.8c4dac"]]},{"id":"a16d4aca.906e28","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca1.lat","pt":"flow","to":"payload.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2260,"wires":[[]]},{"id":"2569d654.c1f95a","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca2.lat","pt":"flow","to":"payload.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2460,"wires":[[]]},{"id":"195b8d5f.a1cfb3","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca3.lat","pt":"flow","to":"payload.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2640,"wires":[[]]},{"id":"f7c90443.84c958","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca4.lat","pt":"flow","to":"payload.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2820,"wires":[[]]},{"id":"78f5e50b.8c4dac","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca5.lat","pt":"flow","to":"payload.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3000,"wires":[[]]},{"id":"8ece897a.c093c8","type":"ui_text","z":"7eaa1a1c.69f2b4","group":"c1f97f04.7ab42","order":12,"width":10,"height":1,"name":"","label":"Distancia recorrida","format":"{{msg.payload}} km","layout":"col-center","x":750,"y":3240,"wires":[]},{"id":"83f0c262.43dbb","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"can_siset","qos":"2","datatype":"auto","broker":"4efba582.46b01c","x":80,"y":960,"wires":[["dd50d2e2.79227"]]},{"id":"dd50d2e2.79227","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":230,"y":960,"wires":[["6eaf1aa8.5e4c04","3493c8d1.f3f458","135f2693.b454b9","47b3acc1.b6ef14"]]},{"id":"d673c311.d1862","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"mas_almar","qos":"2","datatype":"auto","broker":"4efba582.46b01c","x":80,"y":1140,"wires":[["45cafc9e.8e0694"]]},{"id":"45cafc9e.8e0694","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":230,"y":1140,"wires":[["e7f38e05.56bb5","b67fdf6f.6bc3f","f72dd114.5178a","5107863d.f37b88"]]},{"id":"5c4eda96.fd3174","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"mas_badosa","qos":"2","datatype":"auto","broker":"4efba582.46b01c","x":90,"y":1320,"wires":[["66546cd1.fe64d4"]]},{"id":"66546cd1.fe64d4","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":230,"y":1320,"wires":[["6b5be5fc.66cbcc","ffb7b39e.8b02e","667defe5.bd69a","81c72230.989e4"]]},{"id":"67ceaebc.403d2","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"mas_colom","qos":"2","datatype":"auto","broker":"4efba582.46b01c","x":90,"y":1500,"wires":[["da67a1b8.205e7"]]},{"id":"da67a1b8.205e7","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":230,"y":1500,"wires":[["5a609c3.fb63564","9cde4a8e.415668","103eed13.7d8693","83503e1f.de6fa"]]},{"id":"70c46042.61ea1","type":"ui_table","z":"7eaa1a1c.69f2b4","group":"7584d47b.24e7bc","name":"","order":9,"width":8,"height":4,"columns":[{"field":"numero","title":"Numero de Vaca","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"estado","title":"Estado","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":530,"y":3100,"wires":[]},{"id":"aaaa8c5f.c1da3","type":"debug","z":"7eaa1a1c.69f2b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":351,"y":3040,"wires":[]},{"id":"7584d47b.24e7bc","type":"ui_group","z":"","name":"Informacion General de la Granja","tab":"b40ee201.3218","order":1,"disp":true,"width":16,"collapse":false},{"id":"c1f97f04.7ab42","type":"ui_group","z":"","name":"Informacion especifica de vacas","tab":"b40ee201.3218","order":2,"disp":true,"width":16,"collapse":true},{"id":"4efba582.46b01c","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.252","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b40ee201.3218","type":"ui_tab","z":"","name":"Granjas","icon":"dashboard","order":1,"disabled":false,"hidden":false}]