Camiones/camiones.json
[{"id":"8083035d.07333","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"1b9cc601.e744aa","type":"ui_worldmap","z":"8083035d.07333","group":"fc935681.f6e588","order":2,"width":9,"height":8,"name":"Camiones","lat":"42.0330","lon":"2.8722","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","path":"/camiones","x":520,"y":180,"wires":[]},{"id":"78ee5b36.a43f84","type":"inject","z":"8083035d.07333","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":180,"wires":[["540ff68d.1ea718"]]},{"id":"540ff68d.1ea718","type":"function","z":"8083035d.07333","name":"Camiones","func":"var thing = [\n{\n    name:\"Camion1\", \n    lat:42.0957 + Math.random() * 0.005, \n    lon:2.7892 + Math.random() * 0.01,\n    icon:\"truck\",\n    iconColor:\"yellow\",\n},\n{\n    name:\"Camion2\", \n    lat:42.0600 + Math.random() * 0.03, \n    lon:2.9018 + Math.random() * 0.01,\n    icon:\"truck\",\n    iconColor:\"dark\",\n},\n{\n    name:\"Camion3\", \n    lat:42.049829, \n    lon:2.833642,\n    icon:\"truck\",\n    iconColor:\"green\",\n},\n{\n    name:\"Camion4\", \n    lat:42.018725 + Math.random() * 0.02, \n    lon:2.876303 + Math.random() * 0.005,\n    icon:\"truck\",\n    iconColor:\"blue\",\n},\n{\n    name:\"Camion5\", \n    lat:41.9865 + Math.random() * 0.01, \n    lon:2.804317 + Math.random() * 0.009,\n    icon:\"truck\",\n    iconColor:\"red\",\n},\n{\n    name:\"LACCIM\", \n    lat:42.034710, \n    lon:2.892524,\n    icon:\"industry\"\n},\n{\n    name:\"Mas Badosa\", \n    lat:42.114439, \n    lon:2.742215,\n    icon:\"paw\",\n    iconColor:\"yellow\",\n},\n{\n    name:\"Mas Colom\", \n    lat:42.064114, \n    lon:2.912980,\n    icon:\"paw\",\n    iconColor:\"dark\",\n},\n{\n    name:\"Mas Siset\", \n    lat:42.074299, \n    lon:2.833642,\n    icon:\"paw\",\n    iconColor:\"green\",\n},\n{\n    name:\"Mas Almar\", \n    lat:42.018725, \n    lon:2.976303,\n    icon:\"paw\",\n    iconColor:\"blue\",\n},\n{\n    name:\"Mas Gener\", \n    lat:41.910929, \n    lon:2.804317,\n    icon:\"paw\",\n    iconColor:\"red\",\n}\n]\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["1b9cc601.e744aa"]]},{"id":"5b96e732.8025c8","type":"inject","z":"8083035d.07333","name":"","topic":"","payload":"[ { \t\"Number\": \"<b>Camion1</b>\", \t\"Driver\": \"Conductor1\", \t\"Destination\":\"LACCIM a MBadosa\", \t\"Time\":\"1H 25M\", \t\"Status\":20, \t\"ToCheck\":true }, {\t \t\"Number\":\"<b>Camion2</b>\", \t\"Driver\": \"Conductor2\", \t\"Destination\":\"Llenando cuba\", \t\"Time\":\"5M\", \t\"Status\":50, \t\"ToCheck\":false }, { \t\"Number\":\"<b>Camion3</b>\", \t\"Driver\": \"Conductor3\", \t\"Destination\":\"LACCIM a CSiset\", \t\"Time\":\"55M\", \t\"Status\":85, \t\"ToCheck\":true }, { \t\"Number\":\"<b>Camion4</b>\", \t\"Driver\": \"Conductor4\", \t\"Destination\":\"MAlmar a LACCIM\", \t\"Time\":\"1H 36M\", \t\"Status\":36, \t\"ToCheck\":false }, { \t\"Number\":\"<b>Camion5</b>\", \t\"Driver\": \"Conductor5\", \t\"Destination\":\"LACCIM a MGener\", \t\"Time\":\"26M\", \t\"Status\":48, \t\"ToCheck\":true }, { \t\"Number\":\"<b>Decanso</b>\", \t\"Driver\": \"Conductor6\", \t\"Destination\":\"\", \t\"Time\":\"\", \t\"Status\":85, \t\"ToCheck\":true }]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":180,"wires":[["bad6006.77e05"]]},{"id":"133633e8.baeccc","type":"ui_table","z":"8083035d.07333","group":"fc935681.f6e588","name":"Trucks","order":5,"width":12,"height":4,"columns":[{"field":"Number","title":"Assigned","width":"100","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"Driver","title":"Driver","width":"100","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Destination","title":"Destination","width":"150","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Time","title":"Time","width":"100","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Status","title":"Status","width":"88.25","align":"center","formatter":"traffic","formatterParams":{"target":"_blank"}},{"field":"ToCheck","title":"Checked","width":"90","align":"center","formatter":"tickCross","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1170,"y":180,"wires":[]},{"id":"bad6006.77e05","type":"change","z":"8083035d.07333","name":"","rules":[{"t":"set","p":"payload[0].Number","pt":"msg","to":"<font color=\"yellow\"><b>Camion1</b></font>","tot":"str"},{"t":"set","p":"payload[2].Number","pt":"msg","to":"<font color=\"green\"><b>Camion3</b></font>","tot":"str"},{"t":"set","p":"payload[3].Number","pt":"msg","to":"<font color=\"blue\"><b>Camion4</b></font>","tot":"str"},{"t":"set","p":"payload[4].Number","pt":"msg","to":"<font color=\"darkred\"><b>Camion5</b></font>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":180,"wires":[["133633e8.baeccc"]]},{"id":"290d246e.610dac","type":"change","z":"8083035d.07333","name":"","rules":[{"t":"set","p":"camion","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":360,"wires":[[]]},{"id":"d5519f69.5f02b","type":"ui_dropdown","z":"8083035d.07333","name":"","label":"","tooltip":"","place":"Select option","group":"ba620c08.1655c","order":2,"width":4,"height":1,"passthru":true,"options":[{"label":"Camion1","value":"Camion1","type":"str"},{"label":"Camion2","value":"Camion2","type":"str"},{"label":"Camion3","value":"Camion3","type":"str"},{"label":"Camion4","value":"Camion4","type":"str"},{"label":"Camion5","value":"Camion5","type":"str"}],"payload":"","topic":"","x":140,"y":360,"wires":[["290d246e.610dac"]]},{"id":"341ac2a1.3edebe","type":"comment","z":"8083035d.07333","name":"Mapa distribucion general","info":"","x":190,"y":120,"wires":[]},{"id":"eda7bac.70d8448","type":"comment","z":"8083035d.07333","name":"Tabla resumen estado","info":"","x":820,"y":120,"wires":[]},{"id":"bec652cd.6c46c","type":"comment","z":"8083035d.07333","name":"Detalle por camiones","info":"","x":180,"y":300,"wires":[]},{"id":"45e2dd2c.f0b714","type":"ui_worldmap","z":"8083035d.07333","group":"ff39f327.477c7","order":1,"width":6,"height":8,"name":"Granja1","lat":"41.3842778","lon":"2.1152962","zoom":"15","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","path":"/worldmap","x":140,"y":1580,"wires":[]},{"id":"4c687892.7d91c8","type":"ui_worldmap","z":"8083035d.07333","group":"ff39f327.477c7","order":2,"width":6,"height":8,"name":"Granja2","lat":"41.3842778","lon":"2.1152962","zoom":"15","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","path":"/worldmap","x":320,"y":1580,"wires":[]},{"id":"6aac4141.67e05","type":"ui_worldmap","z":"8083035d.07333","group":"ff39f327.477c7","order":3,"width":6,"height":8,"name":"Granja3","lat":"41.3842778","lon":"2.1152962","zoom":"15","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","path":"/worldmap","x":480,"y":1580,"wires":[]},{"id":"e495f384.bf1c6","type":"ui_worldmap","z":"8083035d.07333","group":"ff39f327.477c7","order":4,"width":6,"height":8,"name":"Granja4","lat":"41.3842778","lon":"2.1152962","zoom":"15","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","path":"/menganito","x":640,"y":1580,"wires":[]},{"id":"c2016c98.af318","type":"ui_worldmap","z":"8083035d.07333","group":"ff39f327.477c7","order":5,"width":6,"height":8,"name":"Granja5","lat":"41.3842778","lon":"2.1152962","zoom":"15","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","path":"/menganito","x":800,"y":1580,"wires":[]},{"id":"da94a01.836226","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":6,"width":6,"height":1,"name":"","label":"Cantidad de vacas","format":"35","layout":"row-center","x":170,"y":1660,"wires":[]},{"id":"80a1cdf3.9715a","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":8,"width":6,"height":1,"name":"","label":"Cantidad de vacas","format":"35","layout":"row-center","x":390,"y":1660,"wires":[]},{"id":"c563550d.dbe7e8","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":10,"width":6,"height":1,"name":"","label":"Cantidad de vacas","format":"35","layout":"row-center","x":590,"y":1660,"wires":[]},{"id":"d8ac253b.0491f8","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":7,"width":6,"height":1,"name":"","label":"Cantidad de vacas","format":"35","layout":"row-center","x":810,"y":1660,"wires":[]},{"id":"37f654af.aafb0c","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":9,"width":6,"height":1,"name":"","label":"Cantidad de vacas","format":"35","layout":"row-center","x":890,"y":1720,"wires":[]},{"id":"81bc39a8.60f478","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":12,"width":6,"height":1,"name":"","label":"Cantidad de leche","format":"500","layout":"row-center","x":170,"y":1800,"wires":[]},{"id":"24fdaa71.8847e6","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":14,"width":6,"height":1,"name":"","label":"Cantidad de leche","format":"35","layout":"row-center","x":390,"y":1800,"wires":[]},{"id":"242e1103.bb72de","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":11,"width":6,"height":1,"name":"","label":"Cantidad de leche","format":"35","layout":"row-center","x":590,"y":1800,"wires":[]},{"id":"96958f2c.f5d2e","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":13,"width":6,"height":1,"name":"","label":"Cantidad de leche","format":"35","layout":"row-center","x":810,"y":1800,"wires":[]},{"id":"8ea0775.9a96388","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":15,"width":6,"height":1,"name":"","label":"Cantidad de leche","format":"35","layout":"row-center","x":890,"y":1860,"wires":[]},{"id":"306c10a7.b7bc7","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":20,"width":6,"height":1,"name":"","label":"Estado valla","format":"OK","layout":"row-center","x":150,"y":1940,"wires":[]},{"id":"e584d741.0d40c8","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":17,"width":6,"height":1,"name":"","label":"Estado valla","format":"OK","layout":"row-center","x":330,"y":1940,"wires":[]},{"id":"329ea107.180f9e","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":19,"width":6,"height":1,"name":"","label":"Estado valla","format":"OK","layout":"row-center","x":530,"y":1940,"wires":[]},{"id":"3fc8cdd2.65d752","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":16,"width":6,"height":1,"name":"","label":"Estado valla","format":"OK","layout":"row-center","x":710,"y":1940,"wires":[]},{"id":"1690a838.76f3d8","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":18,"width":6,"height":1,"name":"","label":"Estado valla","format":"OK","layout":"row-center","x":910,"y":1940,"wires":[]},{"id":"e3c15b75.c8bc68","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":21,"width":6,"height":1,"name":"","label":"Alarmas activas","format":"0","layout":"row-center","x":160,"y":2040,"wires":[]},{"id":"83e986ec.5d2ef8","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":23,"width":6,"height":1,"name":"","label":"Alarmas activas","format":"10","layout":"row-center","x":340,"y":2040,"wires":[]},{"id":"d2aec565.39a2c8","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":25,"width":6,"height":1,"name":"","label":"Alarmas activas","format":"2","layout":"row-center","x":540,"y":2040,"wires":[]},{"id":"f0bc5144.05b86","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":22,"width":6,"height":1,"name":"","label":"Alarmas activas","format":"0","layout":"row-center","x":720,"y":2040,"wires":[]},{"id":"87f5594c.47c358","type":"ui_text","z":"8083035d.07333","group":"ff39f327.477c7","order":24,"width":6,"height":1,"name":"","label":"Alarmas activas","format":"1","layout":"row-center","x":920,"y":2040,"wires":[]},{"id":"ead9d99a.d312f8","type":"ui_text","z":"8083035d.07333","group":"ba620c08.1655c","order":13,"width":6,"height":1,"name":"Temperatura ","label":"<i class=\"fa fa-thermometer-full\" aria-hidden=\"true\"></i>","format":"Temperatura cuba: {{msg.payload.temp}}ยบ","layout":"row-center","x":850,"y":1300,"wires":[]},{"id":"2e385954.a533a6","type":"ui_text","z":"8083035d.07333","group":"ba620c08.1655c","order":9,"width":6,"height":1,"name":"Cadena frio","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"></i>","format":"Cadena frio: {{msg.payload.frio}}","layout":"row-center","x":850,"y":1340,"wires":[]},{"id":"d8c5f60d.d255c8","type":"ui_button","z":"8083035d.07333","name":"","group":"ba620c08.1655c","order":8,"width":4,"height":1,"passthru":false,"label":"Cargar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":1300,"wires":[["57193787.9e1028"]]},{"id":"57193787.9e1028","type":"switch","z":"8083035d.07333","name":"","property":"camion","propertyType":"flow","rules":[{"t":"eq","v":"Camion1","vt":"str"},{"t":"eq","v":"Camion2","vt":"str"},{"t":"eq","v":"Camion3","vt":"str"},{"t":"eq","v":"Camion4","vt":"str"},{"t":"eq","v":"Camion5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":270,"y":1300,"wires":[["2889a5a3.8903ea"],["ae1e54fa.139c08"],["f592cdda.0176c"],["74454260.1fa7bc"],["2a8c8957.8bffb6"]]},{"id":"2889a5a3.8903ea","type":"function","z":"8083035d.07333","name":"Camion1","func":"msg.payload = {\n    revision:Math.ceil(Math.random() * 80000),\n    vida: 294000,\n    leche: flow.get(\"camion1.leche\"),\n    cuba:Math.ceil(Math.random() * 100),\n    temp: flow.get(\"camion1.temp\"),\n    frio: \"<font color=\\\"green\\\">OK</font>\",\n    ruta: \"<font color=\\\"green\\\">NO</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1220,"wires":[["1a7c2129.11423f"]]},{"id":"be6134e6.840088","type":"ui_gauge","z":"8083035d.07333","name":"","group":"ba620c08.1655c","order":4,"width":6,"height":4,"gtype":"gage","title":"Capacidad cuba","label":"%","format":"{{msg.payload.cuba}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":1180,"wires":[]},{"id":"eb0c398c.8d1d98","type":"ui_gauge","z":"8083035d.07333","name":"","group":"ba620c08.1655c","order":5,"width":6,"height":4,"gtype":"donut","title":"Proxima revision","label":"KM","format":"{{msg.payload.revision}}","min":"0","max":"80000","colors":["#ff0000","#e6e600","#00ff40"],"seg1":"","seg2":"","x":860,"y":1220,"wires":[]},{"id":"ae1e54fa.139c08","type":"function","z":"8083035d.07333","name":"Camion2","func":"msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 29000,\n    leche: flow.get(\"camion2.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion2.temp\"),\n    frio: \"<font color=\\\"red\\\">NOK</font>\",\n    ruta: \"<font color=\\\"red\\\">SI</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1260,"wires":[["1a7c2129.11423f"]]},{"id":"f592cdda.0176c","type":"function","z":"8083035d.07333","name":"Camion3","func":"msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 400000,\n    leche: flow.get(\"camion3.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion3.temp\"),\n    frio: \"<font color=\\\"green\\\">OK</font>\",\n    ruta: \"<font color=\\\"green\\\">NO</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1300,"wires":[["1a7c2129.11423f"]]},{"id":"74454260.1fa7bc","type":"function","z":"8083035d.07333","name":"Camion4","func":"msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 256489,\n    leche: flow.get(\"camion4.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion4.temp\"),\n    frio: \"<font color=\\\"green\\\">OK</font>\",\n    ruta: \"<font color=\\\"green\\\">NO</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1340,"wires":[["1a7c2129.11423f"]]},{"id":"2a8c8957.8bffb6","type":"function","z":"8083035d.07333","name":"Camion5","func":"msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 262000,\n    leche: flow.get(\"camion5.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion5.temp\"),\n    frio: \"<font color=\\\"red\\\">NOK</font>\",\n    ruta: \"<font color=\\\"green\\\">NO</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1380,"wires":[["1a7c2129.11423f"]]},{"id":"1a7c2129.11423f","type":"link out","z":"8083035d.07333","name":"","links":["9ebdde0e.6ee8b"],"x":595,"y":1300,"wires":[]},{"id":"9ebdde0e.6ee8b","type":"link in","z":"8083035d.07333","name":"","links":["1a7c2129.11423f","b6f2bcd6.e79e3","5d7f15c7.67493c","c2b36252.bac9c","84f71e36.f155c"],"x":695,"y":1300,"wires":[["ead9d99a.d312f8","2e385954.a533a6","be6134e6.840088","eb0c398c.8d1d98","692e4456.b77f0c","455ffac6.e618f4","d3ac226a.d3a86"]]},{"id":"692e4456.b77f0c","type":"ui_gauge","z":"8083035d.07333","name":"","group":"ba620c08.1655c","order":6,"width":6,"height":4,"gtype":"donut","title":"Vida restante","label":"KM","format":"{{msg.payload.vida}}","min":"0","max":"480000","colors":["#ff0000","#e6e600","#00ff40"],"seg1":"","seg2":"","x":850,"y":1260,"wires":[]},{"id":"455ffac6.e618f4","type":"ui_text","z":"8083035d.07333","group":"ba620c08.1655c","order":15,"width":6,"height":1,"name":"Leche transportada","label":"<i class=\"fa fa-tint\"></i>","format":"Leche transportada: {{msg.payload.leche}} L","layout":"row-center","x":870,"y":1380,"wires":[]},{"id":"d3ac226a.d3a86","type":"ui_text","z":"8083035d.07333","group":"ba620c08.1655c","order":3,"width":6,"height":1,"name":"Ruta","label":"<i class=\"fa fa-road\"></i>","format":"Desvio ruta: {{msg.payload.ruta}}","layout":"row-center","x":830,"y":1420,"wires":[]},{"id":"fe735db9.3479","type":"mqtt in","z":"8083035d.07333","name":"","topic":"camion1","qos":"2","datatype":"auto","broker":"e1a93cc9.3e466","x":140,"y":480,"wires":[["ec2e16d2.b68ed8"]]},{"id":"ec2e16d2.b68ed8","type":"json","z":"8083035d.07333","name":"","property":"payload","action":"","pretty":false,"x":310,"y":480,"wires":[["a0d4b765.731578","22d1c2dd.33b8ae"]]},{"id":"a0d4b765.731578","type":"change","z":"8083035d.07333","name":"","rules":[{"t":"set","p":"camion1.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":480,"wires":[[]]},{"id":"22d1c2dd.33b8ae","type":"change","z":"8083035d.07333","name":"","rules":[{"t":"set","p":"camion1.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":540,"wires":[[]]},{"id":"89c0d018.02087","type":"mqtt in","z":"8083035d.07333","name":"","topic":"camion2","qos":"2","datatype":"auto","broker":"e1a93cc9.3e466","x":140,"y":620,"wires":[["f60ea4ba.49b908"]]},{"id":"f60ea4ba.49b908","type":"json","z":"8083035d.07333","name":"","property":"payload","action":"","pretty":false,"x":310,"y":620,"wires":[["d24fc55b.30cc88","d2301bed.10a018"]]},{"id":"d24fc55b.30cc88","type":"change","z":"8083035d.07333","name":"","rules":[{"t":"set","p":"camion2.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":620,"wires":[[]]},{"id":"d2301bed.10a018","type":"change","z":"8083035d.07333","name":"","rules":[{"t":"set","p":"camion2.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":680,"wires":[[]]},{"id":"6a5094d4.f4443c","type":"mqtt in","z":"8083035d.07333","name":"","topic":"camion3","qos":"2","datatype":"auto","broker":"e1a93cc9.3e466","x":140,"y":760,"wires":[["cace76a.8bbc088"]]},{"id":"cace76a.8bbc088","type":"json","z":"8083035d.07333","name":"","property":"payload","action":"","pretty":false,"x":310,"y":760,"wires":[["6035520e.31f03c","97b0c3f6.bad0c"]]},{"id":"6035520e.31f03c","type":"change","z":"8083035d.07333","name":"","rules":[{"t":"set","p":"camion3.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":760,"wires":[[]]},{"id":"97b0c3f6.bad0c","type":"change","z":"8083035d.07333","name":"","rules":[{"t":"set","p":"camion3.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":820,"wires":[[]]},{"id":"585aa760.663fd8","type":"mqtt in","z":"8083035d.07333","name":"","topic":"camion4","qos":"2","datatype":"auto","broker":"e1a93cc9.3e466","x":140,"y":900,"wires":[["82f7089a.b72098"]]},{"id":"82f7089a.b72098","type":"json","z":"8083035d.07333","name":"","property":"payload","action":"","pretty":false,"x":310,"y":900,"wires":[["383389c6.046356","b8a175.f841de88"]]},{"id":"383389c6.046356","type":"change","z":"8083035d.07333","name":"","rules":[{"t":"set","p":"camion4.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":900,"wires":[[]]},{"id":"b8a175.f841de88","type":"change","z":"8083035d.07333","name":"","rules":[{"t":"set","p":"camion1.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":960,"wires":[[]]},{"id":"c3476bf7.d57698","type":"mqtt in","z":"8083035d.07333","name":"","topic":"camion5","qos":"2","datatype":"auto","broker":"e1a93cc9.3e466","x":140,"y":1040,"wires":[["74093770.792f08"]]},{"id":"74093770.792f08","type":"json","z":"8083035d.07333","name":"","property":"payload","action":"","pretty":false,"x":310,"y":1040,"wires":[["8e316a73.70a938","a424f4bc.958438"]]},{"id":"8e316a73.70a938","type":"change","z":"8083035d.07333","name":"","rules":[{"t":"set","p":"camion5.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1040,"wires":[[]]},{"id":"a424f4bc.958438","type":"change","z":"8083035d.07333","name":"","rules":[{"t":"set","p":"camion1.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1100,"wires":[[]]},{"id":"fc935681.f6e588","type":"ui_group","z":"","name":"MapaCamiones","tab":"559192cb.66e6dc","disp":true,"width":29,"collapse":true},{"id":"ba620c08.1655c","type":"ui_group","z":"","name":"Camiones","tab":"559192cb.66e6dc","disp":true,"width":29,"collapse":true},{"id":"ff39f327.477c7","type":"ui_group","z":"","name":"Granjas","tab":"40eba3a4.8af97c","disp":true,"width":30,"collapse":false},{"id":"e1a93cc9.3e466","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.252","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"559192cb.66e6dc","type":"ui_tab","z":"","name":"InfoCamiones","icon":"fa-truck","disabled":false,"hidden":false},{"id":"40eba3a4.8af97c","type":"ui_tab","z":"","name":"FabricaLast3","icon":"dashboard","disabled":false,"hidden":false}]