Camiones/camiones.json
[
    {
        "id": "1b9cc601.e744aa",
        "type": "ui_worldmap",
        "z": "8083035d.07333",
        "group": "fc935681.f6e588",
        "order": 2,
        "width": 9,
        "height": 8,
        "name": "Camiones",
        "lat": "42.0330",
        "lon": "2.8722",
        "zoom": "11",
        "layer": "OSM grey",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "deg",
        "showgrid": "true",
        "path": "/camiones",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "78ee5b36.a43f84",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "540ff68d.1ea718"
            ]
        ]
    },
    {
        "id": "540ff68d.1ea718",
        "type": "function",
        "z": "8083035d.07333",
        "name": "Posición camiones&granjas",
        "func": "var thing = [\n{\n    name:\"Camion1\", \n    lat: flow.get(\"camion1.lat\"), \n    lon: flow.get(\"camion1.long\"),\n    icon:\"truck\",\n    iconColor:\"orange\",\n},\n{\n    name:\"Camion2\", \n    lat:42.0600 + Math.random() * 0.03, \n    lon:2.9018 + Math.random() * 0.01,\n    icon:\"truck\",\n    iconColor:\"dark\",\n},\n{\n    name:\"Camion3\", \n    lat:42.049829, \n    lon:2.833642,\n    icon:\"truck\",\n    iconColor:\"green\",\n},\n{\n    name:\"Camion4\", \n    lat:42.018725 + Math.random() * 0.02, \n    lon:2.876303 + Math.random() * 0.005,\n    icon:\"truck\",\n    iconColor:\"blue\",\n},\n{\n    name:\"Camion5\", \n    lat:41.9865 + Math.random() * 0.01, \n    lon:2.804317 + Math.random() * 0.009,\n    icon:\"truck\",\n    iconColor:\"red\",\n},\n{\n    name:\"LACCIM\", \n    lat:42.034710, \n    lon:2.892524,\n    icon:\"industry\"\n},\n{\n    name:\"Mas Badosa\", \n    lat:42.114439, \n    lon:2.742215,\n    icon:\"paw\",\n    iconColor:\"orange\",\n},\n{\n    name:\"Mas Colom\", \n    lat:42.064114, \n    lon:2.912980,\n    icon:\"paw\",\n    iconColor:\"dark\",\n},\n{\n    name:\"Mas Siset\", \n    lat:42.074299, \n    lon:2.833642,\n    icon:\"paw\",\n    iconColor:\"green\",\n},\n{\n    name:\"Mas Almar\", \n    lat:42.018725, \n    lon:2.976303,\n    icon:\"paw\",\n    iconColor:\"blue\",\n},\n{\n    name:\"Mas Gener\", \n    lat:41.910929, \n    lon:2.804317,\n    icon:\"paw\",\n    iconColor:\"red\",\n}\n]\nmsg.payload = thing;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "1b9cc601.e744aa"
            ]
        ]
    },
    {
        "id": "5b96e732.8025c8",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 790,
        "y": 180,
        "wires": [
            [
                "e78db68f.26bd78"
            ]
        ]
    },
    {
        "id": "133633e8.baeccc",
        "type": "ui_table",
        "z": "8083035d.07333",
        "group": "fc935681.f6e588",
        "name": "Trucks",
        "order": 5,
        "width": 12,
        "height": 4,
        "columns": [
            {
                "field": "Number",
                "title": "Assigned",
                "width": "100",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Driver",
                "title": "Driver",
                "width": "100",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Destination",
                "title": "Destination",
                "width": "150",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Time",
                "title": "Time",
                "width": "100",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Status",
                "title": "Status",
                "width": "88.25",
                "align": "center",
                "formatter": "traffic",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "ToCheck",
                "title": "Checked",
                "width": "90",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1370,
        "y": 180,
        "wires": []
    },
    {
        "id": "bad6006.77e05",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload[0].Number",
                "pt": "msg",
                "to": "<font color=\"orange\"><b>Camion1</b></font>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload[2].Number",
                "pt": "msg",
                "to": "<font color=\"green\"><b>Camion3</b></font>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload[3].Number",
                "pt": "msg",
                "to": "<font color=\"blue\"><b>Camion4</b></font>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload[4].Number",
                "pt": "msg",
                "to": "<font color=\"darkred\"><b>Camion5</b></font>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 180,
        "wires": [
            [
                "133633e8.baeccc"
            ]
        ]
    },
    {
        "id": "290d246e.610dac",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d5519f69.5f02b",
        "type": "ui_dropdown",
        "z": "8083035d.07333",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "ba620c08.1655c",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "options": [
            {
                "label": "Camion1",
                "value": "Camion1",
                "type": "str"
            },
            {
                "label": "Camion2",
                "value": "Camion2",
                "type": "str"
            },
            {
                "label": "Camion3",
                "value": "Camion3",
                "type": "str"
            },
            {
                "label": "Camion4",
                "value": "Camion4",
                "type": "str"
            },
            {
                "label": "Camion5",
                "value": "Camion5",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "290d246e.610dac"
            ]
        ]
    },
    {
        "id": "341ac2a1.3edebe",
        "type": "comment",
        "z": "8083035d.07333",
        "name": "Mapa posición general camiones",
        "info": "",
        "x": 210,
        "y": 120,
        "wires": []
    },
    {
        "id": "eda7bac.70d8448",
        "type": "comment",
        "z": "8083035d.07333",
        "name": "Tabla resumen estado",
        "info": "",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "bec652cd.6c46c",
        "type": "comment",
        "z": "8083035d.07333",
        "name": "Desplegable con detalle por camiones",
        "info": "",
        "x": 230,
        "y": 300,
        "wires": []
    },
    {
        "id": "ead9d99a.d312f8",
        "type": "ui_text",
        "z": "8083035d.07333",
        "group": "ba620c08.1655c",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "Temperatura ",
        "label": "<i class=\"fa fa-thermometer-full\" aria-hidden=\"true\"></i>",
        "format": "Temperatura cuba: {{msg.payload.temp}}º",
        "layout": "row-center",
        "x": 890,
        "y": 1400,
        "wires": []
    },
    {
        "id": "2e385954.a533a6",
        "type": "ui_text",
        "z": "8083035d.07333",
        "group": "ba620c08.1655c",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "Cadena frio",
        "label": "<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"></i>",
        "format": "Cadena frio: {{msg.payload.frio}}",
        "layout": "row-center",
        "x": 890,
        "y": 1440,
        "wires": []
    },
    {
        "id": "d8c5f60d.d255c8",
        "type": "ui_button",
        "z": "8083035d.07333",
        "name": "",
        "group": "ba620c08.1655c",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Cargar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 1440,
        "wires": [
            [
                "57193787.9e1028"
            ]
        ]
    },
    {
        "id": "57193787.9e1028",
        "type": "switch",
        "z": "8083035d.07333",
        "name": "",
        "property": "camion",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Camion1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Camion2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Camion3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Camion4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Camion5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 270,
        "y": 1440,
        "wires": [
            [
                "2889a5a3.8903ea",
                "9a4d96d9.7a9c98"
            ],
            [
                "ae1e54fa.139c08"
            ],
            [
                "f592cdda.0176c"
            ],
            [
                "74454260.1fa7bc"
            ],
            [
                "2a8c8957.8bffb6"
            ]
        ]
    },
    {
        "id": "2889a5a3.8903ea",
        "type": "function",
        "z": "8083035d.07333",
        "name": "Camion1",
        "func": "msg.payload = {\n    revision: flow.get(\"camion1.revision\"),\n    vida: flow.get(\"camion1.vidaRestante\"),\n    leche: flow.get(\"camion1.leche\"),\n    cuba:Math.ceil(Math.random() * 100),\n    temp: flow.get(\"camion1.temp\"),\n    frio: \"<font color=\\\"\" + flow.get(\"camion1.colorcadenafrio\") + \"\\\">\"+  \n        flow.get(\"camion1.cadenafrio\") + \"</font>\",\n    ruta: \"<font color=\\\"\" + flow.get(\"camion1.colordesvio\") + \"\\\">\"+  \n        flow.get(\"camion1.desvio\") + \"</font>\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1280,
        "wires": [
            [
                "1a7c2129.11423f"
            ]
        ]
    },
    {
        "id": "be6134e6.840088",
        "type": "ui_gauge",
        "z": "8083035d.07333",
        "name": "",
        "group": "ba620c08.1655c",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Capacidad cuba",
        "label": "%",
        "format": "{{msg.payload.cuba}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 900,
        "y": 1280,
        "wires": []
    },
    {
        "id": "eb0c398c.8d1d98",
        "type": "ui_gauge",
        "z": "8083035d.07333",
        "name": "",
        "group": "ba620c08.1655c",
        "order": 5,
        "width": 6,
        "height": 4,
        "gtype": "donut",
        "title": "Proxima revision",
        "label": "KM",
        "format": "{{msg.payload.revision}}",
        "min": "0",
        "max": "80000",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff40"
        ],
        "seg1": "",
        "seg2": "",
        "x": 900,
        "y": 1320,
        "wires": []
    },
    {
        "id": "ae1e54fa.139c08",
        "type": "function",
        "z": "8083035d.07333",
        "name": "Camion2",
        "func": "msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 29000,\n    leche: flow.get(\"camion2.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion2.temp\"),\n    frio: \"<font color=\\\"red\\\">NOK</font>\",\n    ruta: \"<font color=\\\"red\\\">SI</font>\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1420,
        "wires": [
            [
                "1a7c2129.11423f"
            ]
        ]
    },
    {
        "id": "f592cdda.0176c",
        "type": "function",
        "z": "8083035d.07333",
        "name": "Camion3",
        "func": "msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 400000,\n    leche: flow.get(\"camion3.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion3.temp\"),\n    frio: \"<font color=\\\"green\\\">OK</font>\",\n    ruta: \"<font color=\\\"green\\\">NO</font>\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1460,
        "wires": [
            [
                "1a7c2129.11423f"
            ]
        ]
    },
    {
        "id": "74454260.1fa7bc",
        "type": "function",
        "z": "8083035d.07333",
        "name": "Camion4",
        "func": "msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 256489,\n    leche: flow.get(\"camion4.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion4.temp\"),\n    frio: \"<font color=\\\"green\\\">OK</font>\",\n    ruta: \"<font color=\\\"green\\\">NO</font>\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1500,
        "wires": [
            [
                "1a7c2129.11423f"
            ]
        ]
    },
    {
        "id": "2a8c8957.8bffb6",
        "type": "function",
        "z": "8083035d.07333",
        "name": "Camion5",
        "func": "msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 262000,\n    leche: flow.get(\"camion5.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion5.temp\"),\n    frio: \"<font color=\\\"red\\\">NOK</font>\",\n    ruta: \"<font color=\\\"green\\\">NO</font>\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 1540,
        "wires": [
            [
                "1a7c2129.11423f"
            ]
        ]
    },
    {
        "id": "1a7c2129.11423f",
        "type": "link out",
        "z": "8083035d.07333",
        "name": "",
        "links": [
            "9ebdde0e.6ee8b"
        ],
        "x": 615,
        "y": 1440,
        "wires": []
    },
    {
        "id": "9ebdde0e.6ee8b",
        "type": "link in",
        "z": "8083035d.07333",
        "name": "",
        "links": [
            "1a7c2129.11423f",
            "b6f2bcd6.e79e3",
            "5d7f15c7.67493c",
            "c2b36252.bac9c",
            "84f71e36.f155c"
        ],
        "x": 735,
        "y": 1400,
        "wires": [
            [
                "ead9d99a.d312f8",
                "2e385954.a533a6",
                "be6134e6.840088",
                "eb0c398c.8d1d98",
                "692e4456.b77f0c",
                "455ffac6.e618f4",
                "d3ac226a.d3a86"
            ]
        ]
    },
    {
        "id": "692e4456.b77f0c",
        "type": "ui_gauge",
        "z": "8083035d.07333",
        "name": "",
        "group": "ba620c08.1655c",
        "order": 6,
        "width": 6,
        "height": 4,
        "gtype": "donut",
        "title": "Vida restante",
        "label": "KM",
        "format": "{{msg.payload.vida}}",
        "min": "0",
        "max": "480000",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff40"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 1360,
        "wires": []
    },
    {
        "id": "455ffac6.e618f4",
        "type": "ui_text",
        "z": "8083035d.07333",
        "group": "ba620c08.1655c",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "Leche transportada",
        "label": "<i class=\"fa fa-tint\"></i>",
        "format": "Leche transportada: {{msg.payload.leche}} L",
        "layout": "row-center",
        "x": 910,
        "y": 1480,
        "wires": []
    },
    {
        "id": "d3ac226a.d3a86",
        "type": "ui_text",
        "z": "8083035d.07333",
        "group": "ba620c08.1655c",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Ruta",
        "label": "<i class=\"fa fa-road\"></i>",
        "format": "Desvio ruta: {{msg.payload.ruta}}",
        "layout": "row-center",
        "x": 870,
        "y": 1520,
        "wires": []
    },
    {
        "id": "fe735db9.3479",
        "type": "mqtt in",
        "z": "8083035d.07333",
        "name": "Camion 1",
        "topic": "24:6F:28:87:F8:30/truck",
        "qos": "2",
        "datatype": "auto",
        "broker": "a55db45.7abd348",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "ec2e16d2.b68ed8"
            ]
        ]
    },
    {
        "id": "ec2e16d2.b68ed8",
        "type": "json",
        "z": "8083035d.07333",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "a0d4b765.731578",
                "22d1c2dd.33b8ae",
                "b7f76a5.febca98",
                "44fd212f.19f9e"
            ]
        ]
    },
    {
        "id": "a0d4b765.731578",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.temp",
                "pt": "flow",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "22d1c2dd.33b8ae",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.leche",
                "pt": "flow",
                "to": "payload.leche",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "89c0d018.02087",
        "type": "mqtt in",
        "z": "8083035d.07333",
        "name": "",
        "topic": "camion2",
        "qos": "2",
        "datatype": "auto",
        "broker": "e1a93cc9.3e466",
        "x": 140,
        "y": 800,
        "wires": [
            [
                "f60ea4ba.49b908"
            ]
        ]
    },
    {
        "id": "f60ea4ba.49b908",
        "type": "json",
        "z": "8083035d.07333",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 800,
        "wires": [
            [
                "d24fc55b.30cc88",
                "d2301bed.10a018",
                "d6066149.1b9c8",
                "be63004f.9e966"
            ]
        ]
    },
    {
        "id": "d24fc55b.30cc88",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion2.temp",
                "pt": "flow",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "d2301bed.10a018",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion2.leche",
                "pt": "flow",
                "to": "payload.leche",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "6a5094d4.f4443c",
        "type": "mqtt in",
        "z": "8083035d.07333",
        "name": "",
        "topic": "camion3",
        "qos": "2",
        "datatype": "auto",
        "broker": "e1a93cc9.3e466",
        "x": 740,
        "y": 800,
        "wires": [
            [
                "cace76a.8bbc088"
            ]
        ]
    },
    {
        "id": "cace76a.8bbc088",
        "type": "json",
        "z": "8083035d.07333",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 910,
        "y": 800,
        "wires": [
            [
                "6035520e.31f03c",
                "97b0c3f6.bad0c",
                "a22988d9.ff3c78",
                "e6f9e263.da08c"
            ]
        ]
    },
    {
        "id": "6035520e.31f03c",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion3.temp",
                "pt": "flow",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "97b0c3f6.bad0c",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion3.leche",
                "pt": "flow",
                "to": "payload.leche",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "585aa760.663fd8",
        "type": "mqtt in",
        "z": "8083035d.07333",
        "name": "",
        "topic": "camion4",
        "qos": "2",
        "datatype": "auto",
        "broker": "e1a93cc9.3e466",
        "x": 140,
        "y": 1040,
        "wires": [
            [
                "82f7089a.b72098"
            ]
        ]
    },
    {
        "id": "82f7089a.b72098",
        "type": "json",
        "z": "8083035d.07333",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 1040,
        "wires": [
            [
                "383389c6.046356",
                "b8a175.f841de88",
                "41923c0b.435784",
                "c75a8cc0.9aa78"
            ]
        ]
    },
    {
        "id": "383389c6.046356",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion4.temp",
                "pt": "flow",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "b8a175.f841de88",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion4.leche",
                "pt": "flow",
                "to": "payload.leche",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "c3476bf7.d57698",
        "type": "mqtt in",
        "z": "8083035d.07333",
        "name": "",
        "topic": "camion5",
        "qos": "2",
        "datatype": "auto",
        "broker": "e1a93cc9.3e466",
        "x": 740,
        "y": 1040,
        "wires": [
            [
                "74093770.792f08"
            ]
        ]
    },
    {
        "id": "74093770.792f08",
        "type": "json",
        "z": "8083035d.07333",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 910,
        "y": 1040,
        "wires": [
            [
                "8e316a73.70a938",
                "a424f4bc.958438",
                "9aa77039.445fd",
                "43e76b4.830aa94"
            ]
        ]
    },
    {
        "id": "8e316a73.70a938",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion5.temp",
                "pt": "flow",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "a424f4bc.958438",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.leche",
                "pt": "flow",
                "to": "payload.leche",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "14b04790.fb8fe8",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "ID conductor",
        "topic": "",
        "payload": "Conductor1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 830,
        "y": 480,
        "wires": [
            [
                "61ba6ef9.03e5d"
            ]
        ]
    },
    {
        "id": "61ba6ef9.03e5d",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.conductor",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b7f76a5.febca98",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.lat",
                "pt": "flow",
                "to": "payload.latGPS",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "44fd212f.19f9e",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.long",
                "pt": "flow",
                "to": "payload.longGPS",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "5509ae72.ce42d",
        "type": "comment",
        "z": "8083035d.07333",
        "name": "Información recibida del dispositivo programado, se almacena en variables del flow",
        "info": "",
        "x": 370,
        "y": 440,
        "wires": []
    },
    {
        "id": "b0de937e.7ede2",
        "type": "comment",
        "z": "8083035d.07333",
        "name": "Información que se debería recibir de los otros 4 dispositivos",
        "info": "",
        "x": 300,
        "y": 680,
        "wires": []
    },
    {
        "id": "d6066149.1b9c8",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion2.lat",
                "pt": "flow",
                "to": "payload.latGPS",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "be63004f.9e966",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion2.long",
                "pt": "flow",
                "to": "payload.longGPS",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "a22988d9.ff3c78",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion3.lat",
                "pt": "flow",
                "to": "payload.latGPS",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "e6f9e263.da08c",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion3.long",
                "pt": "flow",
                "to": "payload.longGPS",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "41923c0b.435784",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion4.lat",
                "pt": "flow",
                "to": "payload.latGPS",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "c75a8cc0.9aa78",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion4.long",
                "pt": "flow",
                "to": "payload.longGPS",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "9aa77039.445fd",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion5.lat",
                "pt": "flow",
                "to": "payload.latGPS",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "43e76b4.830aa94",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion5.long",
                "pt": "flow",
                "to": "payload.longGPS",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "b0581fcc.82f0d",
        "type": "comment",
        "z": "8083035d.07333",
        "name": "Visualización de los datos por camión. Se mantiene la pulsación del botón ya que la visualización de los datos limpia alarmas",
        "info": "",
        "x": 500,
        "y": 1220,
        "wires": []
    },
    {
        "id": "e5cdac1e.686f3",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "Sentido ruta",
        "topic": "",
        "payload": "LACCIM a MBadosa",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 830,
        "y": 520,
        "wires": [
            [
                "964a50bc.2bf41"
            ]
        ]
    },
    {
        "id": "964a50bc.2bf41",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.ruta",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "e78db68f.26bd78",
        "type": "function",
        "z": "8083035d.07333",
        "name": "Tabla estado camiones",
        "func": "var thing = [\n    {\n        \"Number\": \"<b>Camion1</b>\",\n        \"Driver\": flow.get(\"camion1.conductor\"), \n        \"Destination\": flow.get(\"camion1.ruta\"), \n        \"Time\": flow.get(\"camion1.tiempoRestante\"),\n        \"Status\": flow.get(\"camion1.status\"),\n        \"ToCheck\": flow.get(\"camion1.check\")\n    },\n    {\n        \"Number\": \"<b>Camion2</b>\",\n        \"Driver\": \"Conductor2\",\n        \"Destination\": \"Llenando cuba\",\n        \"Time\": \"5M\",\n        \"Status\": 50,\n        \"ToCheck\": false\n    },\n    {\n        \"Number\": \"<b>Camion3</b>\",\n        \"Driver\": \"Conductor3\",\n        \"Destination\": \"LACCIM a CSiset\",\n        \"Time\": \"55M\",\n        \"Status\": 85,\n        \"ToCheck\": true\n    },\n    {\n        \"Number\": \"<b>Camion4</b>\",\n        \"Driver\": \"Conductor4\",\n        \"Destination\": \"MAlmar a LACCIM\",\n        \"Time\": \"1H 36M\",\n        \"Status\": 36,\n        \"ToCheck\": false\n    },\n    {\n        \"Number\": \"<b>Camion5</b>\",\n        \"Driver\": \"Conductor5\",\n        \"Destination\": \"LACCIM a MGener\",\n        \"Time\": \"26M\",\n        \"Status\": 48,\n        \"ToCheck\": true\n    },\n    {\n        \"Number\": \"<b>Decanso</b>\",\n        \"Driver\": \"Conductor6\",\n        \"Destination\": \"\",\n        \"Time\": \"\",\n        \"Status\": 85,\n        \"ToCheck\": true\n    }\n]\nmsg.payload = thing;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 180,
        "wires": [
            [
                "bad6006.77e05"
            ]
        ]
    },
    {
        "id": "e98a1e8e.e25e1",
        "type": "comment",
        "z": "8083035d.07333",
        "name": "Información recibida por otros medios, pero también tenida en cuenta en la tabla",
        "info": "",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "98383a83.194ee8",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "Dato NO comprobado",
        "topic": "",
        "payload": "false",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 860,
        "y": 560,
        "wires": [
            [
                "7ac55b19.0ed8b4"
            ]
        ]
    },
    {
        "id": "7ac55b19.0ed8b4",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.check",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9a4d96d9.7a9c98",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.check",
                "pt": "flow",
                "to": "true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "7889d841.f2f8f8",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "Tiempo a destino",
        "topic": "",
        "payload": "1H 25M",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 840,
        "y": 600,
        "wires": [
            [
                "823d1b2b.b9e238"
            ]
        ]
    },
    {
        "id": "823d1b2b.b9e238",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.tiempoRestante",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "120550f7.bd5d8f",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "Cadena frio NOK",
        "topic": "",
        "payload": "NOK",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 1720,
        "wires": [
            [
                "d807dce.bb9862",
                "c08ee311.b88e1"
            ]
        ]
    },
    {
        "id": "d807dce.bb9862",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.cadenafrio",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "b2d79891.a0f9e8",
        "type": "comment",
        "z": "8083035d.07333",
        "name": "Datos adicionales para la gestión del estado del camión",
        "info": "",
        "x": 300,
        "y": 1660,
        "wires": []
    },
    {
        "id": "27007f32.90294",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "Vida restante NOK",
        "topic": "",
        "payload": "299",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 1820,
        "wires": [
            [
                "90d05a78.efe0e8"
            ]
        ]
    },
    {
        "id": "90d05a78.efe0e8",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.vidaRestante",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "d603d8c3.d148a8",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "Desvío ruta NOK",
        "topic": "",
        "payload": "SI",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 1860,
        "wires": [
            [
                "a7c61dc2.83b22",
                "976e97fe.ebefb8"
            ]
        ]
    },
    {
        "id": "a7c61dc2.83b22",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.desvio",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "292f96b2.aba75a",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "Proxima revisión NOK",
        "topic": "",
        "payload": "299",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 1960,
        "wires": [
            [
                "e611aad2.0abc08"
            ]
        ]
    },
    {
        "id": "e611aad2.0abc08",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.revision",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "67d89e4d.88f5a",
        "type": "function",
        "z": "8083035d.07333",
        "name": "Status Camión 1",
        "func": "var cadenaFrio = flow.get(\"camion1.cadenafrio\")\nvar vidarestante = flow.get(\"camion1.cadenafrio\")\nvar desvio = flow.get(\"camion1.desvio\")\nvar revision = flow.get(\"camion1.revision\")\n\nflow.set(\"camion1.status\", 100)\n\nif (desvio==\"SI\"){\n    flow.set(\"camion1.status\", 50)\n}\n\nif (revision<300){\n    flow.set(\"camion1.status\", 50)\n}\n\nif (cadenaFrio==\"NOK\"){\n    flow.set(\"camion1.status\", 0)\n}\n\nif (vidarestante<300){\n    flow.set(\"camion1.status\", 0)\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "5512b83b.1cfbb8",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "Status",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 180,
        "y": 2040,
        "wires": [
            [
                "67d89e4d.88f5a"
            ]
        ]
    },
    {
        "id": "79ac0536.c52fcc",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "Cadena frio OK",
        "topic": "",
        "payload": "OK",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 800,
        "y": 1720,
        "wires": [
            [
                "f58af628.811eb8",
                "ab26e195.bd4f5"
            ]
        ]
    },
    {
        "id": "f58af628.811eb8",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.cadenafrio",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "e2f6dedd.bde0f",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "Vida restante OK",
        "topic": "",
        "payload": "256984",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 800,
        "y": 1820,
        "wires": [
            [
                "b5ae9b45.efc1c8"
            ]
        ]
    },
    {
        "id": "b5ae9b45.efc1c8",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.vidaRestante",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "2908e8fd.7804d8",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "Desvío ruta OK",
        "topic": "",
        "payload": "NO",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 800,
        "y": 1860,
        "wires": [
            [
                "81c5263b.447288",
                "2aaee4ee.45048c"
            ]
        ]
    },
    {
        "id": "81c5263b.447288",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.desvio",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "fd9434f.19da4c8",
        "type": "inject",
        "z": "8083035d.07333",
        "name": "Proxima revisión OK",
        "topic": "",
        "payload": "42351",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 810,
        "y": 1960,
        "wires": [
            [
                "ad51d646.ee9698"
            ]
        ]
    },
    {
        "id": "ad51d646.ee9698",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.revision",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "c08ee311.b88e1",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.colorcadenafrio",
                "pt": "flow",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "ab26e195.bd4f5",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.colorcadenafrio",
                "pt": "flow",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "976e97fe.ebefb8",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.colordesvio",
                "pt": "flow",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "2aaee4ee.45048c",
        "type": "change",
        "z": "8083035d.07333",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camion1.colordesvio",
                "pt": "flow",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "fc935681.f6e588",
        "type": "ui_group",
        "z": "",
        "name": "MapaCamiones",
        "tab": "559192cb.66e6dc",
        "disp": true,
        "width": 29,
        "collapse": true
    },
    {
        "id": "ba620c08.1655c",
        "type": "ui_group",
        "z": "",
        "name": "Camiones",
        "tab": "559192cb.66e6dc",
        "disp": true,
        "width": 29,
        "collapse": true
    },
    {
        "id": "a55db45.7abd348",
        "type": "mqtt-broker",
        "z": "",
        "name": "azContainerMosquitto",
        "broker": "iiotmosquitto0018.westeurope.azurecontainer.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e1a93cc9.3e466",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.1.252",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "559192cb.66e6dc",
        "type": "ui_tab",
        "z": "",
        "name": "InfoCamiones",
        "icon": "fa-truck",
        "disabled": false,
        "hidden": false
    }
]
