Node-red/Dashboards_MOXA.json
[{"id":"7eaa1a1c.69f2b4","type":"tab","label":"Granja","disabled":false,"info":""},{"id":"2c244ab4.7bb676","type":"inject","z":"7eaa1a1c.69f2b4","name":"read","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":110,"y":80,"wires":[["cab4ad17.48971"]]},{"id":"cab4ad17.48971","type":"file in","z":"7eaa1a1c.69f2b4","name":"farms","filename":"/Users/santiagoruiz/Desktop/granjas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":230,"y":80,"wires":[["1ef8399f.e11de6"]]},{"id":"1ef8399f.e11de6","type":"xml","z":"7eaa1a1c.69f2b4","name":"","property":"payload","attr":"","chr":"","x":350,"y":80,"wires":[["5b4e3d1e.aa3924"]]},{"id":"5b4e3d1e.aa3924","type":"function","z":"7eaa1a1c.69f2b4","name":"save farms to flow variables","func":"function kml_to_poligon_center(kml, position) {\n    // Transforms string coordinates to well structured poligon and center coordinates\n    var farm = kml.Document[0].Placemark[position];\n    \n    var center_point = {\n        \"lat\": parseFloat(farm.LookAt[0].latitude[0]),\n        \"lon\": parseFloat(farm.LookAt[0].longitude[0])\n    }\n    \n    var area_points = farm.Polygon[0].outerBoundaryIs[0].LinearRing[0].coordinates[0]\n    area_points = area_points.substring(7);\n    \n    var area = area_points.split(\" \");\n    area.pop()\n    \n    area.forEach(function(part, index) {\n      this[index] = area[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, area);\n    \n    // Change lat lon position\n    area.forEach(function(part, index) { \n        var lat = area[index][0]    \n        var lon = area[index][1]\n        area[index][0] = lon,    \n        area[index][1] = lat\n    }, area);\n    \n    return {\n        \"area\": area, \n        \"center_point\": center_point,\n        \"cows\": [],\n        \"route\": []\n    };\n}\n\n// Prepare final message\nvar farms = {\n    \"mas_gener\": kml_to_poligon_center(msg.payload.kml, 0),\n    \"mas_almar\": kml_to_poligon_center(msg.payload.kml, 1),\n    \"can_siset\": kml_to_poligon_center(msg.payload.kml, 2),\n    \"mas_colom\": kml_to_poligon_center(msg.payload.kml, 3),\n    \"mas_badosa\": kml_to_poligon_center(msg.payload.kml, 4)\n}\n\nflow.set(\"farms\", farms);\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":80,"wires":[[]]},{"id":"7979ba7a.25bea4","type":"function","z":"7eaa1a1c.69f2b4","name":"prepare mas_gener to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 16\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Almar\",\n    \"area\": msg.payload.area,\n    \"color\": \"blue\",\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"x":680,"y":200,"wires":[["d1190139.16dea"]]},{"id":"3413662d.15cd2a","type":"worldmap in","z":"7eaa1a1c.69f2b4","name":"","path":"/map/farm1","events":"all","x":80,"y":200,"wires":[["55a2d761.fbe2a8"]]},{"id":"d1190139.16dea","type":"ui_worldmap","z":"7eaa1a1c.69f2b4","group":"7584d47b.24e7bc","order":5,"width":8,"height":7,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm1","x":890,"y":220,"wires":[]},{"id":"55a2d761.fbe2a8","type":"switch","z":"7eaa1a1c.69f2b4","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":200,"wires":[["7db083fb.83ebec"]]},{"id":"5040f3aa.a68e7c","type":"ui_button","z":"7eaa1a1c.69f2b4","name":"","group":"7584d47b.24e7bc","order":3,"width":8,"height":1,"passthru":true,"label":"Cargar","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","x":130,"y":260,"wires":[["7db083fb.83ebec","7a1c3e46.ce1ae"]]},{"id":"230bd64e.b0d4ea","type":"function","z":"7eaa1a1c.69f2b4","name":"update cows","func":"farms = flow.get(\"farms\");\ng = flow.get(\"vargranja\")\nfarm = farms[g];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["d1190139.16dea"]]},{"id":"f257e302.47a6b","type":"inject","z":"7eaa1a1c.69f2b4","name":"","topic":"mas_gener","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":120,"y":440,"wires":[["537e6728.9386b8"]]},{"id":"306599c3.432296","type":"inject","z":"7eaa1a1c.69f2b4","name":"","topic":"can_siset","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":120,"y":480,"wires":[["537e6728.9386b8"]]},{"id":"b55c66ef.279e08","type":"inject","z":"7eaa1a1c.69f2b4","name":"","topic":"mas_almar","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":120,"y":520,"wires":[["537e6728.9386b8"]]},{"id":"13c3ef2e.e0e171","type":"inject","z":"7eaa1a1c.69f2b4","name":"","topic":"mas_badosa","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":130,"y":560,"wires":[["537e6728.9386b8"]]},{"id":"d34e6aeb.d01258","type":"inject","z":"7eaa1a1c.69f2b4","name":"","topic":"mas_colom","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":120,"y":600,"wires":[["537e6728.9386b8"]]},{"id":"537e6728.9386b8","type":"function","z":"7eaa1a1c.69f2b4","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"x":400,"y":520,"wires":[]},{"id":"7db083fb.83ebec","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"f=flow.get(\"farms\")\ng=flow.get(\"vargranja\")\nmsg.payload=f[g]\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["7979ba7a.25bea4","230bd64e.b0d4ea"]]},{"id":"97c8650.5b6f498","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vargranja","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":360,"wires":[[]]},{"id":"148ae0c1.79333f","type":"ui_dropdown","z":"7eaa1a1c.69f2b4","name":"","label":"","tooltip":"","place":"Select option","group":"7584d47b.24e7bc","order":1,"width":8,"height":1,"passthru":true,"options":[{"label":"Mas Gener","value":"mas_gener","type":"str"},{"label":"Can Siset","value":"can_siset","type":"str"},{"label":"Mas Almar","value":"mas_almar","type":"str"},{"label":"Mas Badosa","value":"mas_badosa","type":"str"},{"label":"Mas Colom","value":"mas_colom","type":"str"}],"payload":"","topic":"","x":90,"y":360,"wires":[["97c8650.5b6f498"]]},{"id":"6b6402ed.b9712c","type":"inject","z":"7eaa1a1c.69f2b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":300,"wires":[["230bd64e.b0d4ea"]]},{"id":"74db1816.f6b088","type":"comment","z":"7eaa1a1c.69f2b4","name":"Maps configuration","info":"","x":110,"y":20,"wires":[]},{"id":"9917970d.b7ecc8","type":"comment","z":"7eaa1a1c.69f2b4","name":"Farm Data","info":"","x":80,"y":680,"wires":[]},{"id":"2f4aa1e.bcedd5e","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_gener.Temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":780,"wires":[[]]},{"id":"5abc0119.3541a","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_gener.Hum","pt":"flow","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":820,"wires":[[]]},{"id":"e1254572.fa5f38","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_gener.Leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":860,"wires":[[]]},{"id":"b8f3ea07.1cf348","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_gener.Valla","pt":"flow","to":"payload.valla","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":900,"wires":[[]]},{"id":"e1cbe370.58f5a","type":"link in","z":"7eaa1a1c.69f2b4","name":"","links":["7a1c3e46.ce1ae"],"x":55,"y":1780,"wires":[["d953d5c8.858158"]]},{"id":"7a1c3e46.ce1ae","type":"link out","z":"7eaa1a1c.69f2b4","name":"","links":["e1cbe370.58f5a"],"x":280,"y":280,"wires":[]},{"id":"d3599c91.48bf","type":"ui_text","z":"7eaa1a1c.69f2b4","group":"7584d47b.24e7bc","order":2,"width":8,"height":1,"name":"","label":"<i class=\"fa fa-thermometer-half\" aria-hidden=\"true\"> Temperatura: </i>","format":"<font color= {{msg.color}} > {{msg.payload.Temp}}ºC </font>","layout":"row-spread","x":960,"y":1740,"wires":[],"icon":"font-awesome/fa-thermometer-3"},{"id":"8cb6c24c.59b15","type":"ui_text","z":"7eaa1a1c.69f2b4","group":"7584d47b.24e7bc","order":4,"width":8,"height":1,"name":"","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"> Humedad:</i>","format":"<font color= {{msg.color}} > {{msg.payload.Hum}}% </font>","layout":"row-spread","x":930,"y":1780,"wires":[],"icon":"font-awesome/fa-spinner"},{"id":"1dd11285.5ef5fd","type":"ui_text","z":"7eaa1a1c.69f2b4","group":"7584d47b.24e7bc","order":6,"width":8,"height":1,"name":"","label":"<i class= \"fa fa-tint\" aria-hidden=\"true\"> Cantidad de Leche:</i>","format":"<font color= {{msg.color}} > {{msg.payload.Leche}} L</font>","layout":"row-spread","x":930,"y":1820,"wires":[],"icon":"font-awesome/fa-hourglass-3"},{"id":"20adb364.73a87c","type":"ui_text","z":"7eaa1a1c.69f2b4","group":"7584d47b.24e7bc","order":7,"width":8,"height":1,"name":"","label":"<i class=\"fa fa-object-ungroup\" aria-hidden=\"true\"> Estado de Valla:</i>","format":"<font color= {{msg.color}} > {{msg.payload.Valla}} </font>","layout":"row-spread","x":960,"y":1860,"wires":[],"icon":"font-awesome/fa-object-ungroup","info":"<font color= {{msg.color}} > {{msg.payload.Valla}} </font>"},{"id":"d953d5c8.858158","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"f=flow.get(\"farms\")\ng=flow.get(\"vargranja\")\nmsg.payload=f[g]\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":1780,"wires":[["e892c6f8.102608","2ad55a83.045a06","b99a0af8.025548","40b587a8.b48728"]]},{"id":"6eaf1aa8.5e4c04","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.can_siset.Temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":960,"wires":[[]]},{"id":"3493c8d1.f3f458","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.can_siset.Hum","pt":"flow","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1000,"wires":[[]]},{"id":"135f2693.b454b9","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.can_siset.Leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1040,"wires":[[]]},{"id":"47b3acc1.b6ef14","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.can_siset.Valla","pt":"flow","to":"payload.valla","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1080,"wires":[[]]},{"id":"e7f38e05.56bb5","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_almar.Temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1140,"wires":[[]]},{"id":"b67fdf6f.6bc3f","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_almar.Hum","pt":"flow","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1180,"wires":[[]]},{"id":"f72dd114.5178a","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_almar.Leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1220,"wires":[[]]},{"id":"5107863d.f37b88","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_almar.Valla","pt":"flow","to":"payload.valla","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1260,"wires":[[]]},{"id":"6b5be5fc.66cbcc","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_badosa.Temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1320,"wires":[[]]},{"id":"ffb7b39e.8b02e","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_badosa.Hum","pt":"flow","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1360,"wires":[[]]},{"id":"667defe5.bd69a","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_badosa.Leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1400,"wires":[[]]},{"id":"81c72230.989e4","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_badosa.Valla","pt":"flow","to":"payload.valla","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1440,"wires":[[]]},{"id":"5a609c3.fb63564","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_colom.Temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1500,"wires":[[]]},{"id":"9cde4a8e.415668","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_colom.Hum","pt":"flow","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1540,"wires":[[]]},{"id":"103eed13.7d8693","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_colom.Leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1580,"wires":[[]]},{"id":"83503e1f.de6fa","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"farms.mas_colom.Valla","pt":"flow","to":"payload.valla","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1620,"wires":[[]]},{"id":"e892c6f8.102608","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"msg.color = \"green\"\nif(msg.payload.Temp > 30){\nmsg.color = \"red\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1740,"wires":[["d3599c91.48bf"]]},{"id":"2ad55a83.045a06","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"msg.color = \"green\"\nif(msg.payload.Hum > 60){\nmsg.color = \"red\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1780,"wires":[["8cb6c24c.59b15"]]},{"id":"b99a0af8.025548","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"msg.color = \"green\"\nif(msg.payload.Leche < 5){\nmsg.color = \"red\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1820,"wires":[["1dd11285.5ef5fd"]]},{"id":"40b587a8.b48728","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"if(msg.payload.Valla == 1){\nmsg.payload.Valla = \"NOK\"\nmsg.color = \"red\"\n}else{\n    msg.payload.Valla = \"OK\"\n    msg.color = \"green\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1860,"wires":[["20adb364.73a87c"]]},{"id":"63a01d35.bc39a4","type":"comment","z":"7eaa1a1c.69f2b4","name":"Data display","info":"","x":130,"y":1680,"wires":[]},{"id":"344c3a2f.7f1616","type":"comment","z":"7eaa1a1c.69f2b4","name":"Cow's Data","info":"","x":130,"y":1960,"wires":[]},{"id":"724bd2c5.19372c","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca1.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2180,"wires":[["5e0ee899.645378"]]},{"id":"b63e17a7.1428f8","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca1.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2220,"wires":[[]]},{"id":"76825ac4.2b95f4","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca1.long","pt":"flow","to":"payload.long","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2300,"wires":[[]]},{"id":"c4a3bb0e.470b28","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca2.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2380,"wires":[["d9fd7513.527168"]]},{"id":"c839daba.2f2538","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca2.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2420,"wires":[[]]},{"id":"ca7d8c4e.916e7","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca2.long","pt":"flow","to":"payload.long","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2500,"wires":[[]]},{"id":"2c6c1f41.f13ac","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca3.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2560,"wires":[["58c4a7bf.162f48"]]},{"id":"9a6a5c9f.dbfd1","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca3.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2600,"wires":[[]]},{"id":"9dfe903e.00023","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca3.long","pt":"flow","to":"payload.long","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2680,"wires":[[]]},{"id":"ab5213ab.827a8","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca4.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2740,"wires":[["5856c1b3.86506"]]},{"id":"7d2535f9.6182cc","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca4.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2780,"wires":[[]]},{"id":"23167554.d0ecca","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca4.long","pt":"flow","to":"payload.long","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2860,"wires":[[]]},{"id":"e81d97c5.3fa3d8","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca5.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2920,"wires":[["771700ef.93b67"]]},{"id":"156aadc0.c060d2","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca5.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2960,"wires":[[]]},{"id":"a2639fa0.57605","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca5.long","pt":"flow","to":"payload.long","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3040,"wires":[[]]},{"id":"5e0ee899.645378","type":"function","z":"7eaa1a1c.69f2b4","name":"Alarma","func":"let v=\"vaca\"\nlet n=1\nlet hum = flow.get(\"vaca1.hum\")\nlet temp=flow.get(\"vaca1.temp\")\nlet peso = flow.get(\"vaca1.peso\")\nlet dist =flow.get(\"vaca1.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2180,"wires":[[]]},{"id":"d9fd7513.527168","type":"function","z":"7eaa1a1c.69f2b4","name":"Alarma","func":"let v=\"vaca\"\nlet n=2\nlet hum = flow.get(\"vaca2.hum\")\nlet temp=flow.get(\"vaca2.temp\")\nlet peso = flow.get(\"vaca2.peso\")\nlet dist =flow.get(\"vaca2.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2380,"wires":[[]]},{"id":"58c4a7bf.162f48","type":"function","z":"7eaa1a1c.69f2b4","name":"Alarma","func":"let v=\"vaca\"\nlet n=3\nlet hum = flow.get(\"vaca3.hum\")\nlet temp=flow.get(\"vaca3.temp\")\nlet peso = flow.get(\"vaca3.peso\")\nlet dist =flow.get(\"vaca3.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2560,"wires":[[]]},{"id":"5856c1b3.86506","type":"function","z":"7eaa1a1c.69f2b4","name":"Alarma","func":"let v=\"vaca\"\nlet n=4\nlet hum = flow.get(\"vaca4.hum\")\nlet temp=flow.get(\"vaca4.temp\")\nlet peso = flow.get(\"vaca4.peso\")\nlet dist =flow.get(\"vaca4.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":2740,"wires":[[]]},{"id":"771700ef.93b67","type":"function","z":"7eaa1a1c.69f2b4","name":"Alarma","func":"let v=\"vaca\"\nlet n=5\nlet hum = flow.get(\"vaca5.hum\")\nlet temp=flow.get(\"vaca5.temp\")\nlet peso = flow.get(\"vaca5.peso\")\nlet dist =flow.get(\"vaca5.dist\")\nflow.set(v+n+\".estado\",\"OK\")\nif(temp>38){\n    flow.set(v+n+\".estado\",\"NOK\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":2920,"wires":[[]]},{"id":"c5818dc9.8a35d","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"let arr=[]\nl=10\naux={\n    \"temp\":\"\",\n    \"leche\":\"\",\n    \"dist\":\"\",\n    \"estado\":\"\",\n    \"numero\":\"\"\n}\nfor(let i=1;i<=5;i++){\n   v=flow.get(\"vaca\"+i)\n   v.numero=i\n   if(v.estado==\"NOK\"){\n    \n   arr.push(v)\n   }\n}\nla=l-arr.length\nif(la>0){\n    for(let i = 0; i<la; i++){\n    arr.push(aux)\n    }\n}\n\nmsg.payload = arr\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":3100,"wires":[["70c46042.61ea1"]]},{"id":"b8883148.d800a","type":"inject","z":"7eaa1a1c.69f2b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":3100,"wires":[["c5818dc9.8a35d"]]},{"id":"a8f93173.1e1c1","type":"ui_gauge","z":"7eaa1a1c.69f2b4","name":"","group":"c1f97f04.7ab42","order":5,"width":6,"height":3,"gtype":"gage","title":"Leche Producida","label":"Litros","format":"{{value}}","min":"1","max":"40","colors":["#b52724","#e6e600","#1aca18"],"seg1":"","seg2":"","x":750,"y":3200,"wires":[]},{"id":"d3e1c68f.622b78","type":"ui_dropdown","z":"7eaa1a1c.69f2b4","name":"","label":"","tooltip":"","place":"Select option","group":"c1f97f04.7ab42","order":1,"width":8,"height":1,"passthru":true,"options":[{"label":"Vaca 1","value":"vaca1","type":"str"},{"label":"Vaca 2","value":"vaca2","type":"str"},{"label":"Vaca 3","value":"vaca3","type":"str"},{"label":"Vaca 4","value":"vaca4","type":"str"},{"label":"Vaca 5","value":"vaca5","type":"str"}],"payload":"","topic":"","x":310,"y":3160,"wires":[["d1c259bb.4c5938","113814a5.d76a4b","b1a57e66.c8dc9","eea08d29.b5ad2"]]},{"id":"9ec36fcc.1887a","type":"ui_gauge","z":"7eaa1a1c.69f2b4","name":"","group":"c1f97f04.7ab42","order":4,"width":6,"height":3,"gtype":"gage","title":"Temperatura","label":"º C","format":"{{value}}","min":"30","max":"40","colors":["#0a56f4","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":3160,"wires":[]},{"id":"d1c259bb.4c5938","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"v=msg.payload\nvaca=flow.get(v)\nmsg.payload=vaca.temp\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3160,"wires":[["9ec36fcc.1887a"]]},{"id":"113814a5.d76a4b","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"v=msg.payload\nvaca=flow.get(v)\nmsg.payload=vaca.leche\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3200,"wires":[["a8f93173.1e1c1"]]},{"id":"b1a57e66.c8dc9","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"v=msg.payload\nvaca=flow.get(v)\nmsg.payload=vaca.dist\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3240,"wires":[["8ece897a.c093c8"]]},{"id":"ebd38197.c41de","type":"ui_text","z":"7eaa1a1c.69f2b4","group":"c1f97f04.7ab42","order":2,"width":8,"height":1,"name":"","label":"Estado","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":720,"y":3280,"wires":[]},{"id":"eea08d29.b5ad2","type":"function","z":"7eaa1a1c.69f2b4","name":"","func":"v=msg.payload\nvaca=flow.get(v)\nmsg.color=\"green\"\nif(vaca.estado==\"NOK\"){\n    msg.color=\"red\"\n}\nmsg.payload=vaca.estado\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3280,"wires":[["ebd38197.c41de"]]},{"id":"787e8efa.a282f","type":"ui_text","z":"7eaa1a1c.69f2b4","group":"7584d47b.24e7bc","order":8,"width":8,"height":1,"name":"","label":"Estado de Vacas","format":"","layout":"row-spread","x":150,"y":3380,"wires":[]},{"id":"c2b884db.5c00d8","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"24:6F:28:87:F7:A0/mas_gener","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":140,"y":780,"wires":[["ec0ecb60.39bc98"]]},{"id":"ec0ecb60.39bc98","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":350,"y":780,"wires":[["2f4aa1e.bcedd5e","5abc0119.3541a","e1254572.fa5f38","b8f3ea07.1cf348"]]},{"id":"349139c.22ea5c6","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"24:6F:28:87:F7:A0/vaca1","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":170,"y":2180,"wires":[["c3f648e8.23ac78"]]},{"id":"c3f648e8.23ac78","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":370,"y":2180,"wires":[["724bd2c5.19372c","b63e17a7.1428f8","76825ac4.2b95f4","a16d4aca.906e28","6c4b7cde.c38cb4"]]},{"id":"b65e52ac.15475","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"24:6F:28:87:F7:A0/vaca2","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":150,"y":2380,"wires":[["7e05fde0.2ba8f4"]]},{"id":"7e05fde0.2ba8f4","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":370,"y":2380,"wires":[["c4a3bb0e.470b28","c839daba.2f2538","ca7d8c4e.916e7","2569d654.c1f95a"]]},{"id":"91d6869b.659548","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"24:6F:28:87:F7:A0/vaca3","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":150,"y":2560,"wires":[["1278465.b24fdba"]]},{"id":"1278465.b24fdba","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":350,"y":2560,"wires":[["2c6c1f41.f13ac","9a6a5c9f.dbfd1","9dfe903e.00023","195b8d5f.a1cfb3"]]},{"id":"6fd855fe.e2669c","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"/24:6F:28:87:F7:A0vaca4","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":150,"y":2760,"wires":[["f6f5b730.1dadd8"]]},{"id":"f6f5b730.1dadd8","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":350,"y":2760,"wires":[["ab5213ab.827a8","7d2535f9.6182cc","23167554.d0ecca","f7c90443.84c958"]]},{"id":"2627cf7e.ee9a6","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"24:6F:28:87:F7:A0/vaca5","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":150,"y":2920,"wires":[["8aa752b5.5fdde"]]},{"id":"8aa752b5.5fdde","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":350,"y":2920,"wires":[["e81d97c5.3fa3d8","156aadc0.c060d2","a2639fa0.57605","78f5e50b.8c4dac"]]},{"id":"a16d4aca.906e28","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca1.lat","pt":"flow","to":"payload.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2260,"wires":[[]]},{"id":"2569d654.c1f95a","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca2.lat","pt":"flow","to":"payload.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2460,"wires":[[]]},{"id":"195b8d5f.a1cfb3","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca3.lat","pt":"flow","to":"payload.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2640,"wires":[[]]},{"id":"f7c90443.84c958","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca4.lat","pt":"flow","to":"payload.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2820,"wires":[[]]},{"id":"78f5e50b.8c4dac","type":"change","z":"7eaa1a1c.69f2b4","name":"","rules":[{"t":"set","p":"vaca5.lat","pt":"flow","to":"payload.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3000,"wires":[[]]},{"id":"8ece897a.c093c8","type":"ui_text","z":"7eaa1a1c.69f2b4","group":"c1f97f04.7ab42","order":12,"width":10,"height":1,"name":"","label":"Distancia recorrida","format":"{{msg.payload}} km","layout":"col-center","x":750,"y":3240,"wires":[]},{"id":"83f0c262.43dbb","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"24:6F:28:87:F7:A0/can_siset","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":140,"y":960,"wires":[["dd50d2e2.79227"]]},{"id":"dd50d2e2.79227","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":330,"y":960,"wires":[["6eaf1aa8.5e4c04","3493c8d1.f3f458","135f2693.b454b9","47b3acc1.b6ef14"]]},{"id":"d673c311.d1862","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"24:6F:28:87:F7:A0/mas_almar","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":140,"y":1140,"wires":[["45cafc9e.8e0694"]]},{"id":"45cafc9e.8e0694","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1140,"wires":[["e7f38e05.56bb5","b67fdf6f.6bc3f","f72dd114.5178a","5107863d.f37b88"]]},{"id":"5c4eda96.fd3174","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"24:6F:28:87:F7:A0/mas_badosa","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":150,"y":1320,"wires":[["66546cd1.fe64d4"]]},{"id":"66546cd1.fe64d4","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":370,"y":1320,"wires":[["6b5be5fc.66cbcc","ffb7b39e.8b02e","667defe5.bd69a","81c72230.989e4"]]},{"id":"67ceaebc.403d2","type":"mqtt in","z":"7eaa1a1c.69f2b4","name":"","topic":"24:6F:28:87:F7:A0/mas_colom","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":150,"y":1500,"wires":[["da67a1b8.205e7"]]},{"id":"da67a1b8.205e7","type":"json","z":"7eaa1a1c.69f2b4","name":"","property":"payload","action":"","pretty":false,"x":370,"y":1500,"wires":[["5a609c3.fb63564","9cde4a8e.415668","103eed13.7d8693","83503e1f.de6fa"]]},{"id":"70c46042.61ea1","type":"ui_table","z":"7eaa1a1c.69f2b4","group":"7584d47b.24e7bc","name":"","order":9,"width":8,"height":4,"columns":[{"field":"numero","title":"Numero de Vaca","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"estado","title":"Estado","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":530,"y":3100,"wires":[]},{"id":"6c4b7cde.c38cb4","type":"debug","z":"7eaa1a1c.69f2b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":2120,"wires":[]},{"id":"834d96bb.b6f468","type":"tab","label":"Fabrica","disabled":false,"info":""},{"id":"e942c7c3.9b43d8","type":"ui_text","z":"834d96bb.b6f468","group":"305ee26e.23ecbe","order":1,"width":6,"height":1,"name":"","label":"<i class=\"fa fa-thermometer-empty\" aria-hidden=\"true\"> Temperatura</i>","format":"<font color= {{msg.color}} > {{msg.payload}}º </font>","layout":"row-center","x":1020,"y":40,"wires":[]},{"id":"945e9260.35d64","type":"ui_text","z":"834d96bb.b6f468","group":"305ee26e.23ecbe","order":2,"width":6,"height":1,"name":"","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"> Humedad</i>","format":"<font color= {{msg.color}} > {{msg.payload}}% </font>","layout":"row-center","x":990,"y":100,"wires":[]},{"id":"b07ead9b.150ea","type":"ui_text","z":"834d96bb.b6f468","group":"2cfa16f.4dc79ea","order":7,"width":6,"height":1,"name":"","label":"<i class=\"fa fa-tint\" aria-hidden=\"true\"> Cantidad de Leche</i>","format":"<font color= {{msg.color}} > {{msg.leche}}L </font>","layout":"row-spread","x":1970,"y":300,"wires":[]},{"id":"40a45ac9.c84a04","type":"ui_text","z":"834d96bb.b6f468","group":"2cfa16f.4dc79ea","order":9,"width":6,"height":1,"name":"","label":"<i class=\"fa fa-thermometer-full\" aria-hidden=\"true\"> Temperatura Cuba</i>","format":"<font color= {{msg.color}} > {{msg.temp}}º </font>","layout":"row-spread","x":2010,"y":340,"wires":[]},{"id":"d1b43e43.0bae9","type":"ui_text","z":"834d96bb.b6f468","group":"305ee26e.23ecbe","order":3,"width":6,"height":1,"name":"","label":"<i class=\"fa fa-thermometer-empty\" aria-hidden=\"true\"> Temperatura Oficina</i>","format":"<font color= {{msg.color}} > {{msg.payload}}º </font>","layout":"row-center","x":1040,"y":260,"wires":[]},{"id":"b501e048.6e971","type":"ui_text","z":"834d96bb.b6f468","group":"305ee26e.23ecbe","order":4,"width":6,"height":1,"name":"","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"> Humedad Oficina</i>","format":"<font color= {{msg.color}} > {{msg.payload}}% </font>","layout":"row-center","x":1010,"y":320,"wires":[]},{"id":"7e7df236.11be9c","type":"ui_dropdown","z":"834d96bb.b6f468","name":"","label":"","tooltip":"","place":"Select option","group":"2cfa16f.4dc79ea","order":4,"width":6,"height":1,"passthru":false,"options":[{"label":"Cuba1","value":"Cuba1","type":"str"},{"label":"Cuba2","value":"Cuba2","type":"str"},{"label":"Cuba3","value":"Cuba3","type":"str"},{"label":"Cuba4","value":"Cuba4","type":"str"},{"label":"Cuba5","value":"Cuba5","type":"str"}],"payload":"","topic":"","x":1240,"y":420,"wires":[["d79774bf.70b848"]]},{"id":"9f62eca8.9dd3f","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"t1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":780,"wires":[[]]},{"id":"1751fbed.85d9b4","type":"function","z":"834d96bb.b6f468","name":"","func":"switch(flow.get(\"drop\"))\n  { case  \"Cuba1\":\n        msg.temp = flow.get(\"t1\")\n        msg.leche = flow.get(\"l1\")\n    break\n    \n    case  \"Cuba2\":\n        msg.temp = flow.get(\"t2\")\n        msg.leche = flow.get(\"l2\")\n    break\n    \n    case  \"Cuba3\":\n        msg.temp = flow.get(\"t3\")\n        msg.leche = flow.get(\"l3\")\n    break\n    \n    case  \"Cuba4\":\n        msg.temp = flow.get(\"t4\")\n        msg.leche = flow.get(\"l4\")\n    break\n    \n    case  \"Cuba5\":\n        msg.temp = flow.get(\"t5\")\n        msg.leche = flow.get(\"l5\")\n    break\n    \n    case  \"Cuba6\":\n        msg.temp = flow.get(\"t6\")\n        msg.leche = flow.get(\"l6\")\n    break\n    \n    case  \"Cuba7\":\n        msg.temp = flow.get(\"t7\")\n        msg.leche = flow.get(\"l7\")\n    break\n    \n    case  \"Cuba8\":\n        msg.temp = flow.get(\"t8\")\n        msg.leche = flow.get(\"l8\")\n    break\n    \n    case  \"Cuba9\":\n        msg.temp = flow.get(\"t9\")\n        msg.leche = flow.get(\"l9\")\n    break\n    \n    case  \"Cuba10\":\n        msg.temp = flow.get(\"t10\")\n        msg.leche = flow.get(\"l10\")\n    break\n    \n    default:\n        msg.temp = 1\n        msg.leche = 1\n       \n    break\n  }\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":360,"wires":[["fd841528.044ae8","1f46b6ba.831a79"]]},{"id":"d79774bf.70b848","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"drop","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":420,"wires":[[]]},{"id":"be13b2fd.eca84","type":"inject","z":"834d96bb.b6f468","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1270,"y":360,"wires":[["1751fbed.85d9b4"]]},{"id":"fd841528.044ae8","type":"function","z":"834d96bb.b6f468","name":"","func":"msg.color=\"green\" \nif (msg.leche>15)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":360,"wires":[["b07ead9b.150ea"]]},{"id":"1f46b6ba.831a79","type":"function","z":"834d96bb.b6f468","name":"","func":"msg.color=\"green\" \nif (msg.temp>15)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":420,"wires":[["40a45ac9.c84a04"]]},{"id":"9e60aef9.a6976","type":"function","z":"834d96bb.b6f468","name":"","func":"msg.color=\"green\" \nif (msg.payload>15)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":40,"wires":[["e942c7c3.9b43d8"]]},{"id":"d5b83ca9.67107","type":"function","z":"834d96bb.b6f468","name":"","func":"msg.color=\"green\" \nif (msg.payload>15)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":100,"wires":[["945e9260.35d64"]]},{"id":"45ca0a1c.dfb114","type":"function","z":"834d96bb.b6f468","name":"","func":"msg.color=\"green\" \nif (msg.payload>15)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":260,"wires":[["d1b43e43.0bae9"]]},{"id":"31968144.98692e","type":"function","z":"834d96bb.b6f468","name":"","func":"msg.color=\"green\" \nif (msg.payload>15)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":320,"wires":[["b501e048.6e971"]]},{"id":"41413c6a.f9d8e4","type":"function","z":"834d96bb.b6f468","name":"","func":"array=[]\nvar obj={\n    \"Cuba\":\"\",\n    \"Estado\":\"\"\n}\nfor(let i=1; i<=10; i++)\n    { \n        leche=flow.get(\"l\"+i)\n        if (leche>15)\n        {\n            obj={\n                     \"Cuba\":i,\n                      \"Estado\":\"NOK\"\n                }\n            array.push(obj)\n        }\n        \n    }\nmsg.payload=array\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":760,"wires":[["90e52891.c1e508","37ffc48f.1883ec"]]},{"id":"37ffc48f.1883ec","type":"debug","z":"834d96bb.b6f468","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":820,"wires":[]},{"id":"5e7a5a52.2ab964","type":"ui_text","z":"834d96bb.b6f468","group":"305ee26e.23ecbe","order":5,"width":6,"height":1,"name":"","label":"<i class=\"fa fa-bolt\" aria-hidden=\"true\"> Potencia Consumida</i>","format":"<font color= {{msg.color}} > {{msg.payload}}Kw </font>","layout":"row-center","x":980,"y":160,"wires":[]},{"id":"86367bdf.e16d28","type":"function","z":"834d96bb.b6f468","name":"","func":"msg.color=\"green\" \nif (msg.payload>1500)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["5e7a5a52.2ab964"]]},{"id":"90e52891.c1e508","type":"ui_table","z":"834d96bb.b6f468","group":"2cfa16f.4dc79ea","name":"","order":6,"width":7,"height":5,"columns":[],"outputs":0,"cts":false,"x":1130,"y":760,"wires":[]},{"id":"5e93d260.96cc6c","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.t","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":740,"wires":[["9f62eca8.9dd3f","47b627ca.17b968"]]},{"id":"47b627ca.17b968","type":"ui_chart","z":"834d96bb.b6f468","name":"","group":"2cfa16f.4dc79ea","order":1,"width":7,"height":5,"label":"Temperatura cubas","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":720,"wires":[["41413c6a.f9d8e4"]]},{"id":"aecc3f70.24c0b","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"t2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":840,"wires":[[]]},{"id":"83cbd83d.f83198","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.t","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":800,"wires":[["aecc3f70.24c0b","47b627ca.17b968"]]},{"id":"d3212243.9339c","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"t3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":900,"wires":[[]]},{"id":"d62b1c7b.b903f","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.t","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":860,"wires":[["d3212243.9339c","47b627ca.17b968"]]},{"id":"10af1eae.293bf1","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"t4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":960,"wires":[[]]},{"id":"50374e83.3db58","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.t","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":920,"wires":[["10af1eae.293bf1","47b627ca.17b968"]]},{"id":"aeb6ca39.fa1c68","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"t5","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1020,"wires":[[]]},{"id":"cea98953.dc2688","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.t","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":980,"wires":[["aeb6ca39.fa1c68","47b627ca.17b968"]]},{"id":"a78b989c.b371d8","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"l1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":440,"wires":[[]]},{"id":"e003dd12.63ece","type":"mqtt in","z":"834d96bb.b6f468","name":"","topic":"24:6F:28:87:F7:A0/cuba1","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":110,"y":440,"wires":[["861e4783.a62598"]]},{"id":"861e4783.a62598","type":"json","z":"834d96bb.b6f468","name":"","property":"payload","action":"","pretty":false,"x":310,"y":440,"wires":[["cc8c1755.56f1b8","5e93d260.96cc6c"]]},{"id":"cc8c1755.56f1b8","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":440,"wires":[["a78b989c.b371d8","202b2230.1ede4e"]]},{"id":"e61a0359.2ad3e","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"l2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":500,"wires":[[]]},{"id":"79e4d6a7.6bcad8","type":"mqtt in","z":"834d96bb.b6f468","name":"","topic":"24:6F:28:87:F7:A0/cuba2","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":110,"y":500,"wires":[["b4746657.618428"]]},{"id":"b4746657.618428","type":"json","z":"834d96bb.b6f468","name":"","property":"payload","action":"","pretty":false,"x":310,"y":500,"wires":[["faa8746e.769c78","83cbd83d.f83198"]]},{"id":"faa8746e.769c78","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":500,"wires":[["e61a0359.2ad3e","202b2230.1ede4e"]]},{"id":"9fc27fa2.9cd31","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"l3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":560,"wires":[[]]},{"id":"bcaac9b3.c53708","type":"mqtt in","z":"834d96bb.b6f468","name":"","topic":"24:6F:28:87:F7:A0/cuba3","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":110,"y":560,"wires":[["36d6a62c.452c9a"]]},{"id":"36d6a62c.452c9a","type":"json","z":"834d96bb.b6f468","name":"","property":"payload","action":"","pretty":false,"x":310,"y":560,"wires":[["708aa5f6.7c940c","d62b1c7b.b903f"]]},{"id":"708aa5f6.7c940c","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":560,"wires":[["9fc27fa2.9cd31","202b2230.1ede4e"]]},{"id":"84af4186.62139","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"l4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":620,"wires":[[]]},{"id":"ab9348bf.c21aa8","type":"mqtt in","z":"834d96bb.b6f468","name":"","topic":"24:6F:28:87:F7:A0/cuba4","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":110,"y":620,"wires":[["e5062394.8f741"]]},{"id":"e5062394.8f741","type":"json","z":"834d96bb.b6f468","name":"","property":"payload","action":"","pretty":false,"x":310,"y":620,"wires":[["b72875f3.c34ad8","50374e83.3db58"]]},{"id":"b72875f3.c34ad8","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":620,"wires":[["84af4186.62139","202b2230.1ede4e"]]},{"id":"445b222d.a65fbc","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"l5","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":680,"wires":[[]]},{"id":"6558f32c.f261bc","type":"mqtt in","z":"834d96bb.b6f468","name":"","topic":"24:6F:28:87:F7:A0/cuba5","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":110,"y":680,"wires":[["cb96b9d5.5f59d8"]]},{"id":"cb96b9d5.5f59d8","type":"json","z":"834d96bb.b6f468","name":"","property":"payload","action":"","pretty":false,"x":310,"y":680,"wires":[["fc2204a5.dc1008","cea98953.dc2688"]]},{"id":"fc2204a5.dc1008","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cm","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":680,"wires":[["445b222d.a65fbc","202b2230.1ede4e"]]},{"id":"202b2230.1ede4e","type":"ui_chart","z":"834d96bb.b6f468","name":"","group":"2cfa16f.4dc79ea","order":2,"width":7,"height":5,"label":"Leche en cubas","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":380,"wires":[[]]},{"id":"ad0450e2.6d2c7","type":"mqtt in","z":"834d96bb.b6f468","name":"","topic":"24:6F:28:87:F7:A0/Nave","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":110,"y":40,"wires":[["eb51fecd.12437"]]},{"id":"eb51fecd.12437","type":"json","z":"834d96bb.b6f468","name":"","property":"payload","action":"","pretty":false,"x":290,"y":40,"wires":[["87e06f83.e3e5","6fe79552.ead01c","bedd8c79.c3427"]]},{"id":"87e06f83.e3e5","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":40,"wires":[["9e60aef9.a6976"]]},{"id":"6fe79552.ead01c","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":100,"wires":[["d5b83ca9.67107"]]},{"id":"ca595976.e7d318","type":"mqtt in","z":"834d96bb.b6f468","name":"","topic":"24:6F:28:87:F7:A0/Oficina","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":110,"y":260,"wires":[["833dca4d.836b38"]]},{"id":"833dca4d.836b38","type":"json","z":"834d96bb.b6f468","name":"","property":"payload","action":"","pretty":false,"x":290,"y":260,"wires":[["418aa612.9a98c8","c7e4b985.3b9058","7efc255f.7cad4c"]]},{"id":"418aa612.9a98c8","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["45ca0a1c.dfb114"]]},{"id":"c7e4b985.3b9058","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":320,"wires":[["31968144.98692e"]]},{"id":"bedd8c79.c3427","type":"change","z":"834d96bb.b6f468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.c","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":160,"wires":[["86367bdf.e16d28"]]},{"id":"7efc255f.7cad4c","type":"debug","z":"834d96bb.b6f468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":220,"wires":[]},{"id":"67faeb1b.677594","type":"tab","label":"Granjas General","disabled":false,"info":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<kml xmlns=\"http://www.opengis.net/kml/2.2\" xmlns:gx=\"http://www.google.com/kml/ext/2.2\" xmlns:kml=\"http://www.opengis.net/kml/2.2\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\n<Document id=\"1uS66wMhDLKV2wcVQ1M2fPcLT-A90oCCT\">\n\t<name>granjas</name>\n\t<gx:CascadingStyle kml:id=\"__managed_style_2C6AB6AFA71108D5FC78\">\n\t\t<styleUrl>https://earth.google.com/balloon_components/base/1.0.18.6/card_template.kml#main</styleUrl>\n\t\t<Style>\n\t\t\t<IconStyle>\n\t\t\t\t<scale>1.2</scale>\n\t\t\t\t<Icon>\n\t\t\t\t\t<href>https://earth.google.com/earth/rpc/cc/icon?color=1976d2&amp;id=2000&amp;scale=4</href>\n\t\t\t\t</Icon>\n\t\t\t\t<hotSpot x=\"64\" y=\"128\" xunits=\"pixels\" yunits=\"insetPixels\"/>\n\t\t\t</IconStyle>\n\t\t\t<LabelStyle>\n\t\t\t</LabelStyle>\n\t\t\t<LineStyle>\n\t\t\t\t<color>ff2dc0fb</color>\n\t\t\t\t<width>3</width>\n\t\t\t</LineStyle>\n\t\t\t<PolyStyle>\n\t\t\t\t<color>40ffffff</color>\n\t\t\t</PolyStyle>\n\t\t\t<BalloonStyle>\n\t\t\t</BalloonStyle>\n\t\t</Style>\n\t</gx:CascadingStyle>\n\t<gx:CascadingStyle kml:id=\"__managed_style_1F3FCA13141108D5FC78\">\n\t\t<styleUrl>https://earth.google.com/balloon_components/base/1.0.18.6/card_template.kml#main</styleUrl>\n\t\t<Style>\n\t\t\t<IconStyle>\n\t\t\t\t<Icon>\n\t\t\t\t\t<href>https://earth.google.com/earth/rpc/cc/icon?color=1976d2&amp;id=2000&amp;scale=4</href>\n\t\t\t\t</Icon>\n\t\t\t\t<hotSpot x=\"64\" y=\"128\" xunits=\"pixels\" yunits=\"insetPixels\"/>\n\t\t\t</IconStyle>\n\t\t\t<LabelStyle>\n\t\t\t</LabelStyle>\n\t\t\t<LineStyle>\n\t\t\t\t<color>ff2dc0fb</color>\n\t\t\t\t<width>2</width>\n\t\t\t</LineStyle>\n\t\t\t<PolyStyle>\n\t\t\t\t<color>40ffffff</color>\n\t\t\t</PolyStyle>\n\t\t\t<BalloonStyle>\n\t\t\t</BalloonStyle>\n\t\t</Style>\n\t</gx:CascadingStyle>\n\t<StyleMap id=\"__managed_style_0026E09C0B1108D5FC78\">\n\t\t<Pair>\n\t\t\t<key>normal</key>\n\t\t\t<styleUrl>#__managed_style_1F3FCA13141108D5FC78</styleUrl>\n\t\t</Pair>\n\t\t<Pair>\n\t\t\t<key>highlight</key>\n\t\t\t<styleUrl>#__managed_style_2C6AB6AFA71108D5FC78</styleUrl>\n\t\t</Pair>\n\t</StyleMap>\n\t<Placemark id=\"02B37D0AB010FDA1F8CA\">\n\t\t<name>mas_gener</name>\n\t\t<LookAt>\n\t\t\t<longitude>2.8047802</longitude>\n\t\t\t<latitude>41.91277436982643</latitude>\n\t\t\t<altitude>87.6966669</altitude>\n\t\t\t<heading>9.647358885503337e-12</heading>\n\t\t\t<tilt>44.88808275860067</tilt>\n\t\t\t<gx:fovy>35</gx:fovy>\n\t\t\t<range>410.1760154985823</range>\n\t\t\t<altitudeMode>absolute</altitudeMode>\n\t\t</LookAt>\n\t\t<styleUrl>#__managed_style_0026E09C0B1108D5FC78</styleUrl>\n\t\t<Polygon>\n\t\t\t<outerBoundaryIs>\n\t\t\t\t<LinearRing>\n\t\t\t\t\t<coordinates>\n\t\t\t\t\t\t2.805282711690029,41.9117794168539,90.18173809129046 2.80543157639831,41.91162029608836,90.16852752312548 2.805441454319411,41.91147716988706,90.63395465082201 2.805432670193144,41.91137220080739,90.39211865816607 2.805511049901348,41.91128157416895,90.3134483758835 2.80556860396902,41.91123551029052,91.51401659913468 2.805631712901,41.91126131805571,90.87676464446139 2.805703547108103,41.91117524825663,90.14048944084685 2.80575194668385,41.91109512626205,89.40421423723231 2.805879749822102,41.91114104259974,90.12812473905734 2.806008357375949,41.91123309697809,89.48173551520736 2.806150005404235,41.91135418548583,88.19300300012239 2.806101405257508,41.91161693742558,86.21473877424945 2.805867651165366,41.9119261693568,87.94152137307057 2.805419244441534,41.91231411864754,87.48572694705426 2.804868924849577,41.912866717536,87.87775953269261 2.804155442970779,41.91350321715103,89.00099278150421 2.803693774249607,41.91404506864998,88.83181924894562 2.803435196480231,41.91380962884141,88.85295666926351 2.803158814676108,41.91344662838127,88.89619977023952 2.803148823747903,41.91334000490888,88.64211230000792 2.803177824709495,41.91332307960827,89.28057670420108 2.80320211923079,41.91334000827717,89.91904110839424 2.803350905634507,41.91336191857166,91.19596991678057 2.803495375024818,41.913379103886,89.83078289168736 2.803603422046728,41.91338033174511,89.14818937914076 2.803675729110784,41.91336347797378,88.46559586659416 2.803778762500344,41.91326067797953,88.62007285248049 2.803895382462771,41.9131656996703,88.77454983836682 2.804239042933792,41.91279492114437,88.61058631580943 2.804584453015209,41.912435409305,88.63001346723843 2.804685724554283,41.91242563420056,88.75837566385675 2.804630027588244,41.91230299169442,90.41990643255708 2.805191386246502,41.91177417061623,90.54753281537211 2.805282711690029,41.9117794168539,90.18173809129046 \n\t\t\t\t\t</coordinates>\n\t\t\t\t</LinearRing>\n\t\t\t</outerBoundaryIs>\n\t\t</Polygon>\n\t</Placemark>\n\t<Placemark id=\"07818D8E7610FDD0E623\">\n\t\t<name>mas_badosa</name>\n\t\t<LookAt>\n\t\t\t<longitude>2.742273064238678</longitude>\n\t\t\t<latitude>42.11401961885213</latitude>\n\t\t\t<altitude>191.6025756653599</altitude>\n\t\t\t<heading>17.9636934801745</heading>\n\t\t\t<tilt>23.06245504951666</tilt>\n\t\t\t<gx:fovy>35</gx:fovy>\n\t\t\t<range>1189.522237708443</range>\n\t\t\t<altitudeMode>absolute</altitudeMode>\n\t\t</LookAt>\n\t\t<styleUrl>#__managed_style_0026E09C0B1108D5FC78</styleUrl>\n\t\t<Polygon>\n\t\t\t<outerBoundaryIs>\n\t\t\t\t<LinearRing>\n\t\t\t\t\t<coordinates>\n\t\t\t\t\t\t2.741658652983365,42.11484870802561,192.9903344114649 2.74074829874889,42.11495957530434,200.2947334503099 2.740666269485148,42.11391772425903,196.2798809661896 2.740752795175021,42.11285293473091,198.3838430172529 2.741184953663756,42.11282772881133,198.1493542174954 2.741632813771475,42.11300698221623,196.009290984384 2.741776691234059,42.11301347784929,194.4659529194577 2.742511931945153,42.11281477275913,191.9933936947132 2.743500827053593,42.11315840739035,190.13894060434 2.742806713290187,42.11412638527135,190.1387876695309 2.7420165219076,42.11387996556078,191.9120230410302 2.741796464606798,42.1141694479762,191.9555291279728 2.741658652983365,42.11484870802561,192.9903344114649 \n\t\t\t\t\t</coordinates>\n\t\t\t\t</LinearRing>\n\t\t\t</outerBoundaryIs>\n\t\t</Polygon>\n\t</Placemark>\n\t<Placemark id=\"0EBC301DF411091FA0C0\">\n\t\t<name>mas_colom</name>\n\t\t<LookAt>\n\t\t\t<longitude>2.914</longitude>\n\t\t\t<latitude>42.065</latitude>\n\t\t\t<altitude>37.0217018</altitude>\n\t\t\t<heading>46.4202593034285</heading>\n\t\t\t<tilt>0</tilt>\n\t\t\t<gx:fovy>34.99999999999999</gx:fovy>\n\t\t\t<range>890.0225967270674</range>\n\t\t\t<altitudeMode>absolute</altitudeMode>\n\t\t</LookAt>\n\t\t<styleUrl>#__managed_style_0026E09C0B1108D5FC78</styleUrl>\n\t\t<Polygon>\n\t\t\t<outerBoundaryIs>\n\t\t\t\t<LinearRing>\n\t\t\t\t\t<coordinates>\n\t\t\t\t\t\t2.912784188991755,42.06500250062748,37.28203254830795 2.912865793320489,42.0643643088513,37.0033473273359 2.913281905326421,42.06449047379699,36.89999585410639 2.913445101267842,42.06423271648348,36.59962424718826 2.913055170110339,42.06412514686857,36.90041069833457 2.913126612605239,42.06395182283259,36.90064469108221 2.912997529300034,42.06394147197071,37.07328089247719 2.913847874767694,42.06366408600569,35.53002259674481 2.91359615148006,42.06412163882715,36.28227621865333 2.915272875154684,42.06473250658719,35.04573918766329 2.914460063435174,42.06610606303076,36.90020921845107 2.912644866696954,42.0655735122208,38.13682073633789 2.912784188991755,42.06500250062748,37.28203254830795 \n\t\t\t\t\t</coordinates>\n\t\t\t\t</LinearRing>\n\t\t\t</outerBoundaryIs>\n\t\t</Polygon>\n\t</Placemark>\n\t<Placemark id=\"0412586DE9110924D6AE\">\n\t\t<name>can_siset</name>\n\t\t<LookAt>\n\t\t\t<longitude>2.8317</longitude>\n\t\t\t<latitude>42.0758</latitude>\n\t\t\t<altitude>105.2369658</altitude>\n\t\t\t<heading>-70.17635181427303</heading>\n\t\t\t<tilt>37.37086326968082</tilt>\n\t\t\t<gx:fovy>35</gx:fovy>\n\t\t\t<range>1074.410505067353</range>\n\t\t\t<altitudeMode>absolute</altitudeMode>\n\t\t</LookAt>\n\t\t<styleUrl>#__managed_style_0026E09C0B1108D5FC78</styleUrl>\n\t\t<Polygon>\n\t\t\t<outerBoundaryIs>\n\t\t\t\t<LinearRing>\n\t\t\t\t\t<coordinates>\n\t\t\t\t\t\t2.833146329712901,42.07438021712019,122.5985476739062 2.832866153187701,42.07434432290651,119.7176676202543 2.83280477768608,42.07441989362538,119.0147519690669 2.832619863906392,42.07449870704939,116.3869737138139 2.832403012790468,42.07456024624325,113.4817733743145 2.832338757842245,42.07468259336101,111.8060223788383 2.832355610821038,42.07525882961679,109.3648853540272 2.832395367463276,42.07553428852422,109.6519136237842 2.832216273516523,42.07585125929457,106.9850310944719 2.832018019246223,42.07636851501822,103.0729441404584 2.832021896262011,42.07669712022839,99.5795172942973 2.832226540023448,42.07704752588094,95.17976979200807 2.832643564395043,42.07734501031138,92.0322831419013 2.83319296215395,42.07743166228056,89.80531086984625 2.833463267542982,42.07742962614067,90.17076880151045 2.833630143096437,42.07775802353309,89.09267142635362 2.832012079516075,42.0785095870749,88.97188482893482 2.831830886910416,42.07816576052195,89.38064958724144 2.831679987382603,42.07812417590616,89.45600850016312 2.831607808129988,42.07820187036673,89.2935526292338 2.831636779665359,42.07841142119545,89.28782844546713 2.831241162318516,42.07827557380675,89.26463999575415 2.830666495167231,42.07813397960371,89.99862646235925 2.830417581613343,42.07815904455231,90.13849766965851 2.830247090307709,42.07805565611446,90.42087722370331 2.830133858883273,42.07808629796438,90.89829441326863 2.828834795895732,42.07785806823272,91.94931502056343 2.828928402602757,42.07746551989517,92.9325558224641 2.829118678123177,42.07704134877881,95.13335109820981 2.829351150224766,42.07680045649682,96.25365251509402 2.829848869842346,42.0767188090934,95.56449313127663 2.83030877045396,42.07666404814729,93.29775028859594 2.830783873870109,42.07667729898998,93.82078089467589 2.830811476104047,42.07641718387237,97.30342169046401 2.831196658136996,42.07558356461322,102.9140108515544 2.83138550594185,42.07528995186782,105.5623272042581 2.831292759202502,42.07513565108282,107.1203048133067 2.831257613893499,42.07399437500067,116.5559043979259 2.830860305642979,42.07408561607527,117.5148582869494 2.830499095039412,42.07410080857301,117.3184268294842 2.829888358821753,42.07409019388656,116.2478566824542 2.829775855411305,42.07390924502135,118.2028643305619 2.829914250969738,42.07372117148398,119.9870770652396 2.830373554999828,42.07372360651725,120.0493808176108 2.830910639467568,42.07371889865135,120.7059403095324 2.830967542582468,42.07344862037885,122.8074956900079 2.831048463443679,42.07293091001558,125.1393007122158 2.832372321015586,42.07303846660757,125.5480887528058 2.832846649675536,42.07307443380379,124.9228869924607 2.833020864020965,42.0732637410446,125.4119232664989 2.83351192660606,42.07326103448497,123.9969344442555 2.833521572458797,42.07296119555412,121.6320763786597 2.833900949327137,42.07282775189759,121.057725313593 2.833966958660696,42.07306723777127,121.9015538314521 2.833925931387498,42.07326971935191,122.756011441615 2.833679886151472,42.07326455411916,123.5584190006116 2.83365721363237,42.07335394958558,123.8740689601854 2.833452598926891,42.07335105702913,124.2695145435255 2.83343253155131,42.07372278048204,124.61884468983 2.83401784461055,42.07377097759051,122.301233898819 2.833947666902925,42.07422649401121,122.8544436971388 2.833160054220991,42.07423142205501,122.7264956855225 2.833146329712901,42.07438021712019,122.5985476739062 \n\t\t\t\t\t</coordinates>\n\t\t\t\t</LinearRing>\n\t\t\t</outerBoundaryIs>\n\t\t</Polygon>\n\t</Placemark>\n\t<Placemark id=\"0911B1B852110926331C\">\n\t\t<name>mas_almar</name>\n\t\t<LookAt>\n\t\t\t<longitude>2.9757</longitude>\n\t\t\t<latitude>42.0197</latitude>\n\t\t\t<altitude>78.8462687</altitude>\n\t\t\t<heading>29.87298498438719</heading>\n\t\t\t<tilt>0</tilt>\n\t\t\t<gx:fovy>35</gx:fovy>\n\t\t\t<range>744.8996740413714</range>\n\t\t\t<altitudeMode>absolute</altitudeMode>\n\t\t</LookAt>\n\t\t<styleUrl>#__managed_style_0026E09C0B1108D5FC78</styleUrl>\n\t\t<Polygon>\n\t\t\t<outerBoundaryIs>\n\t\t\t\t<LinearRing>\n\t\t\t\t\t<coordinates>\n\t\t\t\t\t\t2.976749249465263,42.01898060175373,78.97944627445764 2.976299923945671,42.01961143843821,78.29290926540124 2.976328609656318,42.01987823127183,77.29716658325586 2.976074598245073,42.01998236625693,77.14675205802909 2.975894549365148,42.02016851958375,76.6277093811505 2.975672031635985,42.0203595185252,76.47250615084995 2.975511329255542,42.02033180631661,76.92177508673403 2.974607655780692,42.02017252626085,79.39494913323361 2.974569100853062,42.02011082154077,80.11854194888247 2.974665782320574,42.01988738609793,80.30085547987066 2.974852037938562,42.01957018765523,81.7455413793503 2.975551014480149,42.01985263214103,78.75000815285222 2.975929448520513,42.01942601662623,78.89243713923726 2.975793676041214,42.01937567731481,80.09543974320908 2.976205390739748,42.01882725746822,80.61165202269437 2.976749249465263,42.01898060175373,78.97944627445764 \n\t\t\t\t\t</coordinates>\n\t\t\t\t</LinearRing>\n\t\t\t</outerBoundaryIs>\n\t\t</Polygon>\n\t</Placemark>\n</Document>\n</kml>\n"},{"id":"1ed6d7cb.bb4fd8","type":"xml","z":"67faeb1b.677594","name":"","property":"payload","attr":"","chr":"","x":690,"y":80,"wires":[["ec3f0bf3.83e938"]]},{"id":"28d28924.4b56e6","type":"file in","z":"67faeb1b.677594","name":"","filename":"C:\\Users\\jeiso\\Desktop\\GranjasGeoJSON.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":80,"wires":[["1ed6d7cb.bb4fd8"]]},{"id":"90fd6b4e.615fe8","type":"split","z":"67faeb1b.677594","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":270,"y":140,"wires":[["857a7e7b.2605c"]]},{"id":"857a7e7b.2605c","type":"function","z":"67faeb1b.677594","name":"Google Earth to GeoJSON","func":"// Clean Earth kml to coordinate number array\n\nvar boundary = msg.payload.Polygon[0].outerBoundaryIs[0].LinearRing[0].coordinates[0]\nboundary = boundary.substring(7);\n\nvar points = boundary.split(\" \");\npoints.pop()\n\npoints.forEach(function(part, index) {\n  this[index] = points[index].split(\",\");\n  this[index] = this[index].map(Number)\n  this[index].pop()\n}, points); // use arr as this\n\n\n\n// Prepare GeoJSON\nvar geo = { \"type\": \"FeatureCollection\",\n\"features\": [\n  {\n    \"type\": \"Feature\",\n    \"properties\": {\n      \"color\": \"rgb(0,0,255)\",\n      \"roofColor\": \"rgb(128,128,255)\",\n      \"Zona\": \"Pasto\"\n    },\n    \"geometry\": {\n      \"type\": \"Polygon\",\n      \"coordinates\": [points]\n    }\n  }\n]\n}\nvar name = msg.payload.name[0]\nvar m = {overlay:msg.payload.name[0], geojson:geo, fit:true};\nmsg.payload = {\n    command: {\n        map: m, \n        lat: msg.payload.LookAt[0].latitude[0], \n        lon: msg.payload.LookAt[0].longitude[0]\n    }\n};\n\ngranja = {\"setup\": msg.payload, \"vacas\": []}\nflow.set(name, granja)\n\n\n","outputs":1,"noerr":0,"x":460,"y":140,"wires":[[]]},{"id":"ec3f0bf3.83e938","type":"change","z":"67faeb1b.677594","name":"Cleaning","rules":[{"t":"move","p":"payload.kml.Document[0].Placemark","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":140,"wires":[["90fd6b4e.615fe8"]]},{"id":"504ef072.c713d","type":"worldmap in","z":"67faeb1b.677594","name":"","path":"/map/mas_gener_","events":"","x":200,"y":400,"wires":[["cdbf49dc.eab298"]]},{"id":"7b0a758f.7c95cc","type":"worldmap in","z":"67faeb1b.677594","name":"","path":"/map/mas_colom_","events":"","x":190,"y":280,"wires":[["19d3e309.2ecfcd"]]},{"id":"fe482faa.1b37a","type":"worldmap in","z":"67faeb1b.677594","name":"","path":"/map/mas_badosa_","events":"","x":190,"y":340,"wires":[["3a3083e0.52364c"]]},{"id":"885b9c1a.aaada","type":"worldmap in","z":"67faeb1b.677594","name":"","path":"/map/can_siset_","events":"","x":200,"y":460,"wires":[["afa16eb0.ae1d1"]]},{"id":"204f26ad.990d3a","type":"worldmap in","z":"67faeb1b.677594","name":"","path":"/map/mas_almar_","events":"","x":200,"y":520,"wires":[["7405ce2c.c3aaf"]]},{"id":"4ef1cdce.7b5524","type":"inject","z":"67faeb1b.677594","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":80,"wires":[["28d28924.4b56e6"]]},{"id":"b7afa3b2.6b4f9","type":"ui_worldmap","z":"67faeb1b.677594","group":"b0eabe19.c4fa1","order":1,"width":6,"height":9,"name":"Mas Badosa","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/mas_badosa_","x":770,"y":340,"wires":[]},{"id":"6eef452f.f3c05c","type":"ui_worldmap","z":"67faeb1b.677594","group":"63692610.ef40b8","order":1,"width":6,"height":9,"name":"Can Siset","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/can_siset_","x":760,"y":460,"wires":[]},{"id":"69ce0361.b3447c","type":"ui_worldmap","z":"67faeb1b.677594","group":"1610c78c.105be8","order":1,"width":6,"height":9,"name":"Mas Almar","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/mas_almar_","x":770,"y":520,"wires":[]},{"id":"c59aa17.e585f6","type":"ui_worldmap","z":"67faeb1b.677594","group":"8b4da9fc.dd9808","order":1,"width":6,"height":9,"name":"Mas Gener","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/mas_gener_","x":770,"y":400,"wires":[]},{"id":"b77267a6.1485c8","type":"ui_worldmap","z":"67faeb1b.677594","group":"5c05af83.55194","order":1,"width":6,"height":9,"name":"Mas Colom","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/mas_colom_","x":770,"y":280,"wires":[]},{"id":"4566cdfd.555514","type":"link in","z":"67faeb1b.677594","name":"","links":["4e7acc82.d06254"],"x":655,"y":300,"wires":[["b77267a6.1485c8"]]},{"id":"3663bb89.b86dd4","type":"link in","z":"67faeb1b.677594","name":"","links":["251170a4.de674"],"x":655,"y":360,"wires":[["b7afa3b2.6b4f9"]]},{"id":"c1dcf365.f19c4","type":"link in","z":"67faeb1b.677594","name":"","links":["cc253942.5a40c8","18d6118a.012bb6"],"x":655,"y":420,"wires":[["c59aa17.e585f6"]]},{"id":"3ce4f997.7ab026","type":"link in","z":"67faeb1b.677594","name":"","links":["d4b167cc.650af8"],"x":655,"y":480,"wires":[["6eef452f.f3c05c"]]},{"id":"51d2c55a.838fac","type":"link in","z":"67faeb1b.677594","name":"","links":["dbc4c254.ed96f"],"x":655,"y":540,"wires":[["69ce0361.b3447c"]]},{"id":"cc253942.5a40c8","type":"link out","z":"67faeb1b.677594","name":"","links":["c1dcf365.f19c4"],"x":1115,"y":660,"wires":[]},{"id":"19d3e309.2ecfcd","type":"function","z":"67faeb1b.677594","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = flow.get(\"mas_colom\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":440,"y":280,"wires":[["b77267a6.1485c8"],["b77267a6.1485c8"]]},{"id":"3a3083e0.52364c","type":"function","z":"67faeb1b.677594","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = flow.get(\"mas_badosa\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":440,"y":340,"wires":[["b7afa3b2.6b4f9"],["b7afa3b2.6b4f9"]]},{"id":"cdbf49dc.eab298","type":"function","z":"67faeb1b.677594","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = flow.get(\"mas_gener\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":440,"y":400,"wires":[["c59aa17.e585f6"],["c59aa17.e585f6"]]},{"id":"afa16eb0.ae1d1","type":"function","z":"67faeb1b.677594","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = flow.get(\"can_siset\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":440,"y":460,"wires":[["6eef452f.f3c05c"],["6eef452f.f3c05c"]]},{"id":"7405ce2c.c3aaf","type":"function","z":"67faeb1b.677594","name":"when connected => (setup, vacas)","func":"if (msg.payload.action==\"connected\") {\n    var granja = flow.get(\"mas_almar\")\n    \n    var msg1 = {}\n    var msg2 = {}\n    \n    Object.assign(msg1, msg);\n    Object.assign(msg2, msg);\n    \n    msg1.payload = granja.setup\n    msg2.payload = granja.vacas\n    \n    return [msg1, msg2];\n}","outputs":2,"noerr":0,"x":440,"y":520,"wires":[["69ce0361.b3447c"],["69ce0361.b3447c"]]},{"id":"60ac2776.b12818","type":"function","z":"67faeb1b.677594","name":"save to context","func":"var granja = flow.get(msg.topic)\n\ngranja.vacas = msg.payload\n\nflow.set(msg.topic, granja)","outputs":1,"noerr":0,"x":420,"y":220,"wires":[[]]},{"id":"17bcd007.12a95","type":"inject","z":"67faeb1b.677594","name":"mqtt broker info vacas","topic":"mas_gener","payload":"[{\"name\":\"Vaca0001\",\"lat\":41.912789,\"lon\":2.804565,\"icon\":\":cow2:\",\"label\":\"Vaca0001\"},{\"name\":\"Vaca0002\",\"lat\":41.9121,\"lon\":2.80527,\"icon\":\":cow2:\",\"label\":\"Vaca0002\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":220,"wires":[["60ac2776.b12818"]]},{"id":"251170a4.de674","type":"link out","z":"67faeb1b.677594","name":"","links":["3663bb89.b86dd4"],"x":1115,"y":620,"wires":[]},{"id":"d4b167cc.650af8","type":"link out","z":"67faeb1b.677594","name":"","links":["3ce4f997.7ab026"],"x":1115,"y":700,"wires":[]},{"id":"dbc4c254.ed96f","type":"link out","z":"67faeb1b.677594","name":"","links":["51d2c55a.838fac"],"x":1115,"y":740,"wires":[]},{"id":"4e7acc82.d06254","type":"link out","z":"67faeb1b.677594","name":"","links":["4566cdfd.555514"],"x":1115,"y":580,"wires":[]},{"id":"ba5e1860.065a68","type":"function","z":"67faeb1b.677594","name":"points in polygon","func":"var polygon = msg.payload.polygon\nvar points = msg.payload.points\n\npoints.forEach(function(part, index) {\n    var x = points[index].lon\n    var y = points[index].lat\n    \n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        var intersect = ((yi > y) != (yj > y)) && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }\n    this[index].inside = inside\n    \n}, points); // use arr as this\\\n\nvar granja = flow.get(msg.topic)\n\ngranja.vacas = points\n\nflow.set(msg.topic, granja)\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":800,"wires":[[]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"4b37677e.dc5bc8","type":"inject","z":"67faeb1b.677594","name":"","topic":"mas_gener","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":800,"wires":[["5d309f59.56011"]]},{"id":"5d309f59.56011","type":"function","z":"67faeb1b.677594","name":"show vacas","func":"var granja = flow.get(msg.topic);\n\nmsg.payload = {\n    \"points\": granja.vacas,\n    \"polygon\": granja.setup.command.map.geojson.features[0].geometry.coordinates[0]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":800,"wires":[["ba5e1860.065a68"]]},{"id":"9eae7d11.b46dc","type":"function","z":"67faeb1b.677594","name":"random points in polygon","func":"var polygon = msg.payload.polygon\nmsg.payload.points = []\nvar number_points = msg.payload.number_points\n\nvar x = []\nvar y = []\n\npolygon.forEach(function(part, index) { \n    x.push(polygon[index][0])\n    y.push(polygon[index][1])\n}, polygon);\n\nmin_x = Math.min.apply(null, x);\nmax_x = Math.max.apply(null, x);\nmin_y = Math.min.apply(null, y);\nmax_y = Math.max.apply(null, y);\n\nwhile (msg.payload.points.length < number_points) {\n    var random_x = (Math.random() * (max_x - min_x)) + min_x\n    var random_y = (Math.random() * (max_y - min_y)) + min_y\n    \n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }  \n    if (inside) msg.payload.points.push([random_x, random_y]);\n    // msg.payload.points.push([random_x, random_y]);\n}\n\ndelete msg.payload.number_points;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":660,"wires":[["9e644ce8.a516b"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"9d76f2be.336b4","type":"inject","z":"67faeb1b.677594","name":"","topic":"mas_gener","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":160,"y":580,"wires":[["773376ea.60bd98"]]},{"id":"773376ea.60bd98","type":"function","z":"67faeb1b.677594","name":"show vacas","func":"var granja = flow.get(msg.topic);\n\nmsg.payload = {\n    \"number_points\": msg.payload,\n    \"polygon\": granja.setup.command.map.geojson.features[0].geometry.coordinates[0]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":660,"wires":[["9eae7d11.b46dc"]]},{"id":"9e644ce8.a516b","type":"function","z":"67faeb1b.677594","name":"convert points into cows","func":"var polygon = msg.payload.polygon\nvar points = msg.payload.points\n\nvar name = \"vaca\";\nvar cows = [];\ni = 0\n\npoints.forEach(function(part, index) {\n    var cow = {\n        \"name\": name+i.toString(),\n        \"lat\": points[index][1],\n        \"lon\": points[index][0],\n        \"icon\": \":cow2:\",\n        // \"label\": name+i.toString()\n    }\n    cows.push(cow);\n    i = i + 1\n}, points); // use arr as this\n\nmsg.payload.points = cows;\n\nvar granja = flow.get(msg.topic)\n\ngranja.vacas = cows\n\nflow.set(msg.topic, granja)\n\nmsg.payload = cows\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":660,"wires":[["b1c09efc.0386b"]],"icon":"font-awesome/fa-times-rectangle-o","info":"# Checks if a point is inside a polygon \n## Input\n - msg.payload.polygon\n - msg.payload.point\n\n\n## Output (Result)\n - msg.payload.inside\n\n> [https://github.com/substack/point-in-polygon](https://github.com/substack/point-in-polygon)"},{"id":"52c2a177.d91d5","type":"inject","z":"67faeb1b.677594","name":"","topic":"can_siset","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":160,"y":620,"wires":[["773376ea.60bd98"]]},{"id":"18de7ba9.d90264","type":"inject","z":"67faeb1b.677594","name":"","topic":"mas_almar","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":160,"y":660,"wires":[["773376ea.60bd98"]]},{"id":"2c651acd.c76516","type":"inject","z":"67faeb1b.677594","name":"","topic":"mas_badosa","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":170,"y":700,"wires":[["773376ea.60bd98"]]},{"id":"e07f41a9.a7f5f","type":"inject","z":"67faeb1b.677594","name":"","topic":"mas_colom","payload":"20","payloadType":"num","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":160,"y":740,"wires":[["773376ea.60bd98"]]},{"id":"b1c09efc.0386b","type":"switch","z":"67faeb1b.677594","name":"Granja","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"mas_colom","vt":"str"},{"t":"eq","v":"mas_badosa","vt":"str"},{"t":"eq","v":"mas_gener","vt":"str"},{"t":"eq","v":"can_siset","vt":"str"},{"t":"eq","v":"mas_almar","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1010,"y":660,"wires":[["4e7acc82.d06254"],["251170a4.de674"],["cc253942.5a40c8"],["d4b167cc.650af8"],["dbc4c254.ed96f"]]},{"id":"c077d523.cfcd28","type":"ui_text","z":"67faeb1b.677594","group":"b0eabe19.c4fa1","order":3,"width":6,"height":1,"name":"","label":"Total Leche ","format":"{{msg.payload}}L","layout":"row-center","x":670,"y":900,"wires":[]},{"id":"5e97845e.e3574c","type":"ui_text","z":"67faeb1b.677594","group":"b0eabe19.c4fa1","order":2,"width":6,"height":1,"name":"","label":"Total Vacas ","format":"50","layout":"row-center","x":670,"y":960,"wires":[]},{"id":"6ea27de1.162574","type":"ui_text","z":"67faeb1b.677594","group":"63692610.ef40b8","order":4,"width":6,"height":1,"name":"","label":"Estado valla ","format":"ok","layout":"row-center","x":670,"y":1020,"wires":[]},{"id":"89c19574.5f27f8","type":"inject","z":"67faeb1b.677594","name":"","topic":"TL","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":900,"wires":[["b149beac.a3019"]]},{"id":"b149beac.a3019","type":"random","z":"67faeb1b.677594","name":"","low":"250","high":"300","inte":"true","property":"payload","x":380,"y":900,"wires":[["e049b4ba.b9df98"]]},{"id":"476d3d00.82a954","type":"ui_text","z":"67faeb1b.677594","group":"8b4da9fc.dd9808","order":3,"width":6,"height":1,"name":"","label":"Total Leche ","format":"{{msg.payload}}L","layout":"row-center","x":670,"y":1100,"wires":[]},{"id":"1246a8fd.aad657","type":"ui_text","z":"67faeb1b.677594","group":"63692610.ef40b8","order":2,"width":6,"height":1,"name":"","label":"Total Vacas","format":"42","layout":"row-center","x":670,"y":1160,"wires":[]},{"id":"2ab2a870.d613e8","type":"ui_text","z":"67faeb1b.677594","group":"b0eabe19.c4fa1","order":4,"width":6,"height":1,"name":"","label":"Estado valla","format":"ok","layout":"row-center","x":670,"y":1220,"wires":[]},{"id":"a6ee5b3c.8da128","type":"inject","z":"67faeb1b.677594","name":"","topic":"TL","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1100,"wires":[["a5f74853.b202e8"]]},{"id":"a5f74853.b202e8","type":"random","z":"67faeb1b.677594","name":"","low":"250","high":"300","inte":"true","property":"payload","x":380,"y":1100,"wires":[["476d3d00.82a954"]]},{"id":"ddcb73bd.c6f77","type":"ui_text","z":"67faeb1b.677594","group":"63692610.ef40b8","order":3,"width":6,"height":1,"name":"","label":"Total Leche ","format":"{{msg.payload}}L","layout":"row-center","x":670,"y":1280,"wires":[]},{"id":"67bf443f.9ec8ac","type":"ui_text","z":"67faeb1b.677594","group":"5c05af83.55194","order":2,"width":6,"height":1,"name":"","label":"Total Vacas","format":"52","layout":"row-center","x":670,"y":1340,"wires":[]},{"id":"c1fb08f7.5cc998","type":"ui_text","z":"67faeb1b.677594","group":"1610c78c.105be8","order":4,"width":6,"height":1,"name":"","label":"Estado valla","format":"ok","layout":"row-center","x":670,"y":1400,"wires":[]},{"id":"5e5da9f0.d50ea8","type":"inject","z":"67faeb1b.677594","name":"","topic":"TL","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1280,"wires":[["26e97f73.7839e"]]},{"id":"26e97f73.7839e","type":"random","z":"67faeb1b.677594","name":"","low":"250","high":"300","inte":"true","property":"payload","x":380,"y":1280,"wires":[["ddcb73bd.c6f77"]]},{"id":"6c7d6fd.dfb079","type":"ui_text","z":"67faeb1b.677594","group":"5c05af83.55194","order":3,"width":6,"height":1,"name":"","label":"Total Leche ","format":"{{msg.payload}}L","layout":"row-center","x":670,"y":1480,"wires":[]},{"id":"5f4d48ff.689578","type":"ui_text","z":"67faeb1b.677594","group":"8b4da9fc.dd9808","order":2,"width":6,"height":1,"name":"","label":"Total Vacas","format":"40","layout":"row-center","x":670,"y":1540,"wires":[]},{"id":"eac62af.3ef48d8","type":"ui_text","z":"67faeb1b.677594","group":"8b4da9fc.dd9808","order":4,"width":6,"height":1,"name":"","label":"Estado valla","format":"ok","layout":"row-center","x":670,"y":1600,"wires":[]},{"id":"d28e4707.0bfcf8","type":"inject","z":"67faeb1b.677594","name":"","topic":"TL","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1480,"wires":[["25a6f5f3.e3d5fa"]]},{"id":"25a6f5f3.e3d5fa","type":"random","z":"67faeb1b.677594","name":"","low":"250","high":"300","inte":"true","property":"payload","x":380,"y":1480,"wires":[["6c7d6fd.dfb079"]]},{"id":"ea9bb63b.7c62e8","type":"ui_text","z":"67faeb1b.677594","group":"1610c78c.105be8","order":3,"width":6,"height":1,"name":"","label":"Total Leche ","format":"{{msg.payload}}L","layout":"row-center","x":670,"y":1680,"wires":[]},{"id":"871dc890.babc28","type":"ui_text","z":"67faeb1b.677594","group":"1610c78c.105be8","order":2,"width":6,"height":1,"name":"","label":"Total Vacas","format":"45","layout":"row-center","x":670,"y":1740,"wires":[]},{"id":"2f3d3086.47b46","type":"ui_text","z":"67faeb1b.677594","group":"5c05af83.55194","order":4,"width":6,"height":1,"name":"","label":"Estado valla","format":"ok","layout":"row-center","x":670,"y":1800,"wires":[]},{"id":"6ab89d85.c5aa74","type":"inject","z":"67faeb1b.677594","name":"","topic":"TL","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1680,"wires":[["d7bc6324.9c1d9"]]},{"id":"d7bc6324.9c1d9","type":"random","z":"67faeb1b.677594","name":"","low":"250","high":"300","inte":"true","property":"payload","x":380,"y":1680,"wires":[["ea9bb63b.7c62e8"]]},{"id":"e049b4ba.b9df98","type":"function","z":"67faeb1b.677594","name":"","func":"msg.color=\"green\" \nif (msg.payload==50)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":900,"wires":[["c077d523.cfcd28"]]},{"id":"22fe3908.b2e856","type":"tab","label":"Camiones","disabled":false,"info":""},{"id":"3f09c13e.d1907e","type":"ui_worldmap","z":"22fe3908.b2e856","group":"a83fcf3d.3376e","order":2,"width":9,"height":8,"name":"Camiones","lat":"42.0330","lon":"2.8722","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","path":"/camiones","x":500,"y":100,"wires":[]},{"id":"a577c192.7ceec","type":"inject","z":"22fe3908.b2e856","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":"0.1","x":70,"y":100,"wires":[["272ca57b.7ea4da"]]},{"id":"272ca57b.7ea4da","type":"function","z":"22fe3908.b2e856","name":"Posición camiones&granjas","func":"var thing = [\n{\n    name:\"Camion1\", \n    lat: flow.get(\"camion1.lat\"), \n    lon: flow.get(\"camion1.long\"),\n    icon:\"truck\",\n    iconColor:\"orange\",\n},\n{\n    name:\"Camion2\", \n    lat:42.0600 + Math.random() * 0.03, \n    lon:2.9018 + Math.random() * 0.01,\n    icon:\"truck\",\n    iconColor:\"dark\",\n},\n{\n    name:\"Camion3\", \n    lat:42.049829, \n    lon:2.833642,\n    icon:\"truck\",\n    iconColor:\"green\",\n},\n{\n    name:\"Camion4\", \n    lat:42.018725 + Math.random() * 0.02, \n    lon:2.876303 + Math.random() * 0.005,\n    icon:\"truck\",\n    iconColor:\"blue\",\n},\n{\n    name:\"Camion5\", \n    lat:41.9865 + Math.random() * 0.01, \n    lon:2.804317 + Math.random() * 0.009,\n    icon:\"truck\",\n    iconColor:\"red\",\n},\n{\n    name:\"LACCIM\", \n    lat:42.034710, \n    lon:2.892524,\n    icon:\"industry\"\n},\n{\n    name:\"Mas Badosa\", \n    lat:42.114439, \n    lon:2.742215,\n    icon:\"paw\",\n    iconColor:\"orange\",\n},\n{\n    name:\"Mas Colom\", \n    lat:42.064114, \n    lon:2.912980,\n    icon:\"paw\",\n    iconColor:\"dark\",\n},\n{\n    name:\"Mas Siset\", \n    lat:42.074299, \n    lon:2.833642,\n    icon:\"paw\",\n    iconColor:\"green\",\n},\n{\n    name:\"Mas Almar\", \n    lat:42.018725, \n    lon:2.976303,\n    icon:\"paw\",\n    iconColor:\"blue\",\n},\n{\n    name:\"Mas Gener\", \n    lat:41.910929, \n    lon:2.804317,\n    icon:\"paw\",\n    iconColor:\"red\",\n}\n]\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["3f09c13e.d1907e"]]},{"id":"686119d5.0c1718","type":"inject","z":"22fe3908.b2e856","name":"","topic":"","payload":"","payloadType":"str","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":710,"y":100,"wires":[["7164699b.591388"]]},{"id":"77a72872.5dbf98","type":"ui_table","z":"22fe3908.b2e856","group":"a83fcf3d.3376e","name":"Trucks","order":5,"width":12,"height":4,"columns":[{"field":"Number","title":"Assigned","width":"100","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"Driver","title":"Driver","width":"100","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Destination","title":"Destination","width":"150","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Time","title":"Time","width":"100","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Status","title":"Status","width":"88.25","align":"center","formatter":"traffic","formatterParams":{"target":"_blank"}},{"field":"ToCheck","title":"Checked","width":"90","align":"center","formatter":"tickCross","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1290,"y":100,"wires":[]},{"id":"623202fc.86473c","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"payload[0].Number","pt":"msg","to":"<font color=\"orange\"><b>Camion1</b></font>","tot":"str"},{"t":"set","p":"payload[2].Number","pt":"msg","to":"<font color=\"green\"><b>Camion3</b></font>","tot":"str"},{"t":"set","p":"payload[3].Number","pt":"msg","to":"<font color=\"blue\"><b>Camion4</b></font>","tot":"str"},{"t":"set","p":"payload[4].Number","pt":"msg","to":"<font color=\"darkred\"><b>Camion5</b></font>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":100,"wires":[["77a72872.5dbf98"]]},{"id":"f3ba79cc.6af8a8","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":280,"wires":[[]]},{"id":"98bb2a12.cd7888","type":"ui_dropdown","z":"22fe3908.b2e856","name":"","label":"","tooltip":"","place":"Select option","group":"5641bd63.bd5db4","order":2,"width":4,"height":1,"passthru":true,"options":[{"label":"Camion1","value":"Camion1","type":"str"},{"label":"Camion2","value":"Camion2","type":"str"},{"label":"Camion3","value":"Camion3","type":"str"},{"label":"Camion4","value":"Camion4","type":"str"},{"label":"Camion5","value":"Camion5","type":"str"}],"payload":"","topic":"","x":60,"y":280,"wires":[["f3ba79cc.6af8a8"]]},{"id":"c6771d5b.267f2","type":"comment","z":"22fe3908.b2e856","name":"Mapa posición general camiones","info":"","x":130,"y":40,"wires":[]},{"id":"1839de8e.d35341","type":"comment","z":"22fe3908.b2e856","name":"Tabla resumen estado","info":"","x":740,"y":40,"wires":[]},{"id":"5e0dd701.28ea08","type":"comment","z":"22fe3908.b2e856","name":"Desplegable con detalle por camiones","info":"","x":150,"y":220,"wires":[]},{"id":"db3c8d3a.3612e","type":"ui_text","z":"22fe3908.b2e856","group":"5641bd63.bd5db4","order":13,"width":6,"height":1,"name":"Temperatura ","label":"<i class=\"fa fa-thermometer-full\" aria-hidden=\"true\"></i>","format":"Temperatura cuba: {{msg.payload.temp}}º","layout":"row-center","x":810,"y":1320,"wires":[]},{"id":"a079b04a.f0d8","type":"ui_text","z":"22fe3908.b2e856","group":"5641bd63.bd5db4","order":9,"width":6,"height":1,"name":"Cadena frio","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"></i>","format":"Cadena frio: {{msg.payload.frio}}","layout":"row-center","x":810,"y":1360,"wires":[]},{"id":"f3750710.6c9ac8","type":"ui_button","z":"22fe3908.b2e856","name":"","group":"5641bd63.bd5db4","order":8,"width":4,"height":1,"passthru":false,"label":"Cargar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":50,"y":1360,"wires":[["c44b292e.cb2468"]]},{"id":"c44b292e.cb2468","type":"switch","z":"22fe3908.b2e856","name":"","property":"camion","propertyType":"flow","rules":[{"t":"eq","v":"Camion1","vt":"str"},{"t":"eq","v":"Camion2","vt":"str"},{"t":"eq","v":"Camion3","vt":"str"},{"t":"eq","v":"Camion4","vt":"str"},{"t":"eq","v":"Camion5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":190,"y":1360,"wires":[["630004a9.19626c","50fd93aa.f9c49c"],["b25f2d1e.b6d4"],["55914640.d808c8"],["181ed000.898fd"],["e9fab349.003db"]]},{"id":"630004a9.19626c","type":"function","z":"22fe3908.b2e856","name":"Camion1","func":"msg.payload = {\n    revision: flow.get(\"camion1.revision\"),\n    vida: flow.get(\"camion1.vidaRestante\"),\n    leche: flow.get(\"camion1.leche\"),\n    cuba:Math.ceil(Math.random() * 100),\n    temp: flow.get(\"camion1.temp\"),\n    frio: \"<font color=\\\"\" + flow.get(\"camion1.colorcadenafrio\") + \"\\\">\"+  \n        flow.get(\"camion1.cadenafrio\") + \"</font>\",\n    ruta: \"<font color=\\\"\" + flow.get(\"camion1.colordesvio\") + \"\\\">\"+  \n        flow.get(\"camion1.desvio\") + \"</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1200,"wires":[["ae8c06bf.217978"]]},{"id":"fab336bb.f5ddc8","type":"ui_gauge","z":"22fe3908.b2e856","name":"","group":"5641bd63.bd5db4","order":4,"width":6,"height":4,"gtype":"gage","title":"Capacidad cuba","label":"%","format":"{{msg.payload.cuba}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":1200,"wires":[]},{"id":"c7d89cbd.0febf","type":"ui_gauge","z":"22fe3908.b2e856","name":"","group":"5641bd63.bd5db4","order":5,"width":6,"height":4,"gtype":"donut","title":"Proxima revision","label":"KM","format":"{{msg.payload.revision}}","min":"0","max":"80000","colors":["#ff0000","#e6e600","#00ff40"],"seg1":"","seg2":"","x":820,"y":1240,"wires":[]},{"id":"b25f2d1e.b6d4","type":"function","z":"22fe3908.b2e856","name":"Camion2","func":"msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 29000,\n    leche: flow.get(\"camion2.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion2.temp\"),\n    frio: \"<font color=\\\"red\\\">NOK</font>\",\n    ruta: \"<font color=\\\"red\\\">SI</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1340,"wires":[["ae8c06bf.217978"]]},{"id":"55914640.d808c8","type":"function","z":"22fe3908.b2e856","name":"Camion3","func":"msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 400000,\n    leche: flow.get(\"camion3.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion3.temp\"),\n    frio: \"<font color=\\\"green\\\">OK</font>\",\n    ruta: \"<font color=\\\"green\\\">NO</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1380,"wires":[["ae8c06bf.217978"]]},{"id":"181ed000.898fd","type":"function","z":"22fe3908.b2e856","name":"Camion4","func":"msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 256489,\n    leche: flow.get(\"camion4.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion4.temp\"),\n    frio: \"<font color=\\\"green\\\">OK</font>\",\n    ruta: \"<font color=\\\"green\\\">NO</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1420,"wires":[["ae8c06bf.217978"]]},{"id":"e9fab349.003db","type":"function","z":"22fe3908.b2e856","name":"Camion5","func":"msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 262000,\n    leche: flow.get(\"camion5.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion5.temp\"),\n    frio: \"<font color=\\\"red\\\">NOK</font>\",\n    ruta: \"<font color=\\\"green\\\">NO</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1460,"wires":[["ae8c06bf.217978"]]},{"id":"ae8c06bf.217978","type":"link out","z":"22fe3908.b2e856","name":"","links":["be1bd1f3.1c735"],"x":535,"y":1360,"wires":[]},{"id":"be1bd1f3.1c735","type":"link in","z":"22fe3908.b2e856","name":"","links":["ae8c06bf.217978","b6f2bcd6.e79e3","5d7f15c7.67493c","c2b36252.bac9c","84f71e36.f155c"],"x":655,"y":1320,"wires":[["db3c8d3a.3612e","a079b04a.f0d8","fab336bb.f5ddc8","c7d89cbd.0febf","3d012a5b.f0e9b6","e39c61c5.74a5f","91f76ee5.8868e"]]},{"id":"3d012a5b.f0e9b6","type":"ui_gauge","z":"22fe3908.b2e856","name":"","group":"5641bd63.bd5db4","order":6,"width":6,"height":4,"gtype":"donut","title":"Vida restante","label":"KM","format":"{{msg.payload.vida}}","min":"0","max":"480000","colors":["#ff0000","#e6e600","#00ff40"],"seg1":"","seg2":"","x":810,"y":1280,"wires":[]},{"id":"e39c61c5.74a5f","type":"ui_text","z":"22fe3908.b2e856","group":"5641bd63.bd5db4","order":15,"width":6,"height":1,"name":"Leche transportada","label":"<i class=\"fa fa-tint\"></i>","format":"Leche transportada: {{msg.payload.leche}} L","layout":"row-center","x":830,"y":1400,"wires":[]},{"id":"91f76ee5.8868e","type":"ui_text","z":"22fe3908.b2e856","group":"5641bd63.bd5db4","order":3,"width":6,"height":1,"name":"Ruta","label":"<i class=\"fa fa-road\"></i>","format":"Desvio ruta: {{msg.payload.ruta}}","layout":"row-center","x":790,"y":1440,"wires":[]},{"id":"31c38688.1f9dda","type":"mqtt in","z":"22fe3908.b2e856","name":"Camion 1","topic":"24:6F:28:87:F8:30/truck","qos":"2","datatype":"auto","broker":"4803336d.b278fc","x":60,"y":460,"wires":[["3203d525.3cd6ca"]]},{"id":"3203d525.3cd6ca","type":"json","z":"22fe3908.b2e856","name":"","property":"payload","action":"","pretty":false,"x":230,"y":460,"wires":[["77fee6e9.056a58","abaa1fdd.0273c","9e0bec34.6e25d","b3cdce8.3aded3"]]},{"id":"77fee6e9.056a58","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":400,"wires":[[]]},{"id":"abaa1fdd.0273c","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":440,"wires":[[]]},{"id":"1ffaa388.3c6ebc","type":"mqtt in","z":"22fe3908.b2e856","name":"","topic":"camion2","qos":"2","datatype":"auto","broker":"f36ed9da.6542e8","x":60,"y":720,"wires":[["1994555c.6fd1fb"]]},{"id":"1994555c.6fd1fb","type":"json","z":"22fe3908.b2e856","name":"","property":"payload","action":"","pretty":false,"x":230,"y":720,"wires":[["d202c3a9.0669c","573aed3a.010174","93035ab5.e19fc8","54f81558.7f7b7c"]]},{"id":"d202c3a9.0669c","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion2.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":660,"wires":[[]]},{"id":"573aed3a.010174","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion2.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":700,"wires":[[]]},{"id":"6dfc1fd2.1aeb7","type":"mqtt in","z":"22fe3908.b2e856","name":"","topic":"camion3","qos":"2","datatype":"auto","broker":"f36ed9da.6542e8","x":660,"y":720,"wires":[["eab0e5a1.016378"]]},{"id":"eab0e5a1.016378","type":"json","z":"22fe3908.b2e856","name":"","property":"payload","action":"","pretty":false,"x":830,"y":720,"wires":[["65ede7c5.dcce68","58a499b0.9b1458","f8c6847e.828a58","af000406.ce8608"]]},{"id":"65ede7c5.dcce68","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion3.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":660,"wires":[[]]},{"id":"58a499b0.9b1458","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion3.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":700,"wires":[[]]},{"id":"e40287b2.b3cc48","type":"mqtt in","z":"22fe3908.b2e856","name":"","topic":"camion4","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":60,"y":960,"wires":[["9f2d7647.773ee8"]]},{"id":"9f2d7647.773ee8","type":"json","z":"22fe3908.b2e856","name":"","property":"payload","action":"","pretty":false,"x":230,"y":960,"wires":[["2565e2bd.6ef80e","c99f18e7.e60348","60f0ac6f.0b1f04","ac403cc7.b5a65"]]},{"id":"2565e2bd.6ef80e","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion4.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":900,"wires":[[]]},{"id":"c99f18e7.e60348","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion4.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":940,"wires":[[]]},{"id":"fdf55c7.3bd44a","type":"mqtt in","z":"22fe3908.b2e856","name":"","topic":"camion5","qos":"2","datatype":"auto","broker":"f36ed9da.6542e8","x":660,"y":960,"wires":[["aa1e8cd9.13272"]]},{"id":"aa1e8cd9.13272","type":"json","z":"22fe3908.b2e856","name":"","property":"payload","action":"","pretty":false,"x":830,"y":960,"wires":[["90f3d46a.d3cb98","36a3fa19.66dbf6","69ceb34b.92bc6c","25b8d9c1.46b046"]]},{"id":"90f3d46a.d3cb98","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion5.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":900,"wires":[[]]},{"id":"36a3fa19.66dbf6","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":940,"wires":[[]]},{"id":"6299b78a.30fbf8","type":"inject","z":"22fe3908.b2e856","name":"ID conductor","topic":"","payload":"Conductor1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":400,"wires":[["e6940165.7639e"]]},{"id":"e6940165.7639e","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.conductor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":400,"wires":[[]]},{"id":"9e0bec34.6e25d","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.lat","pt":"flow","to":"payload.latGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":480,"wires":[[]]},{"id":"b3cdce8.3aded3","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.long","pt":"flow","to":"payload.longGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":520,"wires":[[]]},{"id":"a5a86661.988fe8","type":"comment","z":"22fe3908.b2e856","name":"Información recibida del dispositivo programado, se almacena en variables del flow","info":"","x":290,"y":360,"wires":[]},{"id":"6c110985.9fb7b8","type":"comment","z":"22fe3908.b2e856","name":"Información que se debería recibir de los otros 4 dispositivos","info":"","x":220,"y":600,"wires":[]},{"id":"93035ab5.e19fc8","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion2.lat","pt":"flow","to":"payload.latGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":740,"wires":[[]]},{"id":"54f81558.7f7b7c","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion2.long","pt":"flow","to":"payload.longGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":780,"wires":[[]]},{"id":"f8c6847e.828a58","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion3.lat","pt":"flow","to":"payload.latGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":740,"wires":[[]]},{"id":"af000406.ce8608","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion3.long","pt":"flow","to":"payload.longGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":780,"wires":[[]]},{"id":"60f0ac6f.0b1f04","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion4.lat","pt":"flow","to":"payload.latGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":980,"wires":[[]]},{"id":"ac403cc7.b5a65","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion4.long","pt":"flow","to":"payload.longGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1020,"wires":[[]]},{"id":"69ceb34b.92bc6c","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion5.lat","pt":"flow","to":"payload.latGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":980,"wires":[[]]},{"id":"25b8d9c1.46b046","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion5.long","pt":"flow","to":"payload.longGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1020,"wires":[[]]},{"id":"173ac8b7.81cd47","type":"comment","z":"22fe3908.b2e856","name":"Visualización de los datos por camión. Se mantiene la pulsación del botón ya que la visualización de los datos limpia alarmas","info":"","x":420,"y":1140,"wires":[]},{"id":"a857ed36.03721","type":"inject","z":"22fe3908.b2e856","name":"Sentido ruta","topic":"","payload":"LACCIM a MBadosa","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":440,"wires":[["1456e157.62dfaf"]]},{"id":"1456e157.62dfaf","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.ruta","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":440,"wires":[[]]},{"id":"7164699b.591388","type":"function","z":"22fe3908.b2e856","name":"Tabla estado camiones","func":"var thing = [\n    {\n        \"Number\": \"<b>Camion1</b>\",\n        \"Driver\": flow.get(\"camion1.conductor\"), \n        \"Destination\": flow.get(\"camion1.ruta\"), \n        \"Time\": flow.get(\"camion1.tiempoRestante\"),\n        \"Status\": flow.get(\"camion1.status\"),\n        \"ToCheck\": flow.get(\"camion1.check\")\n    },\n    {\n        \"Number\": \"<b>Camion2</b>\",\n        \"Driver\": \"Conductor2\",\n        \"Destination\": \"Llenando cuba\",\n        \"Time\": \"5M\",\n        \"Status\": 50,\n        \"ToCheck\": false\n    },\n    {\n        \"Number\": \"<b>Camion3</b>\",\n        \"Driver\": \"Conductor3\",\n        \"Destination\": \"LACCIM a CSiset\",\n        \"Time\": \"55M\",\n        \"Status\": 85,\n        \"ToCheck\": true\n    },\n    {\n        \"Number\": \"<b>Camion4</b>\",\n        \"Driver\": \"Conductor4\",\n        \"Destination\": \"MAlmar a LACCIM\",\n        \"Time\": \"1H 36M\",\n        \"Status\": 36,\n        \"ToCheck\": false\n    },\n    {\n        \"Number\": \"<b>Camion5</b>\",\n        \"Driver\": \"Conductor5\",\n        \"Destination\": \"LACCIM a MGener\",\n        \"Time\": \"26M\",\n        \"Status\": 48,\n        \"ToCheck\": true\n    },\n    {\n        \"Number\": \"<b>Decanso</b>\",\n        \"Driver\": \"Conductor6\",\n        \"Destination\": \"\",\n        \"Time\": \"\",\n        \"Status\": 85,\n        \"ToCheck\": true\n    }\n]\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":100,"wires":[["623202fc.86473c"]]},{"id":"b5cec5a2.433108","type":"comment","z":"22fe3908.b2e856","name":"Información recibida por otros medios, pero también tenida en cuenta en la tabla","info":"","x":940,"y":360,"wires":[]},{"id":"d190822a.a3085","type":"inject","z":"22fe3908.b2e856","name":"Dato NO comprobado","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":480,"wires":[["54483260.d847ac"]]},{"id":"54483260.d847ac","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.check","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":480,"wires":[[]]},{"id":"50fd93aa.f9c49c","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.check","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1260,"wires":[[]]},{"id":"198bd63b.635f9a","type":"inject","z":"22fe3908.b2e856","name":"Tiempo a destino","topic":"","payload":"1H 25M","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":520,"wires":[["432c0415.719e6c"]]},{"id":"432c0415.719e6c","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.tiempoRestante","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":520,"wires":[[]]},{"id":"51127418.1a047c","type":"inject","z":"22fe3908.b2e856","name":"Cadena frio NOK","topic":"","payload":"NOK","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1640,"wires":[["e2401be1.1a85b8","b71574a4.074498"]]},{"id":"e2401be1.1a85b8","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.cadenafrio","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1640,"wires":[[]]},{"id":"34a90510.c1bdca","type":"comment","z":"22fe3908.b2e856","name":"Datos adicionales para la gestión del estado del camión","info":"","x":220,"y":1580,"wires":[]},{"id":"5ec6e111.00622","type":"inject","z":"22fe3908.b2e856","name":"Vida restante NOK","topic":"","payload":"299","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1740,"wires":[["ed08e50e.e15f78"]]},{"id":"ed08e50e.e15f78","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.vidaRestante","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1740,"wires":[[]]},{"id":"612d16c.b3067e8","type":"inject","z":"22fe3908.b2e856","name":"Desvío ruta NOK","topic":"","payload":"SI","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1780,"wires":[["7f131928.939e68","e1f282a6.2bcb6"]]},{"id":"7f131928.939e68","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.desvio","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1780,"wires":[[]]},{"id":"2328f4b5.2ed7dc","type":"inject","z":"22fe3908.b2e856","name":"Proxima revisión NOK","topic":"","payload":"299","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1880,"wires":[["aa2127ec.8ba798"]]},{"id":"aa2127ec.8ba798","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.revision","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1880,"wires":[[]]},{"id":"ce9b6a8f.575f88","type":"function","z":"22fe3908.b2e856","name":"Status Camión 1","func":"var cadenaFrio = flow.get(\"camion1.cadenafrio\")\nvar vidarestante = flow.get(\"camion1.cadenafrio\")\nvar desvio = flow.get(\"camion1.desvio\")\nvar revision = flow.get(\"camion1.revision\")\n\nflow.set(\"camion1.status\", 100)\n\nif (desvio==\"SI\"){\n    flow.set(\"camion1.status\", 50)\n}\n\nif (revision<300){\n    flow.set(\"camion1.status\", 50)\n}\n\nif (cadenaFrio==\"NOK\"){\n    flow.set(\"camion1.status\", 0)\n}\n\nif (vidarestante<300){\n    flow.set(\"camion1.status\", 0)\n}\n\n\n","outputs":1,"noerr":0,"x":320,"y":1960,"wires":[[]]},{"id":"758ec822.f3df88","type":"inject","z":"22fe3908.b2e856","name":"Status","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":1960,"wires":[["ce9b6a8f.575f88"]]},{"id":"d53ca2dc.7d7f2","type":"inject","z":"22fe3908.b2e856","name":"Cadena frio OK","topic":"","payload":"OK","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":1640,"wires":[["edc4609a.feefb","5e1718d.e0b01e8"]]},{"id":"edc4609a.feefb","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.cadenafrio","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1640,"wires":[[]]},{"id":"f2875595.0c8fc8","type":"inject","z":"22fe3908.b2e856","name":"Vida restante OK","topic":"","payload":"256984","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":1740,"wires":[["a491a578.00ae18"]]},{"id":"a491a578.00ae18","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.vidaRestante","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1740,"wires":[[]]},{"id":"fb7bcb5a.dea568","type":"inject","z":"22fe3908.b2e856","name":"Desvío ruta OK","topic":"","payload":"NO","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":1780,"wires":[["76854e53.679a1","342401a1.3add6e"]]},{"id":"76854e53.679a1","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.desvio","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1780,"wires":[[]]},{"id":"52e90fbe.dcaf9","type":"inject","z":"22fe3908.b2e856","name":"Proxima revisión OK","topic":"","payload":"42351","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":1880,"wires":[["74872c04.472d94"]]},{"id":"74872c04.472d94","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.revision","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1880,"wires":[[]]},{"id":"b71574a4.074498","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.colorcadenafrio","pt":"flow","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1680,"wires":[[]]},{"id":"5e1718d.e0b01e8","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.colorcadenafrio","pt":"flow","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1680,"wires":[[]]},{"id":"e1f282a6.2bcb6","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.colordesvio","pt":"flow","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1820,"wires":[[]]},{"id":"342401a1.3add6e","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.colordesvio","pt":"flow","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1820,"wires":[[]]},{"id":"7584d47b.24e7bc","type":"ui_group","z":"","name":"Informacion General de la Granja","tab":"b40ee201.3218","order":1,"disp":true,"width":16,"collapse":false},{"id":"c1f97f04.7ab42","type":"ui_group","z":"","name":"Informacion especifica de vacas","tab":"b40ee201.3218","order":2,"disp":true,"width":16,"collapse":true},{"id":"f33c1de5.0e277","type":"mqtt-broker","z":"","name":"","broker":"20.50.173.151","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"305ee26e.23ecbe","type":"ui_group","z":"","name":"Control nave","tab":"52f91215.4b22ac","order":2,"disp":true,"width":6,"collapse":false},{"id":"2cfa16f.4dc79ea","type":"ui_group","z":"","name":"Control cubas","tab":"52f91215.4b22ac","order":1,"disp":true,"width":14,"collapse":false},{"id":"b0eabe19.c4fa1","type":"ui_group","z":0,"name":"Mas Badosa","tab":"a7be16e2.453838","disp":true,"width":"6","collapse":true},{"id":"63692610.ef40b8","type":"ui_group","z":0,"name":"Can Siset","tab":"a7be16e2.453838","disp":true,"width":"6","collapse":true},{"id":"1610c78c.105be8","type":"ui_group","z":0,"name":"Mas Almar","tab":"a7be16e2.453838","disp":true,"width":"6","collapse":true},{"id":"8b4da9fc.dd9808","type":"ui_group","z":0,"name":"Mas Gener","tab":"a7be16e2.453838","disp":true,"width":"6","collapse":true},{"id":"5c05af83.55194","type":"ui_group","z":"","name":"Mas Colom","tab":"a7be16e2.453838","disp":true,"width":"6","collapse":true},{"id":"a83fcf3d.3376e","type":"ui_group","z":"","name":"MapaCamiones","tab":"536f05d0.b1f6cc","disp":true,"width":29,"collapse":true},{"id":"5641bd63.bd5db4","type":"ui_group","z":"","name":"Camiones","tab":"536f05d0.b1f6cc","disp":true,"width":29,"collapse":true},{"id":"4803336d.b278fc","type":"mqtt-broker","z":"","name":"azContainerMosquitto","broker":"iiotmosquitto0018.westeurope.azurecontainer.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f36ed9da.6542e8","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.252","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b40ee201.3218","type":"ui_tab","z":"","name":"Granjas","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"52f91215.4b22ac","type":"ui_tab","z":"","name":"FabricaLast","icon":"dashboard","disabled":false,"hidden":false},{"id":"a7be16e2.453838","type":"ui_tab","z":"","name":"Granjas General","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"536f05d0.b1f6cc","type":"ui_tab","z":"","name":"InfoCamiones","icon":"fa-truck","disabled":false,"hidden":false}]