Node-red/Dashboard_MOXA.json
[{"id":"22fe3908.b2e856","type":"tab","label":"Camiones","disabled":false,"info":""},{"id":"3f09c13e.d1907e","type":"ui_worldmap","z":"22fe3908.b2e856","group":"a83fcf3d.3376e","order":2,"width":9,"height":8,"name":"Camiones","lat":"42.0330","lon":"2.8722","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","path":"/camiones","x":500,"y":100,"wires":[]},{"id":"a577c192.7ceec","type":"inject","z":"22fe3908.b2e856","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":"0.1","x":70,"y":100,"wires":[["272ca57b.7ea4da"]]},{"id":"272ca57b.7ea4da","type":"function","z":"22fe3908.b2e856","name":"Posición camiones&granjas","func":"var thing = [\n{\n    name:\"Camion1\", \n    lat: flow.get(\"camion1.lat\"), \n    lon: flow.get(\"camion1.long\"),\n    icon:\"truck\",\n    iconColor:\"orange\",\n},\n{\n    name:\"Camion2\", \n    lat:42.0600 + Math.random() * 0.03, \n    lon:2.9018 + Math.random() * 0.01,\n    icon:\"truck\",\n    iconColor:\"dark\",\n},\n{\n    name:\"Camion3\", \n    lat:42.049829, \n    lon:2.833642,\n    icon:\"truck\",\n    iconColor:\"green\",\n},\n{\n    name:\"Camion4\", \n    lat:42.018725 + Math.random() * 0.02, \n    lon:2.876303 + Math.random() * 0.005,\n    icon:\"truck\",\n    iconColor:\"blue\",\n},\n{\n    name:\"Camion5\", \n    lat:41.9865 + Math.random() * 0.01, \n    lon:2.804317 + Math.random() * 0.009,\n    icon:\"truck\",\n    iconColor:\"red\",\n},\n{\n    name:\"LACCIM\", \n    lat:42.034710, \n    lon:2.892524,\n    icon:\"industry\"\n},\n{\n    name:\"Mas Badosa\", \n    lat:42.114439, \n    lon:2.742215,\n    icon:\"paw\",\n    iconColor:\"orange\",\n},\n{\n    name:\"Mas Colom\", \n    lat:42.064114, \n    lon:2.912980,\n    icon:\"paw\",\n    iconColor:\"dark\",\n},\n{\n    name:\"Mas Siset\", \n    lat:42.074299, \n    lon:2.833642,\n    icon:\"paw\",\n    iconColor:\"green\",\n},\n{\n    name:\"Mas Almar\", \n    lat:42.018725, \n    lon:2.976303,\n    icon:\"paw\",\n    iconColor:\"blue\",\n},\n{\n    name:\"Mas Gener\", \n    lat:41.910929, \n    lon:2.804317,\n    icon:\"paw\",\n    iconColor:\"red\",\n}\n]\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["3f09c13e.d1907e"]]},{"id":"686119d5.0c1718","type":"inject","z":"22fe3908.b2e856","name":"","topic":"","payload":"","payloadType":"str","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":710,"y":100,"wires":[["7164699b.591388"]]},{"id":"77a72872.5dbf98","type":"ui_table","z":"22fe3908.b2e856","group":"a83fcf3d.3376e","name":"Trucks","order":5,"width":12,"height":4,"columns":[{"field":"Number","title":"Assigned","width":"100","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"Driver","title":"Driver","width":"100","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Destination","title":"Destination","width":"150","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Time","title":"Time","width":"100","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Status","title":"Status","width":"88.25","align":"center","formatter":"traffic","formatterParams":{"target":"_blank"}},{"field":"ToCheck","title":"Checked","width":"90","align":"center","formatter":"tickCross","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1290,"y":100,"wires":[]},{"id":"623202fc.86473c","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"payload[0].Number","pt":"msg","to":"<font color=\"orange\"><b>Camion1</b></font>","tot":"str"},{"t":"set","p":"payload[2].Number","pt":"msg","to":"<font color=\"green\"><b>Camion3</b></font>","tot":"str"},{"t":"set","p":"payload[3].Number","pt":"msg","to":"<font color=\"blue\"><b>Camion4</b></font>","tot":"str"},{"t":"set","p":"payload[4].Number","pt":"msg","to":"<font color=\"darkred\"><b>Camion5</b></font>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":100,"wires":[["77a72872.5dbf98"]]},{"id":"f3ba79cc.6af8a8","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":280,"wires":[[]]},{"id":"98bb2a12.cd7888","type":"ui_dropdown","z":"22fe3908.b2e856","name":"","label":"","tooltip":"","place":"Select option","group":"5641bd63.bd5db4","order":2,"width":4,"height":1,"passthru":true,"options":[{"label":"Camion1","value":"Camion1","type":"str"},{"label":"Camion2","value":"Camion2","type":"str"},{"label":"Camion3","value":"Camion3","type":"str"},{"label":"Camion4","value":"Camion4","type":"str"},{"label":"Camion5","value":"Camion5","type":"str"}],"payload":"","topic":"","x":60,"y":280,"wires":[["f3ba79cc.6af8a8"]]},{"id":"c6771d5b.267f2","type":"comment","z":"22fe3908.b2e856","name":"Mapa posición general camiones","info":"","x":130,"y":40,"wires":[]},{"id":"1839de8e.d35341","type":"comment","z":"22fe3908.b2e856","name":"Tabla resumen estado","info":"","x":740,"y":40,"wires":[]},{"id":"5e0dd701.28ea08","type":"comment","z":"22fe3908.b2e856","name":"Desplegable con detalle por camiones","info":"","x":150,"y":220,"wires":[]},{"id":"db3c8d3a.3612e","type":"ui_text","z":"22fe3908.b2e856","group":"5641bd63.bd5db4","order":13,"width":6,"height":1,"name":"Temperatura ","label":"<i class=\"fa fa-thermometer-full\" aria-hidden=\"true\"></i>","format":"Temperatura cuba: {{msg.payload.temp}}º","layout":"row-center","x":810,"y":1320,"wires":[]},{"id":"a079b04a.f0d8","type":"ui_text","z":"22fe3908.b2e856","group":"5641bd63.bd5db4","order":9,"width":6,"height":1,"name":"Cadena frio","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"></i>","format":"Cadena frio: {{msg.payload.frio}}","layout":"row-center","x":810,"y":1360,"wires":[]},{"id":"f3750710.6c9ac8","type":"ui_button","z":"22fe3908.b2e856","name":"","group":"5641bd63.bd5db4","order":8,"width":4,"height":1,"passthru":false,"label":"Cargar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":50,"y":1360,"wires":[["c44b292e.cb2468"]]},{"id":"c44b292e.cb2468","type":"switch","z":"22fe3908.b2e856","name":"","property":"camion","propertyType":"flow","rules":[{"t":"eq","v":"Camion1","vt":"str"},{"t":"eq","v":"Camion2","vt":"str"},{"t":"eq","v":"Camion3","vt":"str"},{"t":"eq","v":"Camion4","vt":"str"},{"t":"eq","v":"Camion5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":190,"y":1360,"wires":[["630004a9.19626c","50fd93aa.f9c49c"],["b25f2d1e.b6d4"],["55914640.d808c8"],["181ed000.898fd"],["e9fab349.003db"]]},{"id":"630004a9.19626c","type":"function","z":"22fe3908.b2e856","name":"Camion1","func":"msg.payload = {\n    revision: flow.get(\"camion1.revision\"),\n    vida: flow.get(\"camion1.vidaRestante\"),\n    leche: flow.get(\"camion1.leche\"),\n    cuba:Math.ceil(Math.random() * 100),\n    temp: flow.get(\"camion1.temp\"),\n    frio: \"<font color=\\\"\" + flow.get(\"camion1.colorcadenafrio\") + \"\\\">\"+  \n        flow.get(\"camion1.cadenafrio\") + \"</font>\",\n    ruta: \"<font color=\\\"\" + flow.get(\"camion1.colordesvio\") + \"\\\">\"+  \n        flow.get(\"camion1.desvio\") + \"</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1200,"wires":[["ae8c06bf.217978"]]},{"id":"fab336bb.f5ddc8","type":"ui_gauge","z":"22fe3908.b2e856","name":"","group":"5641bd63.bd5db4","order":4,"width":6,"height":4,"gtype":"gage","title":"Capacidad cuba","label":"%","format":"{{msg.payload.cuba}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":1200,"wires":[]},{"id":"c7d89cbd.0febf","type":"ui_gauge","z":"22fe3908.b2e856","name":"","group":"5641bd63.bd5db4","order":5,"width":6,"height":4,"gtype":"donut","title":"Proxima revision","label":"KM","format":"{{msg.payload.revision}}","min":"0","max":"80000","colors":["#ff0000","#e6e600","#00ff40"],"seg1":"","seg2":"","x":820,"y":1240,"wires":[]},{"id":"b25f2d1e.b6d4","type":"function","z":"22fe3908.b2e856","name":"Camion2","func":"msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 29000,\n    leche: flow.get(\"camion2.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion2.temp\"),\n    frio: \"<font color=\\\"red\\\">NOK</font>\",\n    ruta: \"<font color=\\\"red\\\">SI</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1340,"wires":[["ae8c06bf.217978"]]},{"id":"55914640.d808c8","type":"function","z":"22fe3908.b2e856","name":"Camion3","func":"msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 400000,\n    leche: flow.get(\"camion3.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion3.temp\"),\n    frio: \"<font color=\\\"green\\\">OK</font>\",\n    ruta: \"<font color=\\\"green\\\">NO</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1380,"wires":[["ae8c06bf.217978"]]},{"id":"181ed000.898fd","type":"function","z":"22fe3908.b2e856","name":"Camion4","func":"msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 256489,\n    leche: flow.get(\"camion4.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion4.temp\"),\n    frio: \"<font color=\\\"green\\\">OK</font>\",\n    ruta: \"<font color=\\\"green\\\">NO</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1420,"wires":[["ae8c06bf.217978"]]},{"id":"e9fab349.003db","type":"function","z":"22fe3908.b2e856","name":"Camion5","func":"msg.payload = {\n    revision:Math.ceil(Math.random() * 80000), \n    vida: 262000,\n    leche: flow.get(\"camion5.leche\"),\n    cuba:Math.ceil(Math.random() * 100), \n    temp: flow.get(\"camion5.temp\"),\n    frio: \"<font color=\\\"red\\\">NOK</font>\",\n    ruta: \"<font color=\\\"green\\\">NO</font>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1460,"wires":[["ae8c06bf.217978"]]},{"id":"ae8c06bf.217978","type":"link out","z":"22fe3908.b2e856","name":"","links":["be1bd1f3.1c735"],"x":535,"y":1360,"wires":[]},{"id":"be1bd1f3.1c735","type":"link in","z":"22fe3908.b2e856","name":"","links":["ae8c06bf.217978","b6f2bcd6.e79e3","5d7f15c7.67493c","c2b36252.bac9c","84f71e36.f155c"],"x":655,"y":1320,"wires":[["db3c8d3a.3612e","a079b04a.f0d8","fab336bb.f5ddc8","c7d89cbd.0febf","3d012a5b.f0e9b6","e39c61c5.74a5f","91f76ee5.8868e"]]},{"id":"3d012a5b.f0e9b6","type":"ui_gauge","z":"22fe3908.b2e856","name":"","group":"5641bd63.bd5db4","order":6,"width":6,"height":4,"gtype":"donut","title":"Vida restante","label":"KM","format":"{{msg.payload.vida}}","min":"0","max":"480000","colors":["#ff0000","#e6e600","#00ff40"],"seg1":"","seg2":"","x":810,"y":1280,"wires":[]},{"id":"e39c61c5.74a5f","type":"ui_text","z":"22fe3908.b2e856","group":"5641bd63.bd5db4","order":15,"width":6,"height":1,"name":"Leche transportada","label":"<i class=\"fa fa-tint\"></i>","format":"Leche transportada: {{msg.payload.leche}} L","layout":"row-center","x":830,"y":1400,"wires":[]},{"id":"91f76ee5.8868e","type":"ui_text","z":"22fe3908.b2e856","group":"5641bd63.bd5db4","order":3,"width":6,"height":1,"name":"Ruta","label":"<i class=\"fa fa-road\"></i>","format":"Desvio ruta: {{msg.payload.ruta}}","layout":"row-center","x":790,"y":1440,"wires":[]},{"id":"31c38688.1f9dda","type":"mqtt in","z":"22fe3908.b2e856","name":"Camion 1","topic":"24:6F:28:87:F8:30/truck","qos":"2","datatype":"auto","broker":"4803336d.b278fc","x":60,"y":460,"wires":[["3203d525.3cd6ca"]]},{"id":"3203d525.3cd6ca","type":"json","z":"22fe3908.b2e856","name":"","property":"payload","action":"","pretty":false,"x":230,"y":460,"wires":[["77fee6e9.056a58","abaa1fdd.0273c","9e0bec34.6e25d","b3cdce8.3aded3"]]},{"id":"77fee6e9.056a58","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":400,"wires":[[]]},{"id":"abaa1fdd.0273c","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":440,"wires":[[]]},{"id":"1ffaa388.3c6ebc","type":"mqtt in","z":"22fe3908.b2e856","name":"","topic":"camion2","qos":"2","datatype":"auto","broker":"f36ed9da.6542e8","x":60,"y":720,"wires":[["1994555c.6fd1fb"]]},{"id":"1994555c.6fd1fb","type":"json","z":"22fe3908.b2e856","name":"","property":"payload","action":"","pretty":false,"x":230,"y":720,"wires":[["d202c3a9.0669c","573aed3a.010174","93035ab5.e19fc8","54f81558.7f7b7c"]]},{"id":"d202c3a9.0669c","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion2.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":660,"wires":[[]]},{"id":"573aed3a.010174","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion2.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":700,"wires":[[]]},{"id":"6dfc1fd2.1aeb7","type":"mqtt in","z":"22fe3908.b2e856","name":"","topic":"camion3","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":660,"y":720,"wires":[["eab0e5a1.016378"]]},{"id":"eab0e5a1.016378","type":"json","z":"22fe3908.b2e856","name":"","property":"payload","action":"","pretty":false,"x":830,"y":720,"wires":[["65ede7c5.dcce68","58a499b0.9b1458","f8c6847e.828a58","af000406.ce8608"]]},{"id":"65ede7c5.dcce68","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion3.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":660,"wires":[[]]},{"id":"58a499b0.9b1458","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion3.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":700,"wires":[[]]},{"id":"e40287b2.b3cc48","type":"mqtt in","z":"22fe3908.b2e856","name":"","topic":"camion4","qos":"2","datatype":"auto","broker":"f33c1de5.0e277","x":60,"y":960,"wires":[["9f2d7647.773ee8"]]},{"id":"9f2d7647.773ee8","type":"json","z":"22fe3908.b2e856","name":"","property":"payload","action":"","pretty":false,"x":230,"y":960,"wires":[["2565e2bd.6ef80e","c99f18e7.e60348","60f0ac6f.0b1f04","ac403cc7.b5a65"]]},{"id":"2565e2bd.6ef80e","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion4.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":900,"wires":[[]]},{"id":"c99f18e7.e60348","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion4.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":940,"wires":[[]]},{"id":"fdf55c7.3bd44a","type":"mqtt in","z":"22fe3908.b2e856","name":"","topic":"camion5","qos":"2","datatype":"auto","broker":"f36ed9da.6542e8","x":660,"y":960,"wires":[["aa1e8cd9.13272"]]},{"id":"aa1e8cd9.13272","type":"json","z":"22fe3908.b2e856","name":"","property":"payload","action":"","pretty":false,"x":830,"y":960,"wires":[["90f3d46a.d3cb98","36a3fa19.66dbf6","69ceb34b.92bc6c","25b8d9c1.46b046"]]},{"id":"90f3d46a.d3cb98","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion5.temp","pt":"flow","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":900,"wires":[[]]},{"id":"36a3fa19.66dbf6","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.leche","pt":"flow","to":"payload.leche","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":940,"wires":[[]]},{"id":"6299b78a.30fbf8","type":"inject","z":"22fe3908.b2e856","name":"ID conductor","topic":"","payload":"Conductor1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":400,"wires":[["e6940165.7639e"]]},{"id":"e6940165.7639e","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.conductor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":400,"wires":[[]]},{"id":"9e0bec34.6e25d","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.lat","pt":"flow","to":"payload.latGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":480,"wires":[[]]},{"id":"b3cdce8.3aded3","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.long","pt":"flow","to":"payload.longGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":520,"wires":[[]]},{"id":"a5a86661.988fe8","type":"comment","z":"22fe3908.b2e856","name":"Información recibida del dispositivo programado, se almacena en variables del flow","info":"","x":290,"y":360,"wires":[]},{"id":"6c110985.9fb7b8","type":"comment","z":"22fe3908.b2e856","name":"Información que se debería recibir de los otros 4 dispositivos","info":"","x":220,"y":600,"wires":[]},{"id":"93035ab5.e19fc8","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion2.lat","pt":"flow","to":"payload.latGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":740,"wires":[[]]},{"id":"54f81558.7f7b7c","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion2.long","pt":"flow","to":"payload.longGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":780,"wires":[[]]},{"id":"f8c6847e.828a58","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion3.lat","pt":"flow","to":"payload.latGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":740,"wires":[[]]},{"id":"af000406.ce8608","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion3.long","pt":"flow","to":"payload.longGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":780,"wires":[[]]},{"id":"60f0ac6f.0b1f04","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion4.lat","pt":"flow","to":"payload.latGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":980,"wires":[[]]},{"id":"ac403cc7.b5a65","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion4.long","pt":"flow","to":"payload.longGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1020,"wires":[[]]},{"id":"69ceb34b.92bc6c","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion5.lat","pt":"flow","to":"payload.latGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":980,"wires":[[]]},{"id":"25b8d9c1.46b046","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion5.long","pt":"flow","to":"payload.longGPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1020,"wires":[[]]},{"id":"173ac8b7.81cd47","type":"comment","z":"22fe3908.b2e856","name":"Visualización de los datos por camión. Se mantiene la pulsación del botón ya que la visualización de los datos limpia alarmas","info":"","x":420,"y":1140,"wires":[]},{"id":"a857ed36.03721","type":"inject","z":"22fe3908.b2e856","name":"Sentido ruta","topic":"","payload":"LACCIM a MBadosa","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":440,"wires":[["1456e157.62dfaf"]]},{"id":"1456e157.62dfaf","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.ruta","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":440,"wires":[[]]},{"id":"7164699b.591388","type":"function","z":"22fe3908.b2e856","name":"Tabla estado camiones","func":"var thing = [\n    {\n        \"Number\": \"<b>Camion1</b>\",\n        \"Driver\": flow.get(\"camion1.conductor\"), \n        \"Destination\": flow.get(\"camion1.ruta\"), \n        \"Time\": flow.get(\"camion1.tiempoRestante\"),\n        \"Status\": flow.get(\"camion1.status\"),\n        \"ToCheck\": flow.get(\"camion1.check\")\n    },\n    {\n        \"Number\": \"<b>Camion2</b>\",\n        \"Driver\": \"Conductor2\",\n        \"Destination\": \"Llenando cuba\",\n        \"Time\": \"5M\",\n        \"Status\": 50,\n        \"ToCheck\": false\n    },\n    {\n        \"Number\": \"<b>Camion3</b>\",\n        \"Driver\": \"Conductor3\",\n        \"Destination\": \"LACCIM a CSiset\",\n        \"Time\": \"55M\",\n        \"Status\": 85,\n        \"ToCheck\": true\n    },\n    {\n        \"Number\": \"<b>Camion4</b>\",\n        \"Driver\": \"Conductor4\",\n        \"Destination\": \"MAlmar a LACCIM\",\n        \"Time\": \"1H 36M\",\n        \"Status\": 36,\n        \"ToCheck\": false\n    },\n    {\n        \"Number\": \"<b>Camion5</b>\",\n        \"Driver\": \"Conductor5\",\n        \"Destination\": \"LACCIM a MGener\",\n        \"Time\": \"26M\",\n        \"Status\": 48,\n        \"ToCheck\": true\n    },\n    {\n        \"Number\": \"<b>Decanso</b>\",\n        \"Driver\": \"Conductor6\",\n        \"Destination\": \"\",\n        \"Time\": \"\",\n        \"Status\": 85,\n        \"ToCheck\": true\n    }\n]\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":100,"wires":[["623202fc.86473c"]]},{"id":"b5cec5a2.433108","type":"comment","z":"22fe3908.b2e856","name":"Información recibida por otros medios, pero también tenida en cuenta en la tabla","info":"","x":940,"y":360,"wires":[]},{"id":"d190822a.a3085","type":"inject","z":"22fe3908.b2e856","name":"Dato NO comprobado","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":480,"wires":[["54483260.d847ac"]]},{"id":"54483260.d847ac","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.check","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":480,"wires":[[]]},{"id":"50fd93aa.f9c49c","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.check","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1260,"wires":[[]]},{"id":"198bd63b.635f9a","type":"inject","z":"22fe3908.b2e856","name":"Tiempo a destino","topic":"","payload":"1H 25M","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":520,"wires":[["432c0415.719e6c"]]},{"id":"432c0415.719e6c","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.tiempoRestante","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":520,"wires":[[]]},{"id":"51127418.1a047c","type":"inject","z":"22fe3908.b2e856","name":"Cadena frio NOK","topic":"","payload":"NOK","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1640,"wires":[["e2401be1.1a85b8","b71574a4.074498"]]},{"id":"e2401be1.1a85b8","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.cadenafrio","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1640,"wires":[[]]},{"id":"34a90510.c1bdca","type":"comment","z":"22fe3908.b2e856","name":"Datos adicionales para la gestión del estado del camión","info":"","x":220,"y":1580,"wires":[]},{"id":"5ec6e111.00622","type":"inject","z":"22fe3908.b2e856","name":"Vida restante NOK","topic":"","payload":"299","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1740,"wires":[["ed08e50e.e15f78"]]},{"id":"ed08e50e.e15f78","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.vidaRestante","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1740,"wires":[[]]},{"id":"612d16c.b3067e8","type":"inject","z":"22fe3908.b2e856","name":"Desvío ruta NOK","topic":"","payload":"SI","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1780,"wires":[["7f131928.939e68","e1f282a6.2bcb6"]]},{"id":"7f131928.939e68","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.desvio","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1780,"wires":[[]]},{"id":"2328f4b5.2ed7dc","type":"inject","z":"22fe3908.b2e856","name":"Proxima revisión NOK","topic":"","payload":"299","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1880,"wires":[["aa2127ec.8ba798"]]},{"id":"aa2127ec.8ba798","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.revision","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1880,"wires":[[]]},{"id":"ce9b6a8f.575f88","type":"function","z":"22fe3908.b2e856","name":"Status Camión 1","func":"var cadenaFrio = flow.get(\"camion1.cadenafrio\")\nvar vidarestante = flow.get(\"camion1.cadenafrio\")\nvar desvio = flow.get(\"camion1.desvio\")\nvar revision = flow.get(\"camion1.revision\")\n\nflow.set(\"camion1.status\", 100)\n\nif (desvio==\"SI\"){\n    flow.set(\"camion1.status\", 50)\n}\n\nif (revision<300){\n    flow.set(\"camion1.status\", 50)\n}\n\nif (cadenaFrio==\"NOK\"){\n    flow.set(\"camion1.status\", 0)\n}\n\nif (vidarestante<300){\n    flow.set(\"camion1.status\", 0)\n}\n\n\n","outputs":1,"noerr":0,"x":320,"y":1960,"wires":[[]]},{"id":"758ec822.f3df88","type":"inject","z":"22fe3908.b2e856","name":"Status","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":1960,"wires":[["ce9b6a8f.575f88"]]},{"id":"d53ca2dc.7d7f2","type":"inject","z":"22fe3908.b2e856","name":"Cadena frio OK","topic":"","payload":"OK","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":1640,"wires":[["edc4609a.feefb","5e1718d.e0b01e8"]]},{"id":"edc4609a.feefb","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.cadenafrio","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1640,"wires":[[]]},{"id":"f2875595.0c8fc8","type":"inject","z":"22fe3908.b2e856","name":"Vida restante OK","topic":"","payload":"256984","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":1740,"wires":[["a491a578.00ae18"]]},{"id":"a491a578.00ae18","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.vidaRestante","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1740,"wires":[[]]},{"id":"fb7bcb5a.dea568","type":"inject","z":"22fe3908.b2e856","name":"Desvío ruta OK","topic":"","payload":"NO","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":1780,"wires":[["76854e53.679a1","342401a1.3add6e"]]},{"id":"76854e53.679a1","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.desvio","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1780,"wires":[[]]},{"id":"52e90fbe.dcaf9","type":"inject","z":"22fe3908.b2e856","name":"Proxima revisión OK","topic":"","payload":"42351","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":1880,"wires":[["74872c04.472d94"]]},{"id":"74872c04.472d94","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.revision","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1880,"wires":[[]]},{"id":"b71574a4.074498","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.colorcadenafrio","pt":"flow","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1680,"wires":[[]]},{"id":"5e1718d.e0b01e8","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.colorcadenafrio","pt":"flow","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1680,"wires":[[]]},{"id":"e1f282a6.2bcb6","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.colordesvio","pt":"flow","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1820,"wires":[[]]},{"id":"342401a1.3add6e","type":"change","z":"22fe3908.b2e856","name":"","rules":[{"t":"set","p":"camion1.colordesvio","pt":"flow","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1820,"wires":[[]]},{"id":"a83fcf3d.3376e","type":"ui_group","z":"","name":"MapaCamiones","tab":"536f05d0.b1f6cc","disp":true,"width":29,"collapse":true},{"id":"5641bd63.bd5db4","type":"ui_group","z":"","name":"Camiones","tab":"536f05d0.b1f6cc","disp":true,"width":29,"collapse":true},{"id":"4803336d.b278fc","type":"mqtt-broker","z":"","name":"azContainerMosquitto","broker":"iiotmosquitto0018.westeurope.azurecontainer.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f36ed9da.6542e8","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.252","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f33c1de5.0e277","type":"mqtt-broker","z":"","name":"","broker":"20.50.173.151","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"536f05d0.b1f6cc","type":"ui_tab","z":"","name":"InfoCamiones","icon":"fa-truck","disabled":false,"hidden":false}]